[2021-08-31 07:02] IosifZ commented on #236
I have the exact same issue. Ctrl+Shift+R solves the issue, but unfortunately there is no way to accomplish this on my mobile. Any news on this one?

[2021-08-31 22:40] tamaskan commented on #256
isn't that already in there ? just add type: "ping" to the item

[2021-09-01 09:01] agneevX opened #268 "Disable bookmark URL lookups"
Whenever I launch Homer, it does DNS lookups for all bookmarks listed.

Can this be disabled? I already have `connectivityCheck: false` in my config.

With this enabled, and when bookmarks (apps) are offline, there's no difference.

[2021-09-01 18:39] grandmastermarco commented on #256
Thanks for the info. I searched again in the documentation and found the ping info in ‚custom services‘.
Sadly there is a mistake in the documentation and i dont understand how to use ping - do you need to exclude subtitle like e.g. PiHole?
#249 describes the problem. Thanks for the help anyway.

[2021-09-01 18:39] #256 closed

[2021-09-07 12:37] Barokai commented on #265
Create a custom stylesheet with the needed css adaptoins and embed it like mentioned here: https://github.com/bastienwirtz/homer/blob/main/docs/configuration.md

**Example step by step**
Copy custom.css.sample and rename it to custom.css
edit and add your desired css (just and example to achieve 5px spacing below the cards)
[code]

Add the stylesheet to your config.yml
[code]

Refresh

[2021-09-07 14:10] samcro1967 commented on #265
Awesome.  Worked as expected.  Thank you and appreciate all of your work on this project!

[2021-09-07 14:10] #265 closed

[2021-09-07 14:14] Barokai commented on #265
you're welcome :)
PS: this isn't my work - it's the great work of @bastienwirtz and the other contributors, I just wanted to help you as i saw this issue and thought i'll try to help

[2021-09-08 12:19] IGProd opened #269 "Search keyword"
Hi,

Is that possible to search applications using keyboard directly
for example if i want to search for plex i tape letter p instead of click on search bare and tape plex or /
Thank you

[2021-09-09 11:23] austozi opened #270 "Multi-page setup - wrong buttons loaded when navigating to a different page"
**Version**
Docker (`b4bz/homer:latest` - as of 9 Sep 2021)
OS/Arch: linux/arm
Browser: Firefox 91.0.2/64-bit, Chromium 90.0.4430.212/64-bit

**The Issue**

In my multi-page setup, when navigating between pages, buttons from the previous page are shown on the new page. A refresh is necessary to load the correct buttons on the new page. Video attached below to illustrate what I mean:

https://user-

[2021-09-10 05:23] jeremytodd1 commented on #162
I have the same issue pretty often as well. It makes me want to switch back to Heimdall, to be honest.

I'm hoping this issue gets fixed pretty soon.

[2021-09-10 08:45] mokshmridul opened #272 "[Problem] Cant Connect to Sonarr / Radarr Service due to CORS (even after bug 250 Fix)"
Im trying to connect to the custom Sonarr and Radarr Service, but im getting the following errors in the console:

[code]

My Homer Config for Sonarr is below:

[code]

My NGINX Sonarr Block

[code]

[2021-09-10 20:22] Emilaia opened #273 "(Idea) Reuse Search Bar For Custom Search Providers"
I like homer a lot, and it is currently my "new tab" for any browser I use, but I just thought the only thing it lacked was a regular online search bar.

I was thinking it may be possible to reuse the current search bar that you can focus when pressing `/`, to also be used with custom search engines (some call these providers), so that it can easily be used for when you want to search something on

[2021-09-10 22:10] LazyInLA commented on #270
I'm also experiencing the same behavior with multiple pages.  Occurs about half (or perhaps somewhat less) the time going from main page to another.
Debian10amd64/Apache/Chrome

[2021-09-11 00:32] robinschneider commented on #110
I implemented this feature and will create a PR soon.

[2021-09-11 01:36] Emilaia commented on #227
I'm interested on doing something similar.

I have homer hosted on a raspberry pi, and am interested on adding "shutdown" and "reboot" buttons to the dashboard for the pi, given how it doesn't come with physical buttons.

Some people have done this on docker by [using named pipes](https://stackoverflow.com/a/63719458), which is basically just a process that listens for files added to an empty fold

[2021-09-11 22:21] robinschneider commented on #273
How about double press your hotkey and then have your google search? Would be easier to implement and also I would prefer to press my hotkey twice instead of the prefix.

[2021-09-11 22:30] robinschneider commented on #269
I like the idea of an auto search.
I already have a PR to be able to set a custom hotkey, as soon as this PR is merged (or rejected) I will submit a PR for this feature.

[2021-09-11 22:32] robinschneider opened #276 "Search bar does not allow to use hotkey within search term"
As of right now the search bar does not allow to use the hotkey `/` within the search term.
This may not be a problem right now, but I have an open PR where you can change the hotkey and it is easy to use space but I want to be able to use the space bar within the search term.

[2021-09-12 01:34] Emilaia commented on #273
I think providing a way to bind your own keyboard shortcuts has the potential to complicate things, for the person that has to make it.

The specific idea you're proposing of double clicking a key isn't outrageous, but if more optional modules are added down the line, it could mean that you have to constantly toggle listening for hotkeys on and off. Like, if you were using the search bar to filter

[2021-09-12 12:51] Yassine2217 commented on #269
Thank you

[2021-09-13 10:59] rvankraaij commented on #272
The fix for bug #250 was merged but AFAIK not released yet, so we will have to wait until that's done.

[2021-09-13 16:17] mokshmridul commented on #272
Ahh okay, my bad. I thought this got released. Im going to mark this thread as closed for now, in this case.

Thanks.

[2021-09-13 16:17] #272 closed

[2021-09-13 19:45] #141 closed

[2021-09-13 21:08] #180 closed

[2021-09-14 13:07] fitur commented on #232
Anyone figured out how to fix this? My Homer dashboard is behind Container Nursery, Authelia and Swag. Having the same issue as OP mentioned.

[2021-09-15 02:33] neographophobic opened #285 "v21.09.01 not tagged in docker hub"
The latest release, v21.09.01 has not been tagged in Docker Hub. Would it be possible to get the version tagged in addition to the latest tag?

[2021-09-15 06:45] ibizaman commented on #162
Had this issue with darkhttpd behind keycloak behind haproxy until I replaced darkhttpd with caddy:
[code]

[2021-09-15 13:31] bastienwirtz commented on #285
HI, @neographophobic,
there was an interruption in the auto build, but you can jump directly to the v21.09.0**2** tag.

[2021-09-15 15:40] zotabee commented on #236
Seems still broken even after pull/186 (using authelia/authelia:latest) as of yesterday build.

[2021-09-15 15:40] zotabee commented on #226
Seems still broken even after pull/186 (using authelia/authelia:latest) as of yesterday build.

[2021-09-16 10:57] fitur opened #286 "Message not reading child object in JSON"
Im trying to utilize the message function but I can't seem to get it right:
[code]
Which shows the message content as: { "result": "success", "message": null, "data": "Dillon, you son of a bitch!" } in the dashboard, which is part of {"response": {"result": "success", "message": null, "data": "Dillon, you son of a bitch!"}} which comes from the Tautulli API.

When I try to map 'content' to the 'me

[2021-09-16 15:58] sepffuzzball commented on #232
I'm also experiencing this issue using Authelia and Swag - glad to know it's not just me!

[2021-09-16 16:07] poldim commented on #232
@bastienwirtz any thoughts on why this might be happening?  I’m only experiencing this on homer and none of my other dozen or so self hosted apps

[2021-09-16 18:33] FrouxBY commented on #232
I think this is likely due to the PWA parameters, that keep mostly everything as cache, except the config.yml, wich is then requested alone, and not as part of the whole page, which cause browsers to downlaod it.
But beside this diagnostic, I haven't investigate on how to solve it

[2021-09-16 22:18] neographophobic commented on #285
Thanks for all of your work. That works for me.

[2021-09-16 22:18] #285 closed

[2021-09-17 21:53] deadbuzzard commented on #232
Do you mind me asking what your setup in SWAG is? I can't get homer to show up as my homepage..I tried subbing homer for Heimdall in their docs

[2021-09-18 11:51] danzkigg commented on #194
Hey guys,
I've followed the suggestions here and I still can't get the stats to show in the Homer Dashboard.

Currently Homer runs in Docker and PiHole in a VM.
I've added the Homer's IP to the list of `$AUTHORIZED_HOSTNAMES` but I still get this error:

[2021-09-19 15:30] robinschneider opened #287 "Add support for OctoPrint"
Add support for OctoPrint with the current status of the 3D printer via OctoPrint HTTP API.

[2021-09-21 20:17] bastienwirtz commented on #287
Hey @robinschneider,

I like this idea, I'm adding that to my todo list!
Thanks!

[2021-09-21 20:22] bastienwirtz commented on #286
Hey @fitur, thanks for reporting this. the mapping only works on property at the root level for now, but that would be great to map nested properties as well. I'm adding that to my todo list !

[2021-09-21 20:25] bastienwirtz commented on #270
Hi there, thanks for reporting this!
I will have to investigate, I'll keep you updated.

[2021-09-21 20:29] robinschneider commented on #287
@bastienwirtz I have it almost finished, I will create a PR at the weekend

[2021-09-21 20:33] bastienwirtz commented on #257
Hi @MoryCorp, I'm afraid that's not possible for now! Your only option is to reformat the output on your own (create a script or something which call the original api, extract the data you want and format it the way Homer can understand)

[2021-09-21 22:18] BornToBeRoot opened #288 "fas fa with "-" dont work"
Hi,

i am not able to use icon like `fas fa-hard-drive`. It seems like all icons with a second `-` don't work.

Greetings
BornToBeRoot

Edit: i use this url to search for icons: https://fontawesome.com/v6.0/icons

[2021-09-22 11:31] MephistoJB opened #289 "Adguard Home Config"
Does anybody know how to config Home for the Adguard Home Custom Service? Couldn't find any docs.

Thx a lot

[2021-09-22 16:37] mad73923 opened #290 "[FR] Add URL prefix"
Hey,
is there any possibility to add a URL prefix for running homer behind a reverse-proxy with a given URL eg.

example.com/dashboard

I tried it with traefik but had no luck. Got a 404 or a blank page (without and with prefix-stripping).
I looked up the source and found some occurences of BASE_URL environment variable.
Could this be a solution?

Thanks

[2021-09-22 23:00] virtadpt commented on #236
#186 isn't working for me, either.
Built from Git commit d489f6ef87763099abdefd197f1d973a78f59883, behind HTTP basic auth.  Debugging console shows that /assets/config.yml can't be pulled down because a 401 error was received from the server (after I authenticated and the rest of Homer was loaded).

[2021-09-22 23:09] robinschneider commented on #288
You used the fontawesome 6 icons, but you have to use the fontawesome 5 icons instead.
The equivalent of your icon would probably be `fa-hdd`.

Here you can search them https://fontawesome.com/v5.0/icons

[2021-09-23 08:41] BornToBeRoot commented on #288
OK Thanks. I will test it.

[2021-09-23 21:17] ElPiloto opened #293 "How to add custom theme when using docker image?"
I searched my docker container but was unable to figure out where themes were kept (e.g. "sui.scss").  Is it possible to make custom themes when using the docker image?  If so, where would I need to place the corresponding theme location?

[2021-09-24 00:41] Zerobian opened #294 "Columns and label size"
Hi,

I like the app really much, simple and lightweight.
I couldn't figure out, how to get more than three columns working. Space on left and right is sufficent for five.
Also I would like to know how to shrink the label for each entry. When I use a page for Weblinks, I only need the name. Is there a chance to customize this via an option?

Thanks and best regards
Sven

[2021-09-24 09:53] fbartels commented on #294
Hi @Zerobian,

there is a columns option in the config.yml to configure the amount of rows. To make it fill your full screen you probably need to override the css however.

[2021-09-24 11:08] wesparish opened #295 "Default to column view?"
Is it possible to default to multi-column view vs single-column view and dark-mode vs light-mode?

Currently, I get the view I'm looking for if I click the center icon in the top navbar. Unfortunately, this doesn't persist across browsers or computers.

![image](https://user-images.githubusercontent.com/4511903/134665098-809c615f-b1fa-441f-b6e5-a65e77ec82d6.png)

[2021-09-25 03:35] Zerobian commented on #294
You're right, I had an older config file. Feature has been added afterwards.

[2021-09-25 03:35] #294 closed

[2021-09-25 07:44] adyanth opened #296 "Pi-Hole component CORS issue"
Can I understand the reason behind including `credentials: true` in ecec695272f3e41d66401affea7f6fe5a93d3c28 (corrected implementation in bbe7149d5814efc1d97613af107b12ba8f8a1c22)?

Since `Access-Control-Allow-Credentials` is not set by Pi-Hole, this fails. Also, there is no need for cookies to be included, since Pi-Hole API does not need any login/auth. Please revert this change (or I can send in

[2021-09-25 07:47] adyanth commented on #296
Test:
![image](https://user-images.githubusercontent.com/33192449/134763582-44bded50-baa8-45c1-9fb2-33be1857ff25.png)

[2021-09-25 07:50] adyanth commented on #296
I see that it was part of this PR https://github.com/bastienwirtz/homer/pull/258
It would help in that case, but break other implementations :(

[2021-09-25 08:20] adyanth commented on #296
To people coming here running docker versions with the fix for Pi-Hole CORS (docker v2021.09 and later) and running it behind traefik, we can make use of middlewares to fix it.

[code]

[2021-09-25 08:20] #296 closed

[2021-09-25 11:44] bastienwirtz commented on #293
Hi @ElPiloto,

the themes are build in and you cannot add your own, unless you submit a pull request to have it integrated to the project (which would be great!). Otherwise you can use the `stylesheet` option from the `config.yml`

[code]

[2021-09-26 02:25] D4rkiii opened #297 "pihole custom service - Access-Control-Allow-Credentials problem - CORS set in pihole"
Hello,

I'm facing a problem with the pihole custom service and im not sure if i'm doing something wrong.

Setup:
Homer: dashboard.mydomain.com
config.yml:
      - name: "PiHole"
        logo: "assets/tools/sample2.png"
        #subtitle: "Network-wide Ad Blocking"
        <<: *Apps
        type: "PiHole"
        url: "http://pihole.mydomain.de/admin"

pihole: pihole.mydomain.com
CORS_HOSTS: dashb

[2021-09-26 07:54] bastienwirtz commented on #242
HI there,

I understand your need but I will not add support specifically for google analytics, because there a plenty of other analytics tools.
What we can do is offer a way to add a javascript tag to the page. I will think about it. Thanks for the suggestion.

[2021-09-26 07:56] #242 closed

[2021-09-26 08:05] bastienwirtz commented on #232
Hi there!

@poldim that's exactly what @FrouxBY identified. I definitely need to work on it, I'm not sure how I can keep offline capabilities and fix this problem. A first step could be to add a way to disable the service worker entirely.

[2021-09-26 08:09] bastienwirtz commented on #236
Hi there !

I'm closing this one because it's a duplicate of #226. I will work on that asap!

[2021-09-26 08:09] #236 closed

[2021-09-26 08:11] bastienwirtz commented on #95
Hi there!

Sorry for the long wait on this topic.
I'm closing this one to centralize discussions in the most recent open issue on this: #226. I will work on that asap!

Thanks everyone.

[2021-09-26 08:11] #95 closed

[2021-09-26 08:12] bastienwirtz commented on #91
Hi there,

I'm closing this one. I will work on different layout on the future, but it's not the immediate priority.
Best,

[2021-09-26 08:12] #91 closed

[2021-09-26 08:19] bastienwirtz commented on #226
Hi there,

Lots of issues open on this topic, I'm centralizing the discussions on the most recent one (#232 ) and closing the duplicates. I will work on that asap.

[2021-09-26 08:19] #226 closed

[2021-09-26 08:23] #249 closed

[2021-09-26 08:24] #205 closed

[2021-09-26 08:29] bastienwirtz commented on #216
Hi there,

Sorry for the late reply, @mightywomble are you still having the issue ? If yes, can you provide more information about the web page not loading ? Is it working with a curl ? is the docker listening correctly ? (maybe a telnet test?) Do you have any error un the browser web console ?

[2021-09-26 08:31] bastienwirtz commented on #222
HI there,

I'm closing this one as it's a #132 duplicate. I might be able to improve that but the way it works (loading theme & color pref from the yaml file), add some latency to the colors to apply (time fetch & parse the yaml file)

[2021-09-26 08:31] #222 closed

[2021-09-26 08:37] bastienwirtz commented on #220
I'm closing this one but I will update the documentation to explain that. Thanks !

[2021-09-26 08:37] #220 closed

[2021-09-26 08:38] #182 closed

[2021-09-26 08:40] #211 closed

[2021-09-26 08:42] bastienwirtz commented on #295
Hello @wesparish !

It's already reported on #200 and I will work on it asap. I'm closing this one because of the duplicate.
Thanks!

[2021-09-26 08:42] #295 closed

[2021-09-26 08:46] bastienwirtz commented on #229
HI there,

It's a known issue and I'll work on it soon. I'm centralizing discussion in #232 and closing this one.

[2021-09-26 08:46] #229 closed

[2021-09-26 09:00] pierrecle commented on #232
In my opinion, the best solution is to be able to enable/disable SW using a configuration. If I'm right, SW are set in Homer only to reduce network traffic (IE for caching purpose, but handled frontside). When using nginx or any other basic webserver, cache can be easily handled by the server.

As of today, I can't see how Homer can be used offline. Be able to handle local or remote access would b

[2021-09-26 09:23] bastienwirtz commented on #232
Thanks for the feedback @pierrecle !

Regarding the pwa, the main goal was to make possible to "install" it on mobile, so you can have kind of an app for your services. I will make this optional!

[2021-09-26 09:33] pierrecle commented on #232
Ok I understand but when the app is installed on a mobile. Another solution but quiet more complicated would be to add configuration to the auth URL (such as https://auth.blah.blah/?redirect=https://blah.blah). If set, when fetching the configuration file, if response status is 403, then redirect to auth URL set in the configuration. That should work with SW.

[2021-09-26 09:34] AlexFullmoon commented on #289
You just point it to AGH domain (I believe you need one or you'll get mixed content warning unless everything works over http) and add `type: "AdGuardHome"` to tile in config.yml.
It works automatically after you login to AGH once and just shows enabled/disabled status.

[2021-09-26 10:12] mightywomble commented on #216
I moved on, found a working solution

David Field
http://tech.davidfield.co.uk
On 26 Sep 2021, 9:29 AM +0100, Bastien Wirtz ***@***.***>, wrote:

[2021-09-26 11:38] bastienwirtz commented on #216
All right :+1:
I'm closing this one.

[2021-09-26 11:38] #216 closed

[2021-09-26 11:47] bastienwirtz commented on #288
Yes, only fa icon v5 are supported at the moment.

[2021-09-26 11:47] #288 closed

[2021-09-26 11:53] bastienwirtz commented on #269
Hi there!

Why not, it sounds handy. @robinschneider your PR should be merged soon, I just have to take some time to test it but it seems fine.

Thnaks.

[2021-09-26 12:45] AlexFullmoon commented on #297
Don't know much about how how pihole does it or php handles CORS, but I'd like to note that homer modules send HEAD requests, which might not be accounted for in usual settings.

Just had to deal with nginx configuration, and most examples I googled up check only for GET, POST, OPTIONS and sometimes a few others, but not HEAD. E.g. this bit in locations block:
[code]
In such case HEAD request won'

[2021-09-26 18:24] xconverge commented on #249
@bastienwirtz this is still not fixed? https://github.com/bastienwirtz/homer/blob/main/docs/customservices.md#ping

[2021-09-27 13:29] nefas83 commented on #289
I think with the protection_enabled function the strings must be adjusted on which is checked.
The return value is "true" and "false".

[2021-09-27 13:57] zblesk opened #298 "How to conditinally hide "Optional message" from the API?"
I'd like to use the "Optional Message" to display a heads-up if my heartbeat indicates issues.
However, I'd like to hide it if everything is OK.
Is there a way of doing that? That is, "if 'value' is '3'" show, otherwise hide.

[2021-09-27 20:57] mcclurec commented on #296
@adyanth 👋  I don't get the `access-control-allow-credentials` on my own setup, although I'd need to dig in farther to see what's setting the header to `true`. I run Traefik as a reverse proxy, but haven't explicitly set the header like in your example. I'm running [PiHoile v5.4](https://github.com/pi-hole/pi-hole/releases/v5.4) and the full response payload says it's being served by `lighttpd`, w

[2021-09-28 02:33] adyanth commented on #296
@mcclurec I'm curious as to which version of Pi Hole are you using?

[2021-09-28 16:21] mcclurec commented on #296
[v5.4](https://github.com/pi-hole/pi-hole/releases/v5.4)

[2021-09-28 16:42] mcclurec commented on #297
This is a duplicate of [issue 296](https://github.com/bastienwirtz/homer/issues/296). I inadvertently introduced this issue in [PR 258](https://github.com/bastienwirtz/homer/pull/258). I'll work on a fix to make the `credentials: 'include'` param optional. Ah, the CORS... always a joy to work with. Turns out if we all have different networking stacks, it's hard to make universal decision that "jus

[2021-09-28 18:12] iammenasco opened #300 "`manifest.json` changes not picked up in Docker Image"
**Context**
Basic installation using [docker-compose](https://github.com/bastienwirtz/homer/issues/new)

**Issue**
Changing `"theme_color": "#3367D6"` to `"theme_color": "#368dda"` in `manifest.json` results in the page rendering with `<meta name="theme-color" content="#3367D6">` which is different from what is expected regarding [this line of code](https://github.com/bastienwirtz/homer/blob/99601

[2021-09-28 23:10] D4rkiii commented on #297
Ahhh sorry @mcclurec not seen this issue and it wasnt my purpose do add a duplicate, sorry for that!
Thanks for the input and for the clearification! I will close this ticket with this comment and If you need to know how to reproduce this.

Here my setup in my local network:
- pihole (docker on synology nas)
- homer (docker on synology nas)
- Both registered in reverse proxy from synology (simple

[2021-09-28 23:10] #297 closed

[2021-09-28 23:22] mcclurec commented on #297
No worries about the dupe! Thanks for the extra info

[2021-10-02 21:32] flyingfishflash commented on #270
@bastienwirtz: This is likely a duplicate of #252

[2021-10-04 18:02] propserer opened #303 "Log keep spam 127.0.0.1 "GET /" 200 2996 "" "Wget""
My homer docker container log keep spamming with
`1633369746 127.0.0.1 "GET /" 200 2996 "" "Wget" `

here my compose file look like

[code]

Test with raspberry pi and on my linux mint machine both spamming the log with the same 127.0.0.1 "GET /" 200 2996 "" "Wget"
when i check glances and ctop it cause cpu spike

[2021-10-05 05:08] sargonas commented on #303
same, I was wondering about this as well as I notice it on my docker container as well, when I glanced at my Greylog server and saw it full of them.

[2021-10-05 05:56] fbartels commented on #303
Its not the connectivity check from homer itself, but the container healthcheck that is the source of these. See https://github.com/bastienwirtz/homer/blob/451b1ac62450fb2c4f8e2382bcf422bb7a434700/Dockerfile#L28-L29

[2021-10-05 05:58] sargonas commented on #303
Ahhhh that makes sense, thanks!

[2021-10-05 08:15] fbartels commented on #303
Yes, a 5 second interval for the health check seems quite excessive.

[2021-10-05 14:42] propserer commented on #303
How can i disable it?

[2021-10-05 14:47] propserer commented on #303
How can i disable the health check?

[2021-10-05 22:10] sargonas commented on #303
You can override the health check parameters defined inside the container by simply adding them to your startup command or compose file. For the compose file, you  have 4 options you can set:

[code]

  In the case of this image, I just added the following to kill it entirely for now until I take time to rethink how I want it to run long term:

[code]

[2021-10-06 01:49] propserer commented on #303
Thank you very much

[2021-10-06 21:29] #257 closed, assigned to nobody

[2021-10-06 21:43] bastienwirtz opened #305 "New built-in theme"
Homer supports [built-in themes](https://github.com/bastienwirtz/homer/blob/main/docs/development.md#themes), based on [bulma](https://bulma.io/documentation/).

It could be great to add some more. Before starting to work on a theme, please open an issue to describe your idea, link your inspiration if any, and discuss about it.  Themes are supposed to be mobile friendly and light & fast to load.

[2021-10-06 21:49] bastienwirtz opened #306 "More custom services"
Homer supports [custom services](https://github.com/bastienwirtz/homer/blob/main/docs/customservices.md), and provides a [template](https://github.com/bastienwirtz/homer/blob/main/docs/development.md#custom-services) to easily add new ones.

It could be great to add some more. Before starting to work on a custom service please open an issue to describe your idea and discuss about it.

Some ideas:

[2021-10-09 14:36] jleboube commented on #289
Could you provide the settings to be able to show the same stats Heimdall shows on its tile?

[2021-10-10 19:05] bastienwirtz commented on #266
Of course. To use a custom service you just have to add an item in your service list with the additionnal `type` property. You have an example near the end of the configuration sample o this page https://github.com/bastienwirtz/homer/blob/main/docs/configuration.md#supported-services (Pi-Hole).

[2021-10-10 19:53] IamCage opened #309 "Request Entity Too Large"
every day i had this problem "Request Entity Too Large". any chance to fix it?

![image](https://user-images.githubusercontent.com/31358602/136711172-c6f6963b-25f4-4c08-9051-c974c6af3c8a.png)

[2021-10-12 00:57] Aryess opened #312 "VueJS warning when rendering multiple service groups in list mode"
Because services uses their sub-group index as a key, and are all displayed in the same div, if there are multiple groups, some services end up having the same key.

![Screenshot from 2021-10-12 11-49-08](https://user-images.githubusercontent.com/3518172/136872652-cefbf8a5-ff81-41c5-b794-cd54ac8740a9.png)

This is only a warning, and doesn't currently impact rendering, but still worth fixing.

[2021-10-12 01:02] Aryess commented on #312
#313

[2021-10-12 08:25] AlexFullmoon commented on #289
@jleboube Any errors in browser console? As I mentioned above, you _might_ need a domain for your AGH, either provided by AGH itself, or by putting it behind reverse proxy. Simply putting https before IP address certainly won't do anything.

For example, my config:
[code]
Where that dns.mydomain.tld domain is provided by my other server's nginx.

[2021-10-12 11:23] Zazou49 commented on #248
I have the same error, Error in firefox :

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at ‘http://192.168.1.9:7879/api/queue?apikey=39ac419246934b9eaf49106308c40589’. (Reason: Credential is not supported if the CORS header ‘Access-Control-Allow-Origin’ is ‘*’).`

 https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSNotSupportingCredenti

[2021-10-13 03:26] lgaudreau opened #315 "Inconsistencies between apikey and apiKey with Mealie & Openweather / others"
I'm running both Mealie and using OpenWeather in Homer.

Mealie will only authenticate successfully if the key 'apikey' is used (all lower case), but Openweather will only work if 'apiKey' (capital 'K') is used.

I haven't tried adding more services yet.

[2021-10-14 09:59] AlexFullmoon opened #317 "Error reading PiHole stats"
Pihole at https://dns.mydomain.tld/api.php returns valid-looking json:
[code]

Yet homer/PiHole.vue fails with
SyntaxError: Unexpected token F in JSON at position 0  PiHole.vue:71

[2021-10-17 10:03] fbartels commented on #305
https://github.com/WalkxCode/Homer-Theme was posted on Reddit yesterday

[2021-10-17 16:49] sargonas commented on #317
If it helps you any, I just looked at my own, and it seems to be working fine, and from looking through the API JSON results, the format and data points haven't changed in a long time so in theory should still be parsing fine by default.

[2021-10-17 17:06] sargonas commented on #317
CORS issues are my bane as well debugging and I am afraid my knowledge on working around them is limited. I wonder though, are you  using a reverse proxy internally for your hostnames? if so it may perhaps work better if you call the PiHole by it's IP address directly.

[2021-10-17 18:20] sargonas commented on #317
I could easily have my web tools mixed up, but im pretty sure you can call http://IP:port i think, if that helps/

[2021-10-17 18:50] tunloop opened #318 "[FR] Smaller Button on main button (A sub-button)"
I think it would be cool to have the option to add a smaller button within the main larger button with a different URL for an application.

A use case for this could be something like wordpress where there is a main web page, then also a backend administration page.
Or, something like vcenter where there's the main login page, then also a secondary URL for the management login.

Maybe it could tak

[2021-10-19 14:59] DOWIT-JoelFrojmowicz commented on #106
This is an excellent feature to add to Homer. I've managed to change it by adding a custom CSS, but having an option in YAML would be much easier...

[2021-10-23 12:25] maeries opened #320 "homer refuses the connection"
Suddenly my homer instance went down for no apparent reason and I can't get it online anymore. Caddy shows

```caddy    | {"level":"error","ts":1634991122.6001492,"logger":"http.log.error","msg":"dial tcp 172.18.0.10:8080: connect: connection refused","request":{"remote_addr":"217.84.45.61:63602","proto":"HTTP/2.0","method":"GET","host":"start.domain.com","uri":"/service-worker.js","headers":{"Use

[2021-10-27 21:32] krousenick opened #322 "Background Modifications or Custom CSS"
Hello!

Can you please add the variables below to be picked up in the CSS or allow custom CSS to be read into the config.yml to fully modify the background. Thank you very much in advance for your consideration!

background-repeat:
background-attachment:

[2021-10-31 08:29] maeries commented on #320
Yesterday homer stopped to respond again. The last like 1000 entries of `docker-compose logs homer` are:

[code]
After restarting it says:
[code]
But I can't reach the site

[2021-11-01 01:38] D4rkiii commented on #322
You can define a custom css file if you need to override some styling.
Just add this line to your yml file.

stylesheet:
   - "assets/themes/mycustomstyling.css"

[2021-11-01 11:35] ElleshaHackett opened #325 "Run entire container as non-root user not possible because of chown in entrypoint.sh script"
I have issues with line 14 and 15 in entrypoint.sh because I try to change the user of the docker container entirely and that is currently not possible without some strange hackarounds. See the following commands and results with a default setup:

`docker exec home whoami`
`root`

`docker exec home top`
[code]

So the darkhttpd process is running as homer user but the the container isn't. I tried

[2021-11-01 11:46] ElleshaHackett commented on #325
I fixed it by simply overwriting the ENTRYPOINT and skipping the sh script entirely. Which will probably break things at some point. For now it's my workaround.

My Dockerfile:

[code]

This does run the whole container as a non-root user and not just the darkhttpd.

`docker exec homer whoami`
`homer`

`docker exec homer top`
[code]

[2021-11-01 21:24] FriendlyNGeeks commented on #287
I added pull request for octoprint awaiting aproval. Not to step on your toes @robinschneider. I just really need this service added to the master as i continue to build out my home lab

[2021-11-02 16:33] jeff47 opened #327 "Path to Radarr API changed in v3"
I believe there needs to be an update to the Radarr integration.  In Radarr v3, the API path has changed.
/radarr/api/health? becomes /radarr/api/v3/health?  and so on.

[2021-11-02 16:39] N0Klu3 opened #328 "Any way to secure access via login? Also Calendar?"
Is there any way you can add a login option?

Mainly as mine is open to the world via a domain name, as i want to use this for my home page wherever I am.
But I'd also like to add some sort of login page so that its not just 100% open to the elements.

Lastly is there a way to integrate into something like Google Calendars and start to make this a proper full on home page with everything needed an

[2021-11-03 17:15] mcclurec commented on #317
Likely related to [this PR](https://github.com/bastienwirtz/homer/pull/301) cc @bastienwirtz we should finalize on a `fetch` mixin pattern and get it merged

[2021-11-04 23:58] robinschneider commented on #328
You can use something like traefik basic auth https://doc.traefik.io/traefik/v2.0/middlewares/basicauth/ or authelia with 2FA https://github.com/authelia/authelia

[2021-11-08 05:55] Panzer1119 commented on #327
I just tested it and Radarr v3 accepts requests to both /api/... and /api/v3/...

[2021-11-08 17:40] git-noise commented on #325
Hello,

I also ended up just removing the chown operation from the entrypoint. I think it should be alright as files have a default 755 permission and are not meant to be writable I believe. It also allows to drop capabilities and mount file as read-only for further security. However it indeed means rebuilding the image manually.

Best,

[2021-11-08 17:46] git-noise opened #330 "Third state in healthchecks and ping: maintenance mode?"
Hello,

Many thanks for this great project!

Would it make sense to account for a third state beside online/offline for health checks? Like adding some maintenance flag on the health check service or ping mechanisms?
Either via a flag in the config or by reading a specific HTTP code (maybe 503 with seems to be the one mostly used).

Best,

[2021-11-12 10:36] N0Klu3 commented on #328
Yeah I setup Basic Auth via HAProxy

[2021-11-12 10:36] #328 closed

[2021-11-12 10:36] N0Klu3 commented on #305
@bastienwirtz Any word on this?

[2021-11-14 21:29] bastienwirtz commented on #322
Hey @krousenick !

As suggested by @D4rkiii, you can use the custom css to add the suggested properties.
I'm closing the issue, feel free to reopen it if you need.

[2021-11-14 21:29] #322 closed

[2021-11-14 21:38] bastienwirtz commented on #320
Hey @maeries !

That's weird ... The `127.0.0.1 "GET /" 200 3114 "" "Wget"` is the docker health check and it seems to been working as it show a HTTP 200. If docker itself can access Homer but you can't, it could be some kind of networking issue ?

[2021-11-14 21:44] bastienwirtz commented on #330
Hey @git-noise,

Thanks!
Regarding internal healthchecks, I don't really think it's necessary as Homer is pure static file and does not require long maintenance operation. Regarding the ping services (used to check if a website or webapp is online) It's a good idea to make it give feedback based the returned http code. I'm adding that to my todo list!

[2021-11-15 14:21] git-noise commented on #330
Hello @bastienwirtz,

Many thanks for your feedback, yes indeed, I may have not expressed my self too clearly, I was thinking of "external health checks" associated to other website/webapps only, not Homer itself. Thanks for taking this feature into account.

Best,

[2021-11-17 14:37] fleyd-1 commented on #230
Hi everyone,

I have Synology Ds 720+ with docker and portainer, when i try to install Homer via Portainer templates i get the same error as described above.

![image](https://user-images.githubusercontent.com/64219933/142220432-fa2305fd-074c-4cba-bf96-dc4566f6ed4d.png)

Logs in Portainer as below:

[code]

Anyway i can fix this?

Sorry to use this thread but to me seems the problem is the same...

[2021-11-17 22:23] cinderblockgames opened #331 "Why does the dashboard try to precache/pull the default files?"
I've removed most of the default files, since they don't seem necessary, but the site is trying to pull them:

- additionnal-page.yml.dist?__WB_REVISION__=...
- config.yml.dist?__WB_REVISION__=...
- config.yml.dist.sample-sui?__WB_REVISION__=...
- custom.css.sample?__WB_REVISION__=...
- manifest.json?__WB_REVISION__=...

[2021-11-18 21:02] geekblog-dev opened #332 "Vulnerabilitys in Homers BusyBox Version"
I did run trivy over the repository. It found 20 Vulnerabilitys(2 Critical 18 High).

I didn't have the time to check them all, if required I can post the CVEs that have been Found by trivy.

Are we already aware of these "vulnerabilitys" or is it more of a false positive?

Maybe is there a plan to update the BusyBox Version?

[2021-11-23 19:55] AlexObukhoff commented on #230
Same result on Synology DS 918+

[2021-11-24 08:42] fbartels commented on #230
403 means that the access to the url was denied by the webserver. Do you have a reverse proxy with authentication in front of Homer?

[2021-11-24 12:24] fleyd-1 commented on #230
Hi, in my case no reverse proxy.
I Just installed from Portainer templates and accessed it from internal IP + port.

[2021-11-24 14:14] AlexObukhoff commented on #230
I resolve this problem by the nest step:
go to the shell in docker container (sh)
[code]

[2021-11-24 14:33] fleyd-1 commented on #230
Hi Alex,

I think your suggestion worked, i dont see the error message anymore. I will now start adding links.

Thanks for the help!

[2021-11-25 01:18] mrkeuz opened #333 "[FR] Specify port for relative links"
It would be good to add ability specify port in relative URLs.

Use case is next:
- Multiple services running on one server
- Server has access from local network and from VPN

So it would be good resolve links dependent from network. I.e. access via local network for to save traffic or when client not have VPN access.

Solution can be like, in runtime:
[code]

[2021-11-26 15:23] Nim1com opened #334 "Error: Not Found: [object Object]"
thats the error the site

[2021-11-29 22:05] PovilasID opened #335 "Internet explorer compatibility [I am sorry]"
Hello,

I used homer a quick dashboard to list out tools on a server and some of my coworkers machines default browser is internet explorer.
Homer now does not support IE by falling to show any content at all:

Is there a plan to support IE?

P.S. I know. I know but people are hard to change I hope mandatory Win11 update will solve this.

[2021-11-30 01:03] miarn commented on #335
IE is unsupported as of next year, is used by almost no-one, and is a terrible browser.

[2021-12-01 16:52] 0xN0x opened #336 "[FR] Additional icons"
It would be good to be able to add an optional little icon on the for each items.

It could be useful and cleaner than using the description or tag to explain a little idea like:
- it need authentication
- only from internal network

A little example made quickly :

![example](https://i.imgur.com/QSIrmXm.png)

I should be able to PR this if you think it's a good idea.

[2021-12-04 00:34] naioja opened #337 "Update Alpine image"
Running a trivy scan on the image it reports that the alpine image is outdated :

[code]

[2021-12-04 21:45] FriendlyNGeeks commented on #287
I went ahead and created the pull request if anyone else finds this issue please comment so maintainer can pull #324

[2021-12-04 22:54] siancu commented on #232
I just got this with Authelia as well. Any news on an ETA for a fix?

Thanks!

[2021-12-05 15:02] siancu commented on #232
I merged the PR #323 into my own fork and built my own image in the meantime. Just wanted to confirm that the fix works for me.

[2021-12-05 17:56] chris400 commented on #325
AFAIK most containers run everything as root. If you want more security, you run docker rootless. Using multiple UIDs in the container breaks things.
=> I am suggesting to only use the user root _inside_ the container.

[2021-12-07 21:01] ellisdickinson46 commented on #317
For anyone needing to diagnose this CORS issue, this thread may solve part of the problem temporarily: [https://discourse.pi-hole.net/t/add-domain-to-authorized-hostnames-permanently/32007/2](https://discourse.pi-hole.net/t/add-domain-to-authorized-hostnames-permanently/32007/2).

To summarise, you can modify, the `$AUTHORISED_HOSTNAMES` declaration in the `auth.php` file of pihole found at `/path

[2021-12-08 23:38] Kirmy34 commented on #162
Any updates on this issue? It's really frustrating...

[2021-12-11 10:31] UmanGarbag opened #340 "Add JavaScript in a page"
Hello, is it possible to add in a page some javascript (or orther) for creation of dynamic html elements ?

For example, i would like to add a array with some informations in it.

[2021-12-12 07:51] bastienwirtz commented on #340
Hi @UmanGarbag !

I'm not sure to get exactly what you trying to do but you homer can be extended using custom service. There might be a solution by developing a new one. Check out the documentation here: https://github.com/bastienwirtz/homer/blob/main/docs/development.md#custom-services.

[2021-12-12 07:52] bastienwirtz commented on #337
Closing this one as the patch has been merged. Thanks again!

[2021-12-12 07:52] #337 closed

[2021-12-12 08:04] bastienwirtz commented on #336
Hi @0xN0x !

That sounds like a good idea !
All services are based on a generic layout which offer a [`indicator` slot](https://github.com/bastienwirtz/homer/blob/main/src/components/services/Generic.vue#L31) (I don't know if your are familiar with that) and custom service extend this layout to add some features (ex: [Adguard](https://github.com/bastienwirtz/homer/blob/main/src/components/services

[2021-12-12 08:36] bastienwirtz commented on #334
Hi @Nim1com !

Which site ? can you provide a little more context ?

[2021-12-12 08:38] bastienwirtz commented on #332
Hello @geekblog-dev !

Thanks for pointing this out. The docker base image have been updated, the busybox vulnerability should be fixed.
I'm closing the issue, but feel free to re-open if anything.

[2021-12-12 08:38] #332 closed

[2021-12-12 09:37] PovilasID commented on #335
Hey @bastienwirtz,

Got it. I will make a static html page with some links :/
Some of my co-workers are nearing the end of their career and they will not switch or upgrade.
I know its a terrible browser, it just so happens that some legacy software uses it (meaning the security vulnerabilities are a feature) and some... elderly people will not switch.
Can you add a 'This is an unsupported browser'

[2021-12-12 21:36] bastienwirtz commented on #317
Hi there !

CORS related issues are now documented [here](https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md) (feel free to add information if needed) and I finished to add the support for the `useCredential` [option](https://github.com/bastienwirtz/homer/blob/main/docs/configuration.md?plain=1#L32). It should help!

I'm closing this issue as every info are available to solve

[2021-12-12 21:36] #317 closed

[2021-12-13 20:26] bastienwirtz commented on #248
Hi there!

That's most probably a CORS issue. Check out the [troubleshooting](https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md) section and search for "cors" in past issues.
I'm closing the issue as the CORS issue is common and documented. Feel free to reopen it if needed.

[2021-12-13 20:33] bastienwirtz commented on #331
Hi @cinderblockgames!

What do you mean by `the site is trying to pull them` ? I don't see any request to those file in my browser console.
Can you give more context? How did you install homer ? using docker ? Did you provide your own config ?

[2021-12-13 20:58] bastienwirtz commented on #327
Hi there :wave:

The documentation seems to use the version (`v3`) in paths, which seems like a good idea to ensure compatibility. We might want to check Sonarr as well.
I don't have a Radarr instance to make the modification and check if the custom service still works, @twolaw maybe?

[2021-12-13 21:38] virtadpt commented on #122
Editing the HTML directly after the fact is also possible, though it gets wiped out with every update.

[2021-12-13 21:40] virtadpt opened #341 "Suggestion: Configurable CSS tooltips for dashboard entries"
How difficult would it be to add support for configurable CSS tooltips (to display arbitrary text popups when an entry is hovered over) to Homer?  It would make documenting some services for other users (use case: Homer dashboard shared with one's family members) easier to do.

[2021-12-14 13:33] cinderblockgames commented on #331
I see them in my browser's developer tools network tab.

Here's my (redacted) config:

[code]

[2021-12-15 18:51] fbartels commented on #331
I think this are loaded through the serviceworker of the PWA.

[2021-12-16 16:14] olerap opened #343 "Suggestion: Remove the automatic addition of url() with background-image."
Hi Bastien,

First of all I would like to thank you for the amazing work to the self-hosted community.
I personally love homer and believe there are many like me.

Today I wanted to change the background of homer to a gradient, but it didn't work. I tried to add `background-image:  (linear-gradient(90deg,#5c2483,#0095db)` to my config.yml but Homer automatically added url(x) to the css. How could

[2021-12-26 11:36] adyanth commented on #194
As mentioned above, https://github.com/bastienwirtz/homer/issues/194#issuecomment-855826258, setting `CORS_HOSTS` environment variable fixes the issue. For docker based installs, this is the normal environment.

For lighttpd based installs on the host OS, this will be the FastCGI environment. For this, edit the file at `/etc/lighttpd/conf-enabled/15-fastcgi-php.conf` to add another environment to

[2022-01-02 18:17] pamoman commented on #327
Hi there 👋

What is the eta for support of the /api/v3 endpoint in Radarr, Sonarr and Lidarr?  In the config.yml you can specify the endpoint manually but it adds /api to the end, wouldn't it be better to let the user provide the entire endpoint i.e endpoint: 192.168.1.100:8081/api/v3.

Just want to say that I'm really impressed with the web app so far, just what I was looking for.  Would be great

[2022-01-04 21:49] bobbytables2048 commented on #106
Hi @bastienwirtz - have you had any chance to look into this request? I know these are tough times and hope everything is OK.

[2022-01-04 23:36] DOWIT-JoelFrojmowicz commented on #106
Hi, for those who need an alternative solution until Homer is fixed, here it go:

1) Create a new file alongside with "config.yaml" named "custom.css" with this content:
[code]
2) On your "config.yaml" insert the following lines:
[code]

And have fun with Homer!!

[2022-01-05 00:55] virtadpt opened #346 "Replace Font Awesome with Fork Awesome?"
Font Awesome is nice, but it has a limited icon set unless you buy a license for the latest version, patch Homer, and rebuild.  [Fork Awesome](https://forkaweso.me/Fork-Awesome/), on the other hand, does not have this limitation and is considered open source ([even by the FSF](https://www.gnu.org/licenses/license-list.html#SILOFL), for folks who care about that sort of thing).  The icon set is sig

[2022-01-05 07:19] bobbytables2048 commented on #106
Thanks @DOWIT-JoelFrojmowicz - that workaround works well. Much neater then the css hacks I played with earlier.

[2022-01-07 07:50] scot-t opened #347 "Anonymous volume defined in Dockerfile blocks copying config.yml"
**Issue**
The homer Dockerfile [specifies an anonymous volume][1], which prevents modifying any files under that node in subsequent steps [ref][2]

As far as I can tell (eg [this article][3]) this line could be safely removed and would make configuring homer containers simpler. Is this possible?

**Context**
I'm running homer in a container with docker compose, deployed to a remote host using dock

[2022-01-08 16:37] danielpetroianu commented on #116
I wanted this feature as well in Homer.
Because I like how Homer looks, and don't want to use WillFantom/sui or pawelmalak/flame or ..., I've written a small bash script that updates the config.yml
See it her https://gist.github.com/danielpetroianu/6e00624436eab3036b0c8b270b359b62

Posting this here, just in case someone googles about this and ends up here (like me).
Hope it's helpful.

[2022-01-09 10:42] xinyo commented on #202
If you happened have heimdall installed, take a look the www/icons, you can try to mount that or copy them to homer's folder......

[2022-01-10 01:03] gurpal2000 opened #349 "Question: PR with filename change"
I am working on a PR involving a typo fix for the filename itself "additionnal-page.yml.dist"

The CI/CD fails for my draft PR because it's trying to copy the file from one place to another by the original filename.

Do I give up on the PR or does someone alter the CI/CD. Possible impact ?

thx

[2022-01-10 03:08] JuryA commented on #346
+1

[2022-01-10 09:48] UmanGarbag opened #350 "Question: Possible to add a widget from the web interface"
Hello Bastien,

Is it possible to add a feature in the roadmap, the purpose is add/delete/change widget since the web interface ?

I would like ta add this feature, but my experience in web programming is very limited. (Can you have some ressource for implement this feature ?)

Thanks you

[2022-01-11 10:08] w0rsti opened #351 "PWA Statusbar color not changing"
#### Issue description
I've updated the colors of my Homer Dashboard, but the PWA doesn't seem to fully update the colors on my Mac and iPhone (can't check other devices, since i don't own others). The Status Bar is still blue.

#### Steps to reproduce the issue

1.  Change color in config
2. Update and install PWA

#### What's the expected result?

- Status Bar should either be background color o

[2022-01-12 01:21] taita2104 commented on #346
+1

[2022-01-12 08:41] UmanGarbag commented on #350
Add a new a widget or modify the css from the web interface. This would allow users not to manipulate a yaml file

[2022-01-13 21:09] d4rklynk opened #352 "ARMv6 support"
I tried to install homer with docker on raspberry zero W but it didn't work.
I search on docker hub and there's no version of it. Is there a workaround to install on Rpi Zero ?

[2022-01-15 16:12] ngosang opened #355 "Vulnerabilities in Docker image 21.09.2"
Vulnerabilities in Docker image 21.09.2
Most of them will be fixed if you update your base Docker image.
https://github.com/anchore/grype
[code]

[2022-01-16 11:45] Slyke opened #357 "Running on Kubernetes"
Hello, got a quick question. I want to setup homer on my homer Kubernetes cluster behind nginx and Authelia. I've currently got a config map writing a file to `/www/assets` but it seems the pod is erroring on startup with read only filesystem error.

Can I just use an initContainer to copy the config-map as a yaml file to that directory instead and not have any persistent data without breaking any

[2022-01-16 15:25] bastienwirtz commented on #350
Hi @UmanGarbag !

It's not possible to add this feature, as Homer is a **static** homepage, build with only client javascript. To modify the config file you would need a server component which is exactly what Homer try to avoid. There is a lot of other very good dashboard with configuration editor out there, you should easily find an alternative if you want.
Also, you can use an other tool to mani

[2022-01-16 17:51] BriceMichalski commented on #357
Look at this chart : https://github.com/k8s-at-home/charts/tree/master/charts/stable/homer.
I use it to deploy homer on my kubernetes and it works perfectly

[2022-01-18 20:57] robertr1229 commented on #232
I forked your repo and tried building my own image. Behind Traefik this issues still occurs.

[2022-01-20 16:40] afreiberger opened #359 "Offline message improvement request"
https://github.com/bastienwirtz/homer/blob/f3b3b89b7c037584a2c3ad463b9d0322d28f0f89/src/components/ConnectivityChecker.vue#L5

"You're offline friend" seems mildly informal and not specifically accurate.

I think it would be helpful if this noted that the client can't reach the server, as I'm most definitely online, but maybe my homer server is offline, disconnected from my current network, or my

[2022-01-21 14:10] jscmidt opened #360 "Enhancement of the Ping Service"
Hi,
I have some services that are available only in my local network and some that are exposed to the internet.
For this usecase it would be really amazing, if Homer checks for every service if the url/ip is available or not, so that Homer displays all services when I access it from my local network, but only the ones that are exposed to the internet when accessing homer from the WWW.
Is this the

[2022-01-22 11:31] ipedrazas opened #361 "Remote Item, Service"
Perhaps what I’m going to describe can be done already using the current services but I couldn’t figure out how to do it.

I don’t think my use case is very common: I have a few apps that I connect to using a VPN and having the external IP in the subtitle helps me not having to remember them 😄 What I do is to have an endpoint in `Node Red` that checks the external IP of the application/VPN and ret

[2022-01-23 00:49] mushuthecat commented on #232
HI,

Same issue, need to reload my cache manualy everytime my authelia session expire :/

Any news about a fix ?

Regards

[2022-01-23 01:27] dimo414 opened #362 "Ping reports URLs are offline that are working"
Notably, the [example](https://github.com/bastienwirtz/homer/blob/main/docs/customservices.md#ping) doesn't appear to work:

[code]

Reports r/selfhosted is offline:

![Screenshot of demo Homer page with Ping example added](https://user-images.githubusercontent.com/1885701/150660898-e2a16a81-b2cc-4ddf-a326-f9fa84f9a6c0.png)

I've tried a number of different URLs, including remote websites, local s

[2022-01-24 09:06] JSAnyone commented on #360
I now realized that this is done via the `Ping` custom service.
Could you provide an option, where it doesn’t add an online/offline label to the service but just hides offline services?

[2022-01-24 21:25] stubbfel commented on #362
@dimo414

Sry, but also for the url from example (the response from the server),  the  "CORS-Header" (Access-Control-Allow-Origin *) is missing.

API-Endpoints set mostly this header, e.g https://api.github.com/zen

See the header from the http response
 https://websniffer.cc/?url=https://api.github.com/zen

[2022-01-24 21:31] dimo414 commented on #362
At a minimum it'd be good to clarify the documented example doesn't work, then. What is required for a URL to work?

[2022-01-24 22:16] stubbfel commented on #362
@dimo414 There is no requirement for the url themself.
The server/endpoint have to add "Access-Control-Allow-Origin: *" to the response headers.

https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md

[2022-01-25 20:23] sheeepdev commented on #157
Could anyone point me to setting up a reverse proxy for homer? I searched around but I don't really understand.

[2022-01-27 22:19] grantland commented on #325
Setting `UID` and `GID` environment variables seems to work for me:

https://github.com/bastienwirtz/homer/blob/b6c667a129867db8c0f8aa29d12013b47e0c6516/docker-compose.yml#L13-L15

[2022-01-27 22:20] grantland commented on #261
Setting `UID` and `GID` environment variables seems to work for me:

https://github.com/bastienwirtz/homer/blob/b6c667a129867db8c0f8aa29d12013b47e0c6516/docker-compose.yml#L13-L15

[2022-01-28 09:44] justsomebody42 commented on #261
Hi,

The entrypoint.sh file uses/requires root permissions to do the setup actions.
`chown -R $UID:$GID /www/assets` fails, when the container itself is started without root permissions.
Currently the script relies on having root permissions and afterwards starts the process with the GID/UID retrieved from the environment.

Using Kubernetes, you can go a step further and start the whole container

[2022-01-28 15:51] justsomebody42 commented on #261
Seems others have already played around with it :) https://github.com/bastienwirtz/homer/issues/325

[2022-01-28 16:37] justsomebody42 commented on #355
Can confirm that the image built from current main branch does not contain vulnerabilities, or at least grype doesn't find any :)

~$ grype johnsinclair73/homer
 ✔ Vulnerability DB        [updated]
 ✔ Parsed image
 ✔ Cataloged packages      [16 packages]
 ✔ Scanned image           [0 vulnerabilities]
No vulnerabilities found

[2022-01-31 07:32] mad73923 commented on #290
implemented with #238

[2022-01-31 07:32] #290 closed

[2022-01-31 15:11] AtActionPark commented on #327
Hi!

It seems that the legacy api has now been deprecated.With the latest Radarr image, Im getting 404s on the calls without /v3

[2022-02-01 05:29] crwallace2 commented on #327
I just confirmed that RADARR has removed the legacy API endpoint with their latest release 4.0.4.5922.

[2022-02-01 09:53] FM-500 commented on #320
Any news here?
SInce today, I am experiencing the same problem.

Has been working flawless for months before.

[2022-02-02 12:37] haudankaivajasi commented on #320
Just installed Homer via docker and seem to be having this exact same problem.

[2022-02-02 13:33] maeries commented on #320
I have no clue. The last time I had this problem was when I created this issue. I then restarted homer like 20 times until it worked again and since then it runs fine

[2022-02-02 13:38] FM-500 commented on #320
I solved it for now by removing docker-compose.
Since I habe no need for it (I use Portainer, for most of the administration), I thought it was a good idea, because read somewhere, that docker-compose can lock resources some times.

[2022-02-03 07:17] Keltere opened #368 "Bad performance on chromium based mobile browsers"
Hi. I've discovered that homer dashboard is stuggering on any chromium based mobile browsers while on Firefox and Samsung browser it doesn't.

[Here is a video](https://drive.google.com/file/d/1-2-HXNT3FrhYgF8RKLQPnBV_zvuuZ1XO/view?usp=drivesdk)

Browsers stuggering: chrome, edge, brave, bromine, kiwi, vivaldi
Not stuggering: Firefox, Samsung browser

[2022-02-03 07:31] iamrony777 commented on #368
Hmm i had same problem with Brave Browser too , infact i was configuring my dashboard and brave was crashing repeatedly , then i moved to Firefox now its fine

[2022-02-03 23:14] egooner commented on #232
New to this thread just got both Homer and Authelia up and running and came across the same issue!! Hopefully there is a solution around the corner!

[2022-02-05 01:16] Corbeno commented on #232
Just ran into this issue myself. Using Traefik here

[2022-02-05 01:24] egooner commented on #232
I tried this but instead have a shortcut to my auth server to manually re authenticate and then a simple page refresh did the job.

[2022-02-05 04:56] KucharczykL commented on #162
Also just encountered this and deleting cookies helped.

[2022-02-10 01:05] saschabrockel commented on #289
Any updates on this? I have the same problem.

[2022-02-10 21:29] bastienwirtz commented on #355
Hi there,

A new release has been build, the 21.09.2 is officially deprecated :)

Thanks!

[2022-02-10 21:29] #355 closed

[2022-02-10 21:30] bastienwirtz commented on #327
Hi there,

The v3 API support is now merged and included in the latest release. Enjoy!

[2022-02-10 21:30] #327 closed

[2022-02-11 13:45] kimdre opened #372 "Multiple Tags?"
Hi,

Is it possible to apply multiple tags to a single service in the dashboard?

[2022-02-13 01:54] ledicjp commented on #346
+1

[2022-02-13 02:00] ledicjp opened #373 "`You're offline friend.` Error using Homer + Traefik + Google Oauth"
The dashboard shows me the `You're offline friend.` message after about 10 seconds and goes away again after a simple refresh (no cache emptying necessary). Is there a way to disable the Vue alive checker that's doing these checks via a setting? It might have to do something with me using Google Oauth if I understand correctly, but honestly turning it off would be enough for me already. Sorry if t

[2022-02-13 15:35] accountForIssues commented on #289
I'll share my experience and my solution (sort of). Maybe it can help others.

I use Caddy as my reverse proxy. Both Caddy and AdGuard Home run via docker.

I serve Homer via **domain.tld** and AGH via **dns.domain.tld**.

Since Homer runs all requests via one's browsers, there are a few things happening.

Modern browsers block **dns.domain.tld** as it's not on the same domain as homer (**domain.t

[2022-02-13 15:46] cardinalfan1 commented on #232
just wondering if the newest release addresses this issue. i'm still using the PR 323 fork listed above

[2022-02-13 18:17] nicoulaj opened #374 "Ping service adds trailing slash to endpoint URL"
Using this example config:
[code]

I can see homer sends a request to `https://foo.tld/health?token=XXXXX/`, causing the service to parse the token as `XXXXX/` and return 403.

Tested on version 22.02.1.

[2022-02-15 11:49] xiNeRoar opened #376 "Questions about clicking behavior"
The clicking behavior of homer is now opening a new page for my web application, how can I change it to directly go to that page instead of open a new page? is it possible?

[2022-02-16 07:39] neilwoodwards commented on #218
I'm actually struggling to make this work on port 80:8080. It just does not load at all. Put it back to 8080:8080 and it loads.
Homer doesn't seem to like Port 80 (Host)

[2022-02-16 09:37] Sailing74 opened #378 "Change height of Services line?"
I've added a custom logo (not icon) in front of services, and it turns out that the logo is being shown too large to fit into the entire row.

Is there some way I can change either line height or icon height?

![grafik](https://user-images.githubusercontent.com/5119859/154236457-6951b16b-3126-4785-a5b7-33be19ca1e27.png)

[code]

[2022-02-16 14:12] fbartels commented on #373
Hi @ledicjp,

you can disable the connectivity check in the configuration https://github.com/bastienwirtz/homer/blob/893690cf95eda1233a094e0d1b63011ff740989e/src/assets/defaults.yml#L11

[2022-02-17 09:38] justsomebody42 commented on #355
Great news!
Any chance to include this in the next iteration?
https://github.com/bastienwirtz/homer/pull/375

I'd then be able to switch back to the official image 😃

[2022-02-17 20:15] jamesmacwhite commented on #374
Also confirming the same behaviour, latest docker image.

[2022-02-18 03:00] svenEsven commented on #346
+1

[2022-02-18 10:39] holyhope opened #379 "Ping with credentials"
Hello,

I would like to ping my backend service (jenkins) which send back a `403` on home page when unauthenticated.
I set `Access-Control-Allow-Credentials` to `true`, but ajax request does not use `withCredentials` parameter.

Can use `withCredentials` by default on Ping service?

[2022-02-18 15:35] #379 closed

[2022-02-18 15:37] holyhope commented on #379
I just found the `useCredentials` field. Closing issue.

[2022-02-18 17:13] FlyingPersian opened #382 "icons not working"
Hello,

I'm running homer on my Raspberry Pi and 99% of it works fine. I'm trying a few icons both in the navbar and services, and some of them don't work for whatever reason:

faX fa-house
faX fa-photo-film
faX fa-key-skeleton-left-right

replace X with s, b, t, l etc.

When I use working ones instead (i.e. fas fa-cloud) it works fine. I tried multiple browsers, private mode, different machines,

[2022-02-18 18:44] nicoulaj commented on #374
Looks to me like the frontend calls `fetch` with `path= "/"`: https://github.com/bastienwirtz/homer/blob/2fba043575e6a8db94434986c1781d2716c8f6d4/src/components/services/Ping.vue#L32

and `fetch` just concats it with to the endpoint URI:
https://github.com/bastienwirtz/homer/blob/2fba043575e6a8db94434986c1781d2716c8f6d4/src/mixins/service.js#L34

[2022-02-19 01:26] NX211 commented on #320
I just started having this issue today. I'm running homer under traefik with docker swarm

[2022-02-20 15:07] AndyRng commented on #382
Hey,
stumbled over the same issue. Some FA icons are non-free, seems like the house-... icons are among them. See https://fontawesome.com/v5/search?q=house&m=free (Note the "free" filter). I used the fa-laptop-house icon for my smarthome tab in this awesome dashboard.

[2022-02-21 02:05] saschabrockel opened #384 "AdGuard Home CORS error"
Hey there. I don't know why Adguard Home has the status unknown in my Homer instance but the browser logs show the following:
[code]

![image](https://user-images.githubusercontent.com/33376463/154877029-02700420-4a4c-4df0-a3ee-de44967f68dc.png)

Any ideas on how to fix it? Another question is why Radarr and Sonarr are not showing anything for me. No color not blue or yellow or anything. But if I

[2022-02-21 08:39] bastienwirtz commented on #384
Hi there,

Did you check this page: https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md  ? Your `AdGuard` service must be configured (request header) to accept request from Homer if the domain or port is different.

Hope it helps!

[2022-02-22 10:26] iDraPeD opened #386 "Feature request: Collapse services or grouping"
Hey Bastien,

I have a feature request, if using a lot of services and a lot of links per service the board is getting confusing.

So I have two ideas for this, either collapsing services by clicking on the name of service f.e. "Networking" and keep this reminded in cookies or createing a group in a service that shows links after clicking on it.

Would be cool seeing something like this.

Thanks a

[2022-02-23 04:47] tivolimeister commented on #194
Adding `Access-Control-Allow-Origin` to the PiHole `/etc/lighttpd/external.conf` did nothing for me.

What did in the end was to add the originating domain (`homer.home.arpa`) as a `VIRTUAL_HOST` in PiHole. In Docker just add an environment variable `VIRTUAL_HOST: "`homer.home.arpa".

@bastienwirtz
Maybe add to the [Troubleshooting](https://github.com/bastienwirtz/homer/blob/main/docs/troubleshoot

[2022-02-23 21:14] bastienwirtz commented on #376
Hello,

You can control the way each service card opens using the `target` configuration in the yml file. But it should open in the same tab by default. Possible values are described [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#attr-target)
Ex:
[code]

[2022-02-24 02:13] tivolimeister opened #388 "[Request] Update to Font Awesome 6.0"
Should be a one-liner or two.

[2022-02-26 00:31] NX211 commented on #320
I haven't had any luck getting homer back up. My configuration hasn't changed at all. I've tried redeploying things on several different machines with no luck. Any ideas here about what might be causing this ?

[2022-02-26 13:34] bastienwirtz commented on #346
Hi there!

I wasn't aware of Fork Awesome, It sounds like a good choice. Is it the same icon class ? Is it going to break everyone's icons?

[2022-02-26 13:36] bastienwirtz commented on #388
Hi @tivolimeister,

I'm actually considering switching to [Fork Awesome](https://forkaweso.me/Fork-Awesome/icons/), after @virtadpt suggested it in  https://github.com/bastienwirtz/homer/issues/346.
Would that work for you?

[2022-02-26 19:52] virtadpt commented on #346
[This page](https://forkaweso.me/Fork-Awesome/whats-new/) on the Fork Awesome website says "We paid special attention not to change unicode codepoints for the existing icons, nor changed the CSS class names or icon names from Font Awesome 4.7. Though we added a few more icons and made the process of contributing to this project much easier."

[The examples page](https://forkaweso.me/Fork-Awesome/e

[2022-02-28 08:31] tivolimeister commented on #388
Looks like a better alternative.

[2022-02-28 08:31] #388 closed

[2022-02-28 08:36] bastienwirtz commented on #346
All right.

@Skaronator @Simon-the-Sorcerer, why all the :-1: ?

[2022-02-28 08:43] bastienwirtz commented on #346
Font awesome claim to have [1,748 icons free & open source icons](https://fontawesome.com/search?m=free) available, while Fork awsome seem to have [796 icons](https://forkaweso.me/Fork-Awesome/icons/) :thinking:

[2022-02-28 09:44] Skaronator commented on #346
@bastienwirtz There are [Github Reactions](https://docs.github.com/en/rest/reference/reactions) to avoid unnecessary comments. The "+1" comments create a lot of noise in my mailbox.

[2022-02-28 21:40] Deviantgit commented on #351
Have noticed this as well, have tried changing a variety of the other color tags to no avail.

[2022-03-01 06:59] Simon-the-Sorcerer commented on #346
To educate people to use the "+1". :-)

[2022-03-01 13:25] fariszr opened #390 "Enable Text wrapping"
Currently apps with long descriptions get there description cut depending on the width of the screen.

![image](https://user-images.githubusercontent.com/35614734/156177159-5dd0cb20-648f-49f5-90ea-654b4131619c.png)

it would be helpful if homer supported text wrapping to solve this issue.

[2022-03-05 10:36] daurpam opened #392 "Web page doesn't refresh, only updates in incognito mode"
I'm trying to update my own homer web page using an automated  git script. It works without problems and it restart the docker container everytime I've made changes in code.

The problem is when trying to browse the page doesn't update even refreshing it, but if I open an incognito tab loads perfectly showing  new changes.

How can I search the cache config inside de docker image o override to for

[2022-03-05 11:00] andvg commented on #392
You should try to hard-refresh non-incognito tabs.
e.g. on chrome mac: cmd+shift+r
on chrome win: ctrl + F5

[2022-03-05 11:18] daurpam commented on #392
It doesn't work, I've tried (obviously)

[2022-03-05 16:06] jamesmacwhite commented on #374
So the fetch endpoint could do with a similar check with endsWith("/") on the endpoint URL parsing.

The other solution at the moment I can think of is implementing rewrite rules on the endpoint URLs to force them without a trailing slash at the proxy level, until a code fix is implemented.

[2022-03-05 16:54] nicoulaj commented on #374
IMHO the best would be not to transform the configured endpoint URL at all, because it will then fail if the service actually requires  a trailing slash... But I am sure there is a good reason for it, maybe @bastienwirtz can step in and give us some insight ?

[2022-03-05 17:47] jamesmacwhite commented on #374
Fair point, some may work with the trailing slash added even though it's not what the endpoint value is intended to be, but that's going to vary.

I cloned the source code and locally ran a dev server to mess around with the code. I think the issue is basically with the fetch function as you pointed out.

`${this.endpoint}/${path}` is problematic and it's assuming that path possibly is always popu

[2022-03-05 18:20] jamesmacwhite commented on #374
Submitted a PR that should fix this, subject to approval from @bastienwirtz and if I've understood the issue correctly.

[2022-03-05 18:43] jamesmacwhite commented on #378
The logo image has a CSS rule that sets the max width and height to 70px. Providing your logo is square size and fits within that boundary, you shouldn't need to adjust anything. I'd imagine your logo is larger than 70px in height in this case. Look at scaling it down to be max 70px and you should be OK.

[2022-03-05 18:49] jamesmacwhite commented on #390
This is due to a fixed height on the .card-content class (85px) and `white-space: nowrap` used on the subtitle.

Possibly the best way to achieve this to potentially created a new setting like `nowrap: true` which then doesn't apply such styling rules. However, it does mean that app cards will be not uniform and vary in height.

An alternative approach, might be a tooltip to show more information

[2022-03-05 19:03] jamesmacwhite commented on #378
You'll probably want to scale down your image slightly. The sizing set by homer is 48x48, you should adjust your image around those dimensions. It's the height you are likely hitting, as your image isn't a 1:1 ratio.

[2022-03-06 21:30] #374 closed

[2022-03-07 04:38] ykelvis opened #394 "HEALTHCHECK should not use proxy"
Hello,

I'm running behind firewall so i have `http_proxy` `https_proxy` `no_proxy` set. But it seems wget ignores `no_proxy` setting so health check fails everytime because it uses my proxy to access http://127.0.0.1:${PORT}. `-Y off` should be added to turn proxy off as we only check localhost there's no need for proxy.

https://github.com/gliderlabs/docker-alpine/issues/259

[2022-03-08 03:30] m-deutsch commented on #382
Same issue here, discovered it with "fas fa-photo-film" which is listed as a free icon.  Icon does not appear in any location (services, nav bar, header), but switching to an alternate icon does work.  The text does offset like there is supposed to be an icon, but its just a blank space.

[2022-03-09 12:54] Nokeo08 commented on #382
Ran into this problem yesterday. I found [Font Awesome Free's Cheatsheet](https://fontawesome.com/v5/cheatsheet/free/brands) and tried to use `icon: "fa-brands fa-atlassian"` for a group icon and it does not render. I assumed all free icons would work.

[2022-03-09 18:08] Redmega commented on #289
@accountForIssues Apologies if this isn't actually relevant to Homer/AdGuard, but I have a similar setup to you and my Caddyfile doesnt seem to be applying the `header_up` on a route within a reverse proxy:

[code]

I've confirmed that my base64 string is right, and it does add the CORS headers. It just doesn't seem to add the auth header, Homer gets a 401 unauthorized response.

[2022-03-09 18:22] Redmega commented on #384
@saschabrockel There's some relevant code/discussion in this issue: https://github.com/bastienwirtz/homer/issues/289#issuecomment-1038199009

[2022-03-09 18:34] accountForIssues commented on #289
Does a direct request in your browser work ?
(http://adguard.home/control/status)

Also, you could try `curl -H "Authorization <data>"
http://adguard.home/control/status` to check whether AGH responds
correctly.

Other than that, the only difference seems to be a plus (+) sign in
your config. Maybe, Caddy is expecting the Auth header to be present in
order to modify it. Removing the (+) sign would

[2022-03-09 22:15] Redmega commented on #289
/control/status) that are required by homer.

I did try that but unfortunately caddy did _not_ like the way I did it... Could have been implementing it wrong though!

http://adguard.home {
	reverse_proxy 172.30.0.3:4269 {
		header_down +Access-Control-Allow-Credentials true
		header_down +Access-Control-Allow-Headers *
		header_down +Access-Control-Allow-Methods *
		header_down +Access-Control-All

[2022-03-10 08:47] accountForIssues commented on #289
@Redmega I tried your first config and I got errors as well.

[code]

First, `Access-Control-Allow-Origin *` and `Access-Control-Allow-Credentials true` shouldn't work. See [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSNotSupportingCredentials)

Second, you don't need to add other CORS headers besides `Access-Control-Allow-Origin`. I believe it's safer that way.

Third,

[2022-03-13 08:41] goliath888 opened #395 "Portainer type not working"
I am trying custom services and Portainer is not working for me (pi-hole, sonarr/radarr are working fine).

I access homer with http://server-ip:port like other services.

When loading the dashboard, I can see in the console log that portainer calls are failing:

OPTIONS http://server-ip:9000/api/endpoints  -> CORS Missing Allow Origin
GET http://server-ip:9000/api/endpoints  -> NS_ERROR_DOM_BAD_U

[2022-03-13 14:13] Roundaround commented on #395
As you can see in the response from the initial OPTIONS request, this is a problem with CORS. Unfortunately the nature of a front-end-only dashboard means that you need to take some extra steps to circumvent CORS policies.

See https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md

Personally I wrote myself a very simple proxy API that I host on the same machine to do this, simil

[2022-03-13 14:13] #395 closed

[2022-03-13 14:19] Roundaround opened #396 "Improve docs with better CORS handling"
We get a lot of issues reported and questions in the Gitter chat about errors relating to CORS. We should mention the potential issue with CORS more prominently in the docs (i.e. early on in the custom services intro) and provide people with a better solution. The recommended proxy servers haven't been touched in years and I personally could not get them to work. Writing one is not super complicat

[2022-03-13 19:00] #121 closed

[2022-03-13 19:01] #373 closed

[2022-03-13 19:15] Roundaround commented on #392
Given that this is a static webpage solution, this is working as intended by caching the content. In fact, this isn't even a caching solution provided by Homer or Docker - it's built in to your browser.

I have however noticed that sometimes a hard reload might not be enough to bypass the browser cache. If you're actively developing your dashboard and you run into this issue, you have two basic op

[2022-03-13 19:19] Roundaround commented on #349
Resolved in #369 and #371 . Closing.

[2022-03-13 19:19] #349 closed

[2022-03-13 19:21] Roundaround commented on #340
Closing for inactivity.

[2022-03-13 19:21] #340 closed

[2022-03-13 19:27] gurpal2000 commented on #349
My PR came before those contributions. Feels like a stolen PR.

[2022-03-16 03:56] Roundaround commented on #349
Don't know why it matters. Your PR got overlooked because the maintainer only had time to review some of the PRs and  he just so happened to see the other one first. Please refrain from spamming other people's PRs and issues complaining about it.

The important part is that the issue got fixed, right? We're all just trying to make the best end result possible!

[2022-03-16 09:17] traliotube opened #397 "Portainer CORS Policy API block"
Hi, when I added my  #Portainer API key to homer dashboard, this is the error

![image](https://user-images.githubusercontent.com/69894187/158556339-e7e9a2f6-67bd-4a81-9958-7a8323968899.png)

**Access to fetch at 'https://portainer.bunnylab.tk/api/endpoints' from origin 'https://bunnylab.tk' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Acces

[2022-03-16 17:30] BoardCZ opened #398 "Fonts (Raleway & Lato) do not support UTF characters"
Hello,
used font does not support UTF.

[2022-03-17 07:04] Little-Karl commented on #382
correct me if I'm wrong. On the fa website, fa-shuffle should be fa-random
as for fa-house it's non free

[2022-03-19 14:49] JordyEGNL opened #403 "New Portainer service does not work"
Homer version:
 - Latest from docker as of 19 march
 Portainer version:
 - 2.11.1

Homer config:
![image](https://user-images.githubusercontent.com/65036298/159125882-1ed103df-db27-446a-8a12-68e35b878f0f.png)

[2022-03-19 14:54] StinkyTACO commented on #403
i noticed this aswell

[2022-03-19 16:22] Roundaround commented on #403
Could you provide the error message from Chrome dev tools? I suspect it will be a CORS issue. See https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md

[2022-03-19 16:24] Roundaround commented on #397
See https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md. There's not a great one-click solution to it yet, but I do have #396 open discussing adding a better workaround for CORS-related issues

[2022-03-19 16:24] #397 closed

[2022-03-19 16:40] Roundaround commented on #398
Thanks for reporting! @BoardCZ a good workaround for this would be to add your own css file, import a font that works for you, and overwrite the appropriate tags in your css to use your custom font. Your custom css file might look something like this:

[code]

You can find where we define the default fonts in app.scss:

1. Majority of the page (body tag): https://github.com/bastienwirtz/homer/blob

[2022-03-19 16:48] Roundaround commented on #390
I like the idea of a tooltip config setting - long content could live in there and the subtitle would remain as-is for shorter single line blurbs.

I wonder if there might be a way to get the best of both worlds, like the ability to expand the card height as necessary via a button click if the text is too long. I don't know how to do this though without some kind of javascript monitoring to detect

[2022-03-19 16:56] Roundaround commented on #372
Hi @kimdre, at the moment it's not possible to specify multiple tags. The main reason for this is that there's limited space on the cards, and making a consistent style with a potentially open-ended list of child elements is a non-trivial task.

One potential solution would be to allow specifying tags and aliases that simply don't render on the card, but work when searching. This could open the do

[2022-03-19 20:53] kimdre commented on #372
As long as I can find them in the search bar I would be totally fine with that 👌😄
Or maybe just hide the additional tags behind a "..." Or "show more" could also be solution that could work

[2022-03-20 10:18] JordyEGNL commented on #403
![image](https://user-images.githubusercontent.com/65036298/159157698-7512031b-5108-4983-9509-4069ea372328.png)
![image](https://user-images.githubusercontent.com/65036298/159157771-40c57746-f6ca-45b9-a3eb-9f11fec3d919.png)

It says so, but I have added the CORS * header in Caddy.
![image](https://user-images.githubusercontent.com/65036298/159157753-778bd971-7cfc-4104-adf1-18d2e45adb4d.png)

[2022-03-20 16:15] Roundaround commented on #403
My best guess is there's something going on in your Caddy layer. I've never used it myself so unfortunately I can't really point you in the right direction. Is there a way to log traffic handled by Caddy? Could potentially be something more useful there.

[2022-03-21 09:29] jleseane23 commented on #403
Adding to this.

I'm using cors-container. Using that, I was able to get Pi-Hole to work. But it's not working in Portainer version 2.11.1. I get a CORS error as well.

- name: "Portainer"
        logo: "assets/icons/portainer.png"
        subtitle: "Container management"
        tag: "internal"
        url: "http://[server]:9000"
        endpoint: "http://[cors-container]:3000/http://[server]:900

[2022-03-21 17:14] dmyoung9 opened #406 "Icon color per tile"
I've just figured out that we can change the background color per-tile (#153), and it appears we can also set the color for *all* icons (#307), but I'm wondering about changing the icon color *per-tile*.

For what it's worth, the icons I'm using are from the MDI set, using a custom stylesheet (#182).

Would this be possible?

[2022-03-23 05:26] adyanth opened #407 "Feature Request: Uptime-Kuma service"
I would like to see [Uptime-Kuma](https://github.com/louislam/uptime-kuma) get its own card like Pi-Hole and others.

Uptime-Kuma has APIs for the status pages:
* /api/status-page/incident
* /api/status-page/monitor-list
* /api/status-page/heartbeat

Which returns the data that makes up the status page. We should be able to pull the overall status of All Systems Operational/Partially down from the

[2022-03-23 13:21] Lorthiz opened #408 "Permissions/Volume problems running homer in docker-swarm - homer 'bricks' NFS volume"
I have pretty standard RPI 4 cluster - 1 manager, 3 nodes. In addition to that there is OpenMediaVault running on additional machine.
Services run on cluster use NFS volumes(exposed by OpenMediaVault) to get configuration from and store runtime data there.

[code]

Running this config with empty 'dashboard' folder in my NFS will create all homer specific files in that location and 'brick' it from

[2022-03-23 16:02] Lorthiz commented on #408
Ok most probably I might have had some problems with permissions in OMV and/or problems with a cluster itself.
After reseting whole cluster, purging all the nodes and doing some additional confguration in OMV everything works.
Config is valid if someone would like to use it, but there is no point of keeping this issue open. One thing that most probably can be skipped is those 2 lines
[code]

[2022-03-23 16:02] #408 closed

[2022-03-25 18:21] jhonDoe15 commented on #269
Hallo @robinschneider are you still working on this feature perhaps? would very much like to see it but not so great with Vue

[2022-03-25 18:29] robinschneider commented on #269
@jhonDoe15 Sure I can do that.

[2022-03-29 09:17] espilioto opened #411 "qBittorrent custom service"
Hey guys, I'm planning on creating a custom service for qBittorrent soon.

I noticed that its API only uses cookie-based authentication, and since I'm not a js guy I wanted to hear some opinions/best practices on how to implement some sort of persistency between requests, ideally without adding dependencies to the project.

For example, would localStorage be a good fit?
If so, how should it be use

[2022-03-29 23:22] JonSilver opened #412 "Token substitution"
It would be great to be able to include tokens such as %BASE_URL% in fields in the yaml, to be substituted at runtime with the contents of a matching environment variable.

Happy to contribute a PR if wanted.

Thanks,
Jon

[2022-03-30 08:24] fbartels commented on #412
For the base url this does not really seem necessary for me. You can just work with relative urls and the browser will take care of the request going to domain1.com/path or domain2.com/path based on the url you’re accessing Homer from.

[2022-03-30 17:33] Gronda74 commented on #162
Same issue here. I'm running a few webapps locally including Homer, tvheadend, emby, and Kavita. Having to delete the cookies every so often is frustrating.

[2022-03-31 07:18] XxAcielxX opened #413 "Homer Site Title & Subtitle"
Hello,

I'm using Homer Dashboard (the homer.zip) and like it a lot as it is simple to setup and use, but there is one thing I'm unable to change & fix.

Before the site is actually loaded up or when I send someone my domain url, the title doesn't reflect the one I have set in the yml file.

Here is an example of it:
![Screenshot_20220331-120212~2](https://user-images.githubusercontent.com/2106335

[2022-03-31 22:23] adyanth commented on #407
Weekend came early :)

[2022-04-01 00:26] VincenzoKoestler commented on #398
@Roundaround Hey Evan! I am kinda stuck with this. I have been trying to get this done and stumbled over your comment.
My custom.css get loaded properly and the changes look like this:

[code]
However, my fonts simply wont get imported as resources and the browser just falls back to the fallback fonts. The fonds are in the proper locations (/assets/fonts)..out of ideas...maybe you have got one? :)

[2022-04-01 07:52] adyanth commented on #407
Please let me know if this implementation works for you or if you would like to see any changes. I am not the greatest with CSS and UX, so feel free to comment.

* Adds Uptime Kuma service component*.
* Based off of the PiHole component.
* Shows a red LED if there is any incident, else green. Shows the incident title on the card's subtitle. This can be useful when pointing to a third party service

[2022-04-01 07:58] adyanth commented on #232
Wouldn't calling the alive endpoint before checking for config.yaml fix the redirect issue?

[2022-04-01 17:34] vitobotta opened #415 "Set Homer as default page for new tabs in Brave"
Hi! I set Homer as default page for new tabs in Brave using the "New Tab Override" extension, but for some reason it doesn't work with Homer only and the page stays blank. It works with any other page. Any idea of why it wouldn't work with Homer? I would like my dashboard to be the default page when starting the browser and opening new tabs. Thanks!

[2022-04-01 19:02] virtadpt commented on #415
I don't know if this still works or not, but here's a howto for setting your homepage: https://browserpulse.com/how-to-change-brave-browser-default-homepage/

[2022-04-01 19:03] vitobotta commented on #415
I found another extension that works, [New tab redirect](https://chrome.google.com/webstore/detail/new-tab-redirect/icpgjfneehieebagbmdbhnlpiopdcmna) so problem solved. Thanks ! :D

[2022-04-01 19:03] #415 closed

[2022-04-02 06:20] fbartels commented on #413
Hi @XxAcielxX,

without looking into this too deep i would say these are the default values that are used before the yaml config is loaded. To override these you either need to modify the html files after extracting them, or add a commit on top of the latest source and build it yourself.

[2022-04-02 06:37] XxAcielxX commented on #413
Yes, I had to look through multiple files to finally figure it out. Needed to edit `index.html` which holds these info.

It can be edited for the zip version, but for docker container one, we will need mount point access to edit `index.html` & `favicon.ico` etc.

Kindly add this info to the guide section of the installation, so others don't have to go through such headache.

[2022-04-04 15:00] loganmarchione opened #416 "Feature request: Add support for Simple Icons"
[Simple Icons](https://simpleicons.org/) is an icon set for brands (e.g., Nike, Plex, Ansible, etc...) as opposed to Font Awesome, which has only a limited number of brands.

Simple Icons has [SVG icons](https://github.com/simple-icons/simple-icons), as well as a [font pack](https://github.com/simple-icons/simple-icons-font) (like Font Awesome).

I don't know any Vue, but I'm guessing this `fa-fw`

[2022-04-04 20:40] FlyingPersian opened #417 "Move/Center Service"
Hi
I have 4 services in total. The first one is quite long, the others about half the size. Right now I have three services per row. Is it possible to move the 4th service, which is in the 2nd row, right below the 2nd service of the first row? Those two services are about as long as the first one, so I wouldn't have to scroll to see the 2nd row. There is more than enough space below the 2nd servic

[2022-04-05 20:40] espilioto commented on #417
Why not just set the layout to 4 columns?

If that's not acceptable, messing around with css sounds like the way to go.

[2022-04-05 20:43] FlyingPersian commented on #417
How do I set it to 4 columns? Didn't see anything in the wiki or config regarding that.

[2022-04-05 21:05] espilioto commented on #417
https://github.com/bastienwirtz/homer/blob/main/docs/configuration.md?plain=1#L27

[2022-04-05 21:07] StinkyTACO commented on #403
so how would one get this working ?

[2022-04-05 21:07] FlyingPersian commented on #417
Thanks, I did not see that!

[2022-04-05 21:07] #417 closed

[2022-04-06 16:58] SHU-red commented on #392
Oh man!
I was struggling so hard why the changes did not apply.

Ctrl + F5 worked for me in Vivaldi on Linux

Thanks for the awesome work!

[2022-04-07 17:23] timknowlden opened #418 "Request: decrease size"
Love the dashboard but would love it even more if I knew how to make the tiles smaller, icons smaller and text. I can fit 6 tiles under a Whoogle search bar with header removed and 4 columns. If all was smaller I’d be able to increase that?

[2022-04-07 20:04] bastienwirtz commented on #403
Hum :thinking:, I don't have a portainer setup to troubleshoot that.
@Zareix Any idea ?

[2022-04-07 20:20] Zareix commented on #403
Hey, I had a similar problem with portainer in some case the preflight was block due to how portainer HTTP(S) responses are handled.
I'm not using caddy but NGINX so I added the following to handle everything :
[code]
The idea is that when the requested method is an "OPTIONS", we need to add the cors headers + allow method "OPTIONS/GET/POST" + authorize the "X-API-KEY" header (used by portainer ap

[2022-04-07 20:28] Zareix commented on #403
However I'm not sure exactly why this is happening in our case, and if it is a bug or not with portainer tbh

[2022-04-08 01:54] cskwrd opened #419 "How do I commit my configurations to source control?"
The [docker-compase documentation](https://github.com/bastienwirtz/homer#using-docker-compose) mentions we should map the *assets* directory. Upon starting the container (as part of a docker-compose), several files are created in the mapped folder.

Which files ~should~ need to be committed to source control?

[2022-04-08 11:16] OfficialCRUGG opened #420 ""No ESLint configuration found""
Hey! Just tried to set this up on my server. Installed NodeJS 16, globally installed yarn, cloned the repo, ran `yarn install`, ran `yarn build`. The last one returns an error though and fails:

[code]

Did I do anything wrong on my end? Is this a known issue? How would I fix it?

[2022-04-08 11:35] IosifZ commented on #232
I saw 3 updates lately but no release notes and also this issue is not fixed. Any ideas?

`> MediaServer:
Ouroboros has updated containers!
Host/Socket: ouroboros / var/run/docker.sock
Containers Monitored: 22
Total Containers Updated: 13
Containers updated this pass: 1
homer updated from 6ca13e7e81 to ead1cf8728

Ouroboros has updated containers!
Host/Socket: ouroboros / var/run/docker.sock
Conta

[2022-04-08 13:49] bastienwirtz commented on #232
Hi there !

Sorry for the waiting on that, I'll get on it soon.
@adyanth I think that could work. I'm gonna try to add an option in the `config.yml` (under the proxy section) to run a request with a query string that should bypass the service worker cache and trigger the redirection on the right URL.

[2022-04-08 17:29] espilioto commented on #403
I had a CORS issues as well.
My portainer 2.11.1 instance (everything, actually) is behind Traefik, resulting in successful insomnia/postman requests but errors similar to yours from browsers.

Adding Homer's url to an allow origin list plus these headers fixed my issues:
- accessControlAllowOriginList: https://homerurl.goes.here
- accessControlAllowCredentials: true
- accessControlAllowHeaders: [

[2022-04-08 17:32] espilioto commented on #419
Are you trying to backup your config doing that?
If yes, mainly `assets/config.yml`

[2022-04-08 17:39] espilioto commented on #396
For folks behind Traefik this is my config:

We define a middleware called cors-headers in config.yml:
[code]

The middleware can then be assigned to routers with something like this in your docker-compose in each image:
`"traefik.http.routers.myservice.middlewares=cors-headers@file"`
DON'T FORGET THE SECURE ROUTER!!
`"traefik.http.routers.myservice-secure.middlewares=cors-headers@file"`

To verif

[2022-04-11 15:55] lcardito opened #422 "Random background"
Hey Team! First of all awesome work! Installed Homer today and I am already loving it!

I was basically looking to replace my new tab page with Homer from Momentum, one of the things I loved about Momento was the different background pic it would display every day.

Trying to do something similar with Homer I came across [Picsum](https://picsum.photos/) which is extremely simple to integrate as th

[2022-04-12 16:07] cskwrd commented on #419
Ya the idea is that I can move my `docker-compse.yml` file to another host (along with supporting config etc) and spin everything up without problems.

Are there instance when I would want to back up other files? Probably if they are referenced from `assets/config.yml`, correct?

[2022-04-12 16:10] espilioto commented on #419
Hmmm...
Copying the whole assets folder, docker-compose.yml and updating the folder mounts in it sounds like everything you need.

[2022-04-12 17:26] ykktrcb7 commented on #230
For me it happens on Firefox for android while it is always working on the laptop. Anyone has ideas?
I tried chmod 777 and no change.

[2022-04-14 15:38] sujaldev opened #424 "Ping Module Feature Request"
I don't know if this is already possible but I'd like to separate out the url used by the ping service and the url that I am redirected to when I click on the service in the dashboard. Something like this:
[code]

[2022-04-15 10:59] HeyItsJono commented on #424
I think you can do this already; just define the url you want to ping as `endpoint`. Using your example:

[code]

[2022-04-15 11:03] HeyItsJono opened #425 "Ping flags as Offline if response isn't 200"
Even when using a CORS proxy, if an endpoint returns a non-200 response when Pinged, the service is flagged as Offline. I was wondering if there could be an option to only flag a service as offline if there is no response from the service, since many of my services (Plex, Jellyfin, Nextcloud, etc.) return non-200 responses to Ping's HEAD request even when they are up and running.

[2022-04-15 11:03] sujaldev commented on #424
Thanks!!

[2022-04-15 11:03] #424 closed

[2022-04-15 11:22] HeyItsJono commented on #396
For anyone looking for something easily deployable in the meantime whilst awaiting a solution, as a shameless self-plug you could try [PyCors](https://hub.docker.com/r/heyitsjono/pycors).

[2022-04-16 14:10] tomdaley92 commented on #264
I too am getting this error with the default configuration

[2022-04-16 14:32] tomdaley92 commented on #230
Not sure what's going on here but with the default docker configuration with `/www/assets` mounted to my host at `~/.diesel/homer/production/config/` Homer was looking for the `additional-page.yml` so I just copied `additional-page.yml.dist`

![image](https://user-images.githubusercontent.com/12147036/163678982-295b8616-3312-4b8d-9fbb-c09dcf7c2a81.png)

![image](https://user-images.githubuserconte

[2022-04-20 15:20] cskwrd commented on #419
That seems reasonable, thanks!

[2022-04-21 14:15] r4b8iiiiiit opened #427 "Bulma-Extensions"
Hello, would it be possible to integrate Bulma-Extensions into Homer? [](https://bulma.io/extensions/)

[2022-04-22 00:41] Roundaround commented on #427
What for exactly? Homer is a config-based system, so I'm not sure what use it would be

[2022-04-22 22:45] svenflender commented on #403
Hi all,
is there a solution other then use a proxy like nginx between?
Best Regards

[2022-04-23 00:32] StinkyTACO commented on #403
where would I add this in the nginx proxy manager ?
i tried advanced but that did not work

[2022-04-23 13:59] Zareix commented on #403
@StinkyTACO

Oups, I put the wrong screenshot, just updated it.
You need to create a new location with the same url/port with "/" (root) for the path. Then add all the above config in there.

[2022-04-23 18:48] r4b8iiiiiit commented on #427
Ideally I'd like to implement a few toggle switches on my page

[2022-04-24 15:08] itsjustk opened #429 ""On the fly" services"
Hi there!

Thanks for the great project, I was wondering, is it possible to add your own custom services in the assets folder, or do they have to be built in to the main project? I'm using the docker the official docker image so I don't want to have to readd everytime there's an update.

Thanks for your time :)

[2022-04-24 21:12] Roundaround commented on #427
Unfortunately I don't really see a way to allow people to do that via config without significant effort or complexity in the project. If you need interact-ability then honestly your best bet is to avoid Homer and build your own dashboard from scratch

[2022-04-24 21:12] #427 closed

[2022-04-24 21:17] Roundaround commented on #429
At the moment it's not possible, but we've actually been chatting about how we could implement a plugin-style system that would grab services from the assets folder. I wouldn't get too excited though because there are several other things we're tackling first and even when we do get to it we need to figure out the technical side of a plugin system (particularly how to facilitate development with I

[2022-04-24 21:17] #429 closed

[2022-04-24 22:06] Roundaround commented on #403
@svenflender No, your only option is to put some kind of proxy between them. It doesn't necessarily have to be a full blown web server like nginx - you can write a simple proxy server/api in whatever language you prefer. Eventually we hope to add some better documentation and maybe even a first-party solution to this. See #396 for more info

[2022-04-25 00:13] Roundaround commented on #420
Hm, I can't seem to replicate. Can you try again on the latest commit?

Also what is the output of the following commands?

[code]

[2022-04-25 18:35] broizter opened #430 "Feature Request: Tautulli service"
Would be awesome to be able to see how many streams are currently active on my Plex server at a quick glance for example. The API looks pretty straight forward https://github.com/Tautulli/Tautulli/wiki/Tautulli-API-Reference

I tried to have a look if I could write the plugin myself but it seemed a bit too difficult for me.

[2022-04-26 01:50] Roundaround commented on #412
I like the idea of this - I'd have to think a bit on what tokens would be useful though. I agree that BASE_URL is more or less useless but we surely come up with something

[2022-04-26 14:13] n-e-t-d-i-v-e-r opened #431 "Struggle at building legacy bundle"
I tried to install homer on my raspibolt, but it struggles now on «Building legacy bundle for production» with following allert:

`npm run build

⠙  Building legacy bundle for production...(node:33160) UnhandledPromiseRejectionWarning: Error: Compiling RuleSet failed: Unexpected property test in condition (at ruleSet[1].rules[1].resource.test: resource => {
        currentResource = resource

[2022-04-26 14:24] Roundaround commented on #398
It seems to work on my machine, albeit with a few tweaks to your CSS (some formatting issues make it invalid). This is what I used:

[code]

The most important change was that I changed the comma at the end of the two src properties to semicolons to properly terminate the lines. Otherwise I just did some various cleanup because there was a lot of junk that wasn't necessary (i.e. font-style and fon

[2022-04-26 14:29] Valefoth opened #432 "Bump @fortawesome/fontawesome-free version to v6"
# Version 6
Could it be possible to bump the @fortawesome/fontawesome-free dependency version to latest (v6.1.1) ?

[2022-04-26 22:12] Roundaround commented on #431
I'm not sure where the legacy aspect of it is coming from to be honest. Perhaps it has something to do with the Pi's architecture or the version of node you're using?

What do you get when you run the following commands?

[code]

[2022-04-26 22:19] #432 closed

[2022-04-27 01:43] #392 closed

[2022-04-27 01:50] Roundaround commented on #416
I don't think it's likely we'll be adding something like this given that we wouldn't use any of the icons in the base app, and not everyone will even want to use them (personally I wouldn't), so it'd bloat the binary size for only a subset of users.

If you want, you could load their webfont on your own dashboard as a custom css file and use the icons yourself that way. You could even get cheeky w

[2022-04-27 01:50] #416 closed

[2022-04-27 01:54] Roundaround commented on #413
Your workaround is not really something I'd feel comfortable putting in the docs, since it is in essence a bit of a hack. Either way, I'm glad you found a solution that worked for you!

[2022-04-27 01:54] #413 closed

[2022-04-27 04:58] n-e-t-d-i-v-e-r commented on #431
thx for your quick response. looks like I’m on the actual versions:
node --version: v17.8.0
npm --version: 8.7.0

[2022-04-27 12:58] matthewstrasiotto commented on #412
A lot of apps tend to be hosted on separate sub-domain, eg: `homer.example.com`, `app2.example.com` , so yeah, base_url would be appropriate, eg

[code]

Personally I literally run my homer configs through a templating program that looks like this:

[code]

@Roundaround  IMO best bet is to be unopinionated about which tokens to use, and to substitute any env var which matches a certain pattern, eg

[2022-04-27 13:37] JonSilver commented on #412
Many applications on local servers are hosted on different ports, so relative paths aren't possible and BASE_URL is essential. Tokenisation from all/any environment variables would be best for ultimate flexibility. Getting caught up with ideas of what's needed or not needed from the limited POV of a single use-case restricts versatility.

[2022-04-27 14:55] JordyEGNL commented on #403
thanks this worked for me!

[2022-04-27 15:32] Roundaround commented on #431
Hm, I found a similar-looking issue on some other Vue-based repo:
https://github.com/laravel-mix/laravel-mix/issues/2613

Could you try running `npm install vue-loader --save` and then try building again?

[2022-04-27 15:44] n-e-t-d-i-v-e-r commented on #431
now it looks like this ...

`> homer@21.9.1 build /home/homer/homer

⠴  Building legacy bundle for production...

 ERROR  Failed to compile with 2 errors

[2022-04-27 16:06] JordyEGNL commented on #384
![image](https://user-images.githubusercontent.com/65036298/165562621-e008e2b1-1e00-4430-a880-3618852d5dc7.png)
This is what worked for me using Nginx proxy manager

[2022-04-27 18:21] SHU-red opened #434 "Footer overlaps Buttons"
If many buttons are configured or maybe homer is visited via cellphone, the lowest buttons are overlaped by the footer.
Sometimes its a big part of the button.

Seems like some space with the height of the footer could/should be added to be able to fully access all buttons.

[2022-04-27 18:24] trusk89 opened #435 "Starting at boot"
Can someone point me in the directions of a tutorial of starting it at boot? I don't have docker on the machine im running it, but I do have npm and node (i'm running it now with npx). Thank you

[2022-04-27 19:01] Roundaround commented on #435
Running it "in production" (24/7 uptime, regardless of if its just for you internally) via node/npm is not recommended. If you don't want to use docker, your best bet will be to build the dashboard with `yarn build` and host the files output in the `dist/` folder with some kind of web server like nginx (or the lighttpd service used by the docker container internally).

[2022-04-27 22:07] Roundaround commented on #431
Since you used npm instead of yarn, do you have a package-lock.json? If so could you paste the contents into a [Gist](https://gist.github.com/) for me? From the other thread it seems like it boiled down to a version mismatch for them

[2022-04-27 22:50] Roundaround commented on #412
The problem with an environment variable approach is that they are only available at build time. If we wanted to expose environment variables to the dashboard within the lifespan of the container, we'd have to either build out some kind of API to pass them out to the web app or write some kind of startup script to write the environment vars to a file that can be pulled dynamically similar to the c

[2022-04-27 23:16] dotspecialists opened #436 "Ability to sort list or filter list by Status"
I have more than two thousand websites I monitor using this easy-to-use awesome tool.  When I do see two sites down, it's difficult to find the sites being impacted as there seems to be no way to filter the list by up, down or paused sites.  It would nice that under Quick Stats, each stat number is a hyperlink to a filtered list showing all sites that have a matching status.

Thanks.

[2022-04-28 05:11] n-e-t-d-i-v-e-r commented on #431
because it gets a little to technical for an grafic designer like me, i’m not sure if it’s this what you asked for? meanwhile I found this package-lock.json in the homer-folder but I don’t know how to copy the file or it’s content into [Gist](https://gist.github.com/)

[2022-04-28 06:06] trusk89 commented on #435
thank you for the hints, I'll try it with yarn

[2022-04-28 07:34] JonSilver commented on #412
Ah I see... In my use-case I don't think I'm limited in this way. I run my containers in a Balena multi-container (docker compose) setup... I get to set my environment variables per device remotely from the Balena dashboard... And I can set them per container, for all containers or for all devices... Then they're automagically available to running code as soon as the container is started. Thus, if

[2022-04-28 08:32] trusk89 commented on #435
gave up and installed docker, thank you!

[2022-04-28 08:32] #435 closed

[2022-04-28 13:06] Roundaround commented on #436
Is this perchance meant to be a request for [Uptime Kuma](https://github.com/louislam/uptime-kuma)? :)

[2022-04-28 15:29] dotspecialists commented on #436
Yes, this is for uptime Kuma.  When I am in the dashboard and it says I got a few sites down, I have to scroll through the list of 2000 sites to see which one has the red tick.  It would be able to filter them somehow. Please see iamge: https://i.imgur.com/uP9VJgH.png

[2022-04-28 20:42] Roundaround commented on #436
This is the GitHub repo for Homer, not Uptime Kuma. You'll need to make your feature request [there](https://github.com/louislam/uptime-kuma/issues/new?assignees=&labels=feature-request&template=feature_request.yaml)

[2022-04-28 20:42] #436 closed

[2022-04-28 21:52] Roundaround commented on #434
Fixed with [6e4410d](https://github.com/bastienwirtz/homer/commit/6e4410d8f144e3ab2ff22444313f2a3c3a24c29c).

[2022-04-28 21:52] #434 closed

[2022-04-28 21:55] Roundaround opened #438 "Update layout to make header & footer optionally sticky"
Right now the footer is always sticky and the header never is. We should add the ability to easily change the stickiness for either

[2022-04-29 18:18] #430 closed

[2022-04-29 20:10] KibosJ commented on #396
If using SWAG I got mine working by creating a cors.conf in the nginx folder

[code]

Then adding this to each server conf (Portainer, Sonarr, etc.)

[code]

Sonarr's api block in SWAG would become:

[code]

[2022-04-29 20:22] #403 closed

[2022-04-30 14:00] bastienwirtz commented on #325
Hi there !
Thanks for reporting this. The docker file has been reworked to run as a non-root user, hope it works for you! feel free to give your feedback.

[2022-04-30 14:00] #325 closed

[2022-04-30 14:00] bastienwirtz commented on #261
Hi there !
Thanks for reporting this. The docker file has been reworked to run as a non-root user, hope it works for you! feel free to give your feedback.

[2022-04-30 14:00] #261 closed

[2022-04-30 14:02] bastienwirtz commented on #209
Hi there !
Thanks for reporting this. The docker file has been reworked and now you can set the `INIT_ASSETS` env var to 0 to skip default asset install. Hope it helps!

[2022-04-30 14:02] #209 closed

[2022-04-30 14:02] bastienwirtz commented on #193
Hi there !
Thanks for reporting this. The docker file has been reworked to run as a non-root user, hope it works for you! feel free to give your feedback.

[2022-04-30 14:02] #193 closed

[2022-04-30 16:56] alexbergsland commented on #325
Anyone ending up here from Homer suddenly not working anymore ;)

Change
[code]
to
[code]
as per new compose file example: https://github.com/bastienwirtz/homer/blob/main/docker-compose.yml

[2022-04-30 19:04] KibosJ opened #440 "New tautulli service doesn't work on Safari"
The new tautulli service doesn't work in Safari

**Error in console**

![Safari 2022-04-30 at 8 01 45](https://user-images.githubusercontent.com/29429479/166119223-a2bd1a4f-b7c7-4da6-939f-33d30f066354.png)

It does work in Edge, which makes me think this isn't a server configuration issue, which is a bit odd

[2022-04-30 19:55] justsomebody42 commented on #261
Took me a couple of tests with the latest release before I recoginzed this wasn't yet part of it 😆
Built an updated image and it works like a charm!
Thanks a lot for taking the time to look into this!

[2022-04-30 19:57] KibosJ commented on #440
Weird, just started working!

[2022-04-30 19:57] #440 closed

[2022-04-30 21:09] MajorTwip opened #441 "404 with Docker Container since newest release"
Docker Container not working anymore.
Will investigate and update issue

b4bz/homer from docker Hub

[2022-04-30 21:24] Roundaround commented on #441
Is this using the `latest` tag (which is the default for no tag provided)?

[2022-04-30 21:56] danielwerner86 commented on #441
Having the same issue. When I check the network settings the NAT isn't working, it won't take an internal IP.

[2022-04-30 22:01] Write commented on #441
Issue with latest release too
[code]

[2022-04-30 22:54] Roundaround commented on #441
Yup this is a result of the recent Dockerfile rework. If you are using UID and GID in your docker run/docker compose, remove them now and everything should work again. See https://github.com/bastienwirtz/homer/issues/325#issuecomment-1114019406

[2022-04-30 23:08] Write commented on #441
Indeed work perfectly, thanks.

[2022-05-01 07:07] adyanth commented on #441
Did the location for `config.yml` also change? I had it mounted on `/www/config.yml` which no longer works. Changing it to `/www/assets/config.yml` works fine.

[2022-05-01 07:36] wormvortex commented on #325
Perfect! Was wondering why mine had stopped working.

[2022-05-01 08:11] Write commented on #441
hmm Mine always were been mounted to /www/assets

[2022-05-01 08:15] Marlig76 commented on #441
I think the problem is due to the change from GID/UID 911 to 1000, causing the app to not find the assets folder anymore and at the same time not being able to copy over the default assets folder.

Solution that worked for me:
`sudo chown -R 1000:1000 assets/`

Latest image works now again. :-)

[2022-05-01 08:20] bastienwirtz commented on #325
@alexbergsland @wormvortex I thought it wasn't breaking change, So sorry for that :(

[2022-05-01 08:27] alexbergsland commented on #325
No worries, easy fix.
Thanks for keeping this project up.

[2022-05-01 08:28] bastienwirtz commented on #441
Sorry for the breaking change folks :(
As already mentioned, updating your user / permissions should fix it. For example If you used the UID / GID env var:

Remove your UID / GID configuration
[code]
and use the `user` docker property instead
[code]

@adyanth the config file mouved a while ago but the old path was still supported until the last release.

[2022-05-01 08:33] bastienwirtz commented on #261
@justsomebody42 Yeah sorry, I'm just waiting a bit to see if everything is fine with `:latest` users and I'll do a release !

[2022-05-01 10:03] auanasgheps commented on #441
I have the same issue, thanks for reporting and providing the solution.

A notice in the changelog or somewhere else would have been appreciated :)

[2022-05-01 11:18] simonporte commented on #441
Hello,
The UID/GID change is indeed breaking and can be fixed with a change of IDs either in docker config on on filesystem via `chown` like previously said.
The container does not fix the permissions by itself.

I notice an anomaly:

When running the container,

[code]

The first line shows `No configuration found, installing default config & assets` which is wrong, the page loads correctly.
If I

[2022-05-01 12:59] fl0r1s opened #442 "Scaling logo to cover title + subtitle"
Hi

Does anyone know how to scale the logo area to be the size of the banner?

thx!

[2022-05-01 15:10] Neeham commented on #441
Unfortunately, changing UID/GID to user did not fix on my end

![image](https://user-images.githubusercontent.com/10670820/166152151-d8fc4350-ec19-4e77-9151-95de16678a3d.png)

[2022-05-01 19:27] bastienwirtz commented on #441
@simonporte Hum, that's weird, I'll look into it asap. Thanks reporting that.

@Neeham Is the config.yml file readable by the configured `user`? Can you tell more about your setup?

[2022-05-01 19:37] Neeham commented on #441
I delete the whole volume and all associated file with Homer to have a "fresh" start.

Grabbed: https://github.com/bastienwirtz/homer/blob/main/docker-compose.yml

Exactly the way it is. (Just updated my volume path). Same issue, went under the mapped volume path but nothing was found to be there? the /www/assets/* was empty.

Using Portainer to deploy containers. I am suspecting it's probably the

[2022-05-01 20:49] bastienwirtz commented on #441
@Neeham ok, make sure the mounted directory is owned by the user / group 1000 **OR** change the user directive to match the owner of the mounted dir, and you should be fine.

[2022-05-02 09:21] Gronda74 commented on #441
A newb here. I was happily running the previous container in Docker on my Synology DS. Updated to the new version and I think I have hit this same permissions issue. I've removed the old UID and GID entries from the environment tab but am lost with how to:

I've tried adding this to the environment with USER as the variable and 1001:1001 as the Value but that doesn't seem to work. In the log for t

[2022-05-02 11:54] bastienwirtz commented on #441
Hey @Gronda74,

The `user` setting is not an environment variable, it's a docker option, in a compose file, it looks like this: https://github.com/bastienwirtz/homer/blob/main/docker-compose.yml#L13 or `--user` with the `docker run` command.

[2022-05-02 14:10] Gronda74 commented on #441
Thanks @bastienwirtz, that's what I feared you'd say. I don't have any experience of compose files. I've only got to the stage of downloading containers, entering the relevant settings and running it. So far that's been enough for my needs (and I was happy enough leaving my days of faffing around with command line wiffle back in the 90's!).

[2022-05-02 19:44] bastienwirtz commented on #441
@Gronda74 I see, I looked quickly into [synology doc](https://kb.synology.com/en-nz/DSM/help/Docker/docker_container?version=6), I don't see how to set the user, BUT, you should be able to change the assets directory permission to 1000:1000 to make the container work.

[2022-05-02 20:36] Gronda74 commented on #441
@bastienwirtz  thanks, I’ll see if I can give that a go.

[2022-05-03 12:40] DanielPiccoli commented on #384
2.34 is your adguard?
what did you configure on the first tab of the redirect ? (domain names) the IP ?

[2022-05-03 13:38] JordyEGNL commented on #384
![image](https://user-images.githubusercontent.com/65036298/166463225-b1eb6a8c-19ae-4749-ac65-74db3caa3239.png)
AdGuard is hosted on another device, thats why I specified an IP instead of container name

[2022-05-03 14:14] FM-500 commented on #441
If that is an issue for yiu, you might want to look into using portainer.
There, you can set the user through GUI:
<img width="1700" alt="Bildschirmfoto 2022-05-03 um 16 13 00" src="https://user-images.githubusercontent.com/40071240/166470189-aa1ba6bd-3e2f-43bc-be1b-87f8442c517b.png">

[2022-05-05 22:17] arunoruto opened #445 "Automatic Service Discovery"
If we are using a dashboard, we usually have also other services running, probably behind a reverse proxy like nginx, traefik, etc. We also configure those services for the reverse proxies using the compose files, either with environmental variables or using labels. Both of those properties can be viewed using the `docker inspect <container name>` command, hence they can be fetched. It would be qu

[2022-05-06 05:41] MajorTwip commented on #441
chown -R 1001:1001 . did the trick

[2022-05-06 05:41] #441 closed

[2022-05-06 17:02] petrleocompel commented on #157
@PartTimeDataScientist have you found any good solution for SPA problems ?

 I am in that state currently.

[2022-05-07 22:59] Neeham commented on #384
@JordyEGNL I believe what @DanielPiccoli is asking is the information under the "Details" tab. More specifically he is wondering what have you put for Domain Names. Was it the IP? The IP with port? or an actual sub domain.

@DanielPiccoli Did you got it working? :P

[2022-05-08 12:59] DanielPiccoli commented on #384
No, I did not get it working

here is my setup

10.0.0.1 Edgemax router > Port forward inbound 80/443 to 10.0.0.5
10.0.0.4 is my adguard (outbound traffic DNS / filter)
10.0.0.5 is my NGINX Reverse proxy. 9using it as a reverse proxy only at the moment)

10.0.0.6 - HOMER

10.0.0.8 - service 1 - exposed externally as domain1.something.com
10.0.0.9 - service 2 - exposed externally as domain2.somethi

[2022-05-09 11:06] vosdev opened #446 "Feature: RSS feed"
This is a feature request

I would like to see if there's people interested in having an RSS feed included in homer, and if there are developers willing to create this

You can show your interest with emojis

[2022-05-09 17:45] TheRealRWJ opened #447 "Feature request: Multiple pages"
Love your app.
Wish I found it sooner.

Categories, works great, but the list is getting too long especially on my phone

My request is using multiple pages. i.e. by using multiple config files like iot.cfg , default.cfg school.cfg
Or is there already an option to choose another config file using the url?
If so, the top menu could be used to switch

I hope I gave you some usefull ideas

Thanks in

[2022-05-09 22:00] bemble commented on #232
@bastienwirtz I had a different approche in my PR #448 : auth proxy creates a proxy that redirect to the auth page only when necessary, for every request. In homer, it's, in my opinion, the only moment where a redirection can happen to `?alive` request. So I detect, in this request, whether a redirect happened or not. If a redirect happens, using the right option to `fetch` (redirect), the respons

[2022-05-10 04:28] adyanth commented on #232
Oh that's a brilliant approach, since the service cards might need it to be logged in too.

[2022-05-10 07:54] bemble commented on #232
For testing purpose, I pushed a docker image, [`bemble/homer:fix-auth`](https://hub.docker.com/repository/docker/bemble/homer), if you want to try.

Disclaimer, this image is based on today's latest version, it's for testing purpose, I won't maintain it along @bastienwirtz version. It will be deleted when the issue will be closed.

[2022-05-10 12:36] Roundaround commented on #447
Hi RWJ!

It's not super obvious from the documentation, but if you look in the [configuration](https://github.com/bastienwirtz/homer/blob/main/docs/configuration.md) page, you should see the links section where we have a link pointing to `#page2`. If you add a link like that, and a file in the same assets directory called `page2.yml`, it'll create a new page and link to it! All of the configuratio

[2022-05-10 12:36] #447 closed

[2022-05-10 15:49] DanielPiccoli commented on #384
perfect, got it working now

[2022-05-10 15:55] JordyEGNL commented on #384
Cool! I think I will add a PR with a small tutorial on how to do this with nginx

[2022-05-10 20:34] TheRealRWJ commented on #447
Ofcouse .... Already built in ....
What was I thinking ...

Got it working
Thanks for the very fast
 response

[2022-05-12 21:41] GRMrGecko commented on #372
I think the idea is a keywords array with different keywords that can be searched for. For an example, OPNsense could have the keywords vpn, router, vlan, network added to it so when I come to the dashboard and am thinking "What was it that I used to setup the VPN?" I could just search VPN and OPNsense would popup.

[2022-05-13 13:00] wardwygaerts commented on #396
I have it working in Traefik. But I also use `forwardAuth` (Google authentication) and when I enable this middleware together with the one for cors, it's not working anymore:
[code]

[2022-05-15 00:27] SmartPhoneLover commented on #425
+1

[2022-05-18 16:43] espilioto commented on #396
Hmmm, examine the response with and without it, maybe you must allow a specific header through.

[2022-05-19 14:44] Loqova opened #452 "Critical vulnerability in lua5.4-libs (CVE-2022-28805)"
There is a critical vulnerability in lua5.4-libs (CVE-2022-28805) which has been fixed with lua5.4-libs version 5.4.3-r1 already.

[code]

Additionally there is a less severe libldap vulnerability (CVE-2015-3276) that seems to have no fix.

[2022-05-20 08:12] wardwygaerts commented on #396
How can I find out missing headers? I always check via Dev Tools and then Console.

[2022-05-20 15:06] Pilchh opened #453 "Unable to use custom network for container"
Hi, I'm trying to use a custom macvlan docker network to give the homer container a local IP address for use with pihole DNS. Whenever I change the homer containers network from bridge to my custom network, I can not access homer from the new IP address. I have used the same network on other containers and it works fine. Not really sure why it's not working.

Let me know what you think.

Thanks :)

[2022-05-21 19:49] espilioto commented on #396
Sure, that's how I'd go about it too.
If for some reason something feels funky, just try doing the same thing without the proxy; I usually just start the same image in a different docker network to make sure everything works as it should without it and then examine the headers.

[2022-05-23 10:52] plattze opened #455 "Trying to specify PORT via environment variable. Docker run works, docker-compose fails"
[code]
(Address in use is expected, another 8080 webserver is running.)

[2022-05-23 18:19] vincentDcmps commented on #445
take a look on https://github.com/calvinbui/homer-service-discovery

[2022-05-23 20:19] bastienwirtz commented on #453
Hello @Pilchh,

That's a good question, I never used macvlan networks. Homer's dockerfile is pretty simple, I don't see anything that could explain the difference with other containers :thinking:

Maybe share a configuration exemple ?

[2022-05-23 20:21] bastienwirtz commented on #446
Hey @vosdev,

So, you mean a custom that display the latest rss content title for exemple ?

[2022-05-23 20:30] bastienwirtz commented on #442
Hey @fl0r1s,

I think you could use a custom css file to do that, by adding somthing like
[code]

In your config file, with `custom.css` containing the tweak you want for your banner.

[2022-05-24 03:20] plattze commented on #455
Yes, you were right.  Sorry!  It was an old image that needed to be removed.  Anything that stumbles on this, don’t forget “docker ps -s” and “docker rm $id”

[2022-05-24 08:49] #455 closed

[2022-05-24 09:10] #372 closed

[2022-05-25 11:46] sovintz commented on #331
I am having the same issue. I installed homer using docker compose and now the service worker tries to precache non-existent files, similar as @cinderblockgames's error.

[code]

[2022-05-27 02:26] wy580477 opened #456 "Homer with http basic auth issue after web service restarted & doesn't work in Edge android"
- I put homer behind caddy basic auth with following Caddyfile config:
[code]
- After my caddy service restarted each time, visit homer page will give this error instead of asking me for user:password.
![image](https://user-images.githubusercontent.com/98247050/170614417-854b7da5-56a1-4b46-afcd-258fe2a7fb18.png)
- I have to press F12 or Shift+F5, then the page will ask for user:password.

- On Edg

[2022-05-27 07:14] fbartels commented on #456
https://github.com/bastienwirtz/homer/pull/448 Fixed this for me

[2022-05-27 07:37] wy580477 commented on #456
Thx for help. I will try it out.

Is there a way to disable connection check? I have little need for that.

[2022-05-27 09:10] wy580477 commented on #456
I build a release with github action from [bemble's repo](https://github.com/bemble/homer)

https://github.com/wy580477/homer/releases/latest/download/homer.zip

This fix my issues.  Edge android will ask for use:password every time when I open the page.

[2022-05-28 10:30] CountCypher opened #457 "How set default theme to dark in docker?"
First of all, thanks for this great app! :heart:
I'd like to set the default theme to dark and I found how to do this in [this issue](https://github.com/bastienwirtz/homer/issues/30). But I'm struggling how to edit `app.js` within the docker container. I've tried `docker exec -it homer /bin/bash`, but it gives me an error. Thanks in advance for the help. :smile:

[2022-05-28 13:09] CountCypher commented on #457
Sorry, my bad, it was easier than I thought:
I've just added this code to the `config.yml`:
[code]
Problem solved. :+1:

[2022-05-28 13:09] #457 closed

[2022-05-29 13:13] fl0r1s commented on #442
Cool, I achieved this with the following:

[code]

[2022-05-29 13:13] #442 closed

[2022-05-31 04:40] VajraCool commented on #441
I am facing the issue as mentioned below.  I have tried removing the container and even removed image as well and tried to run

here is my `docker-compose` file

[code]
error I see

[code]
I see the permissions are there to write
[code]
I am not sure what exactly this gonna do `skip default assets install by setting the INIT_ASSETS env var to 0` ?

is there something I am missing ?

[2022-05-31 04:46] VajraCool opened #459 "Assets directory not writable"
I am facing the issue as mentioned below. I have tried removing the container and even removed image as well and tried to run

here is my `docker-compose` file

[code]

error I see

[code]

I see the permissions are there to write

[code]

I am not sure what exactly this gonna do skip default assets install by setting the INIT_ASSETS env var to 0 ?

is there something I am missing ?

Note - create

[2022-05-31 08:37] subhamayd2 commented on #351
This seems to be due to this line in `index.html`:
[code]

[2022-05-31 16:15] Alexgamer470 opened #460 "container: unhealthy; log: clock jumped"
I just wanted to setup Homer, because I thought it looks very good but it just doesn't seem to work. It's just repeatedly restarting, while repeatedly saying:
[code]
I tried it on my raspberry with docker first and then with portainer and both didn't work.
I also have a static IP adress setup with dhcpd and maye that causes issues? I look forward to your replies!

[2022-06-01 02:13] deez3134 opened #461 "No config.yml when deployed on portainer."
Im new to this so how do i get the config.yml in assets

![image](https://user-images.githubusercontent.com/106639724/171314187-b41519f0-5834-4ff0-b3f3-613057d5e94d.png)

[2022-06-01 06:53] bastienwirtz commented on #441
@VajraCool your assets directory is owned by root, you can try `chown -R 1001:1001 </your/assets/dir>`.

[2022-06-01 06:59] bastienwirtz commented on #459
Hey :wave:
As I was saying on the other issue, your assets directory is owned by `root` the user / group of the assets dir should match the `user: xxxx:xxxx` directive in your compose file. This error is normal and expected in this case.

set INIT_ASSETS to 0 will prevent homer to try to write into the directory, but you will have to configure homer entirely from scratch. The defaults assets provi

[2022-06-01 14:55] adirbd commented on #425
+1

[2022-06-01 19:08] WarmEthernet commented on #459
I'm having this same issue now after updating my server. My config looks the same as above and the GID and UID in the docker-compose match the owner of the assets directory. I have other containers running as expected on the same server and Homer seems to be the only one that broke during the update.

[2022-06-02 01:32] wy580477 commented on #461
Run following command:

mv config.yml.dist config.yml

[2022-06-02 03:23] VajraCool commented on #459
you mean , I should delete images , container , directory and do everything by setting env variable ?

[2022-06-02 03:49] Neeham commented on #441
Since a few are still struggling. Those on Qnap. I used:

`user: 911:911`

and it worked flawlessly :)

[2022-06-02 22:00] KptBlaubaer commented on #460
Hey 👋,
I had today the same issu while trying to update to the latest image.
If I go back to the older image everything works fine.

In my case Homer runs on a Raspberry Pi 4 with the latest Docker version.

[2022-06-02 23:31] deez3134 commented on #461
Thank you

Sent from my iPhone

[2022-06-03 08:51] tropics1999 commented on #459
I had the same problem using 'user: 1000:1000', I tried several different directories but none worked. I changed it to 'user: 0:0' and this worked for me. I am far from a Linux expert though, so this may not be recommended.

[2022-06-03 10:55] e1ke commented on #459
that helped me a lot, thanks mate

[2022-06-03 12:38] mietzen opened #464 "Feature Request: allow referrerpolicy to be configured"
I found that you explicitly delete the referrer:
https://github.com/bastienwirtz/homer/blob/220c60cba04e86e782e9610aa8ef0d77e221072c/src/components/services/Generic.vue#L8

Is there a reason for it? I wanted to use `valid_referers` from [ngx_http_referer_module](https://nginx.org/en/docs/http/ngx_http_referer_module.html)

Edit: I tested it and made a feature request out of this ticket, see post b

[2022-06-03 15:18] n-stone commented on #464
Just for reference:

This is a snippet of my nginx config for a service:
[code]

The Homer Dashboard is hosted on `$domain` and is protected via http auth, all linked services are subdomains of `$domain`, with the nginx config they now can only be accessed via the Dashboard and not directly.

For this to work I changed:

` <a :href="item.url" :target="item.target" rel="noreferrer"> `

to

`<a :hre

[2022-06-04 02:10] Hussienfahmy commented on #461
I have the same issue and the solution does not worked for me

[2022-06-04 07:07] #232 closed

[2022-06-04 07:16] bastienwirtz commented on #461
Hi there,

@deez3134 Config files should be automatically installed in your assets directory, IF you created the assets directory with the right permissions (same owner as the user runing the container).

Could you share your container run parameter, the container startup logs, and show the assets directory permissions (`ls -la`) ?

[2022-06-04 07:31] bastienwirtz commented on #459
@tropics1999 @e1ke `user 0:0` will make the container run as root user. It's not recommended for security reason.

I mean if you skip asset install you will have to create a `config.yml` file in the assets dir by hand, because homer will not bootstrap the config for you.

@WarmEthernet That's weird, could you run those commands and share the result ?

[code]

That would help me understand. Thanks

[2022-06-04 07:34] bastienwirtz commented on #459
@VajraCool @tropics1999 @e1ke you can also run the commands I suggested to WarmEthernet and share the result. It would help debug.

[2022-06-04 07:42] e1ke commented on #459
![image](https://user-images.githubusercontent.com/77027501/171989849-4ff7a49d-28b5-44ad-99f5-f12290924853.png)

![image](https://user-images.githubusercontent.com/77027501/171989874-4a5f5443-84f5-4540-9697-e2a03f536e4f.png)

does this help?

[2022-06-04 07:44] bastienwirtz commented on #460
Hi there,

Thanks for reporting this, I haven't tested the migration to lighttpd on a raspberry pi, I will look into this asap, I need to re-setup my raspberry pi. I'll keep you posted.

[2022-06-04 07:49] bastienwirtz commented on #459
@e1ke Could you also share the docker-compose configuration or the command you use to run docker ? Thanks!

[2022-06-04 07:52] e1ke commented on #459
[code]

[2022-06-04 09:41] Alexgamer470 commented on #460
Hi, thanks for your reply!
I just restet my raspberry pi downloaded the latest image (64-bit, but I
don't think that it's necessary) and also changed the image installation
settings to disable telemetry. I don't know if that was the problem, or my
rpi was just messed up, but it works now flawlessly.

Bastien Wirtz ***@***.***> schrieb am Sa., 4. Juni 2022,
09:44:

[2022-06-04 11:58] garret commented on #425
+1

[2022-06-05 20:17] draz1c commented on #461
Hi,

I had same issue, but I didn't deploy it with Portainer (although a Portainer Docker is running in the machine) but with docker-compose.

I copied the [oficial docker-compose file](https://github.com/bastienwirtz/homer/blob/main/docker-compose.yml) and edited it a bit to make traefik work (labels, and add the same network as traefik):

[code]

`mkdir assets` with default user (1000:1000) and

[2022-06-06 05:47] #456 closed

[2022-06-07 10:36] greenerk commented on #194
Adding in my 2 cents here - I don't believe this is an issue that needs to be resolved at the Pi-Hole end.  I also have Pi-Hole running on a different device to Homer, but other dashboards pull out the stats just fine.  One example is [Heimdall](https://github.com/linuxserver/Heimdall):

![image](https://user-images.githubusercontent.com/56622533/172359595-a35aa360-4b5c-441f-9319-d3387227cf3f.png)

[2022-06-08 06:02] tushev opened #465 "Feature request: custom service from JSON (with mapping like in messages)"
Hello,

First, thanks for this wonderful app!

I would like to have an option to create a "custom service" only from API data, purely by config, without the need of [writing any code](https://github.com/bastienwirtz/homer/blob/main/docs/development.md).

Something like:

[code]

I think that would be extremely useful and suitable for most of users.

[2022-06-09 18:45] theotherguy2175 opened #466 "IPv6 support? Change TCP port"
Does homer support ipv6?

I am using docker network ipvlan and therefor do not use dockers built in NAT. I was able to get ipv4 to work on tcp port 8080.

How ever it would be nice to change a config or something to listen on 80 and be able to use ipv6.

[2022-06-11 21:35] pxlnic commented on #382
I found that if you search using v5 instead of v6 they work (click the drop down to the right of the search box). I believe the version of FA being used in homer has not been updated since the change to v6. The icon naming convention has changed on some. Whatever link is being used in homer to pull the icons should just need to be updated.

![image](https://user-images.githubusercontent.com/228246

[2022-06-12 20:05] bastienwirtz commented on #162
Hi there, Darkhttpd has been replaced by lighttpd and this issue should be fixed!

[2022-06-12 20:05] #162 closed

[2022-06-12 20:06] bastienwirtz commented on #309
Hi there, Darkhttpd has been replaced by lighttpd and this issue should be fixed!

[2022-06-12 20:06] #309 closed

[2022-06-12 20:36] bastienwirtz commented on #452
Hi @Loqova,
thanks for reporting this, it's now fixed.

[2022-06-12 20:36] #452 closed

[2022-06-15 01:26] dockerenthusiast commented on #459
I have the same problem with the latest image in my raspberry pi but I am new to all this. could you please elaborate on what you did please?

[2022-06-15 06:41] mullumaus opened #467 "[feature] open links in new tab"
it would be nice if the dashboard links opened a new tab.

[2022-06-15 09:34] mullumaus commented on #467
thanks!

[2022-06-15 09:34] #467 closed

[2022-06-15 15:29] florian-obradovic commented on #359
How can we disable "You're offline friend" and disable caching.
Especially when you roam between networks (internal / external) with different DNS records pointing to Homer...

[2022-06-16 09:24] Espo02 commented on #466
Hi

I'm trying to run homer behind a traefik proxy. But I would use Port 80.
I don't know how to redirect port 80:8080 with trafik and would change the homer from 8080 to 80.

[2022-06-16 14:24] petechua commented on #459
I reverted back to b4bz/homer:22.02.2-arm64v8 and the original configs is working fine now. I believe "something" is broken in the latest image.

[2022-06-16 20:22] PigeonFX commented on #441
Any chance you can talk me through this, super noob using portainer for the first time and getting the [404] and the error:
[code]

[2022-06-16 22:55] rarick opened #468 "Homer shows "You're Offline Friend" after 30 seconds"
# My setup
- traefik as a reverse proxy & domain controller
- [thomseddon/traefik-forward-auth](https://github.com/thomseddon/traefik-forward-auth) as my forward auth provider
- auth0 as my oauth provider
  - All my domains and wildcards are entered in auth0 for CORS/origins

# The issue
Homer is behind the authorization proxies. I am seeing "You're offline friend" after 30 seconds on homer. I'm n

[2022-06-17 00:09] PigeonFX opened #469 "Not getting the template page with portainer?"
Sorry Sure this is 100% user error but I can get homer running, but when I open it in a tab I just get

[code]
![Homer 3](https://user-images.githubusercontent.com/39096995/174197628-c85951b0-aad7-4695-a675-bbe69a6bf6d6.png)

The config.yml seems to be there with all the other assets?

![homer](https://user-images.githubusercontent.com/39096995/174197435-d9e17835-e5b5-40d7-9587-4d7402a827c4.png)

[2022-06-17 22:05] anjanms commented on #459
It appears there are two issues at play here. I've just stumbled into this after updating to the latest image.

1. The entrypoint is trying to create the default configuration at every startup.

The entrypoint is looking for the legacy `/www/config.yml` rather than `/www/assets/config.yml`. When it doesn't find `/www/config.yml` it tries to create the default config. Which then leads to;

2. The U

[2022-06-18 16:05] poldim commented on #459
This solved it for me.

@bastienwirtz I probably haven’t done a `docker-compose pull` in about 2-4 weeks, but nothing on my server has changed that would initiate this error.  Initially when I setup homer earlier this year, it had no issues creating the initial config.  Is there something that’s been changed in project that would cause this issue?

[2022-06-20 20:43] Timsto opened #470 "docker didnt start well and stuck at restarting."
Latest version didnt start. version from 2 months ago work well.  same startup command.

any idea? and what info should i provide for better troubleshooting?

[2022-06-22 09:45] jimmycuadra commented on #459
I found this issue because loading Homer in the browser shows an alert box with this text:

I double checked that the assets directory's owner and group matched the `UID` and `GID` environment variables I'm using in my docker-compose.yml file.

It seems Homer is not respecting these environment variables. `docker inspect $CONTAINER_ID | grep User` shows `"1000:1000"` which are the default values i

[2022-06-22 20:25] huddlesj commented on #460
Ran into the same issue. Ended up going back to the b4bz/homer:21.09.2  image till this is fixed.

[2022-06-23 10:58] subhamayd2 opened #473 "Building locally with docker compose fails at yarn build"
I tried to clone the repo and run homer using:
[code]
It fails with:
[code]

I doing it this way since I wanted to modify the `manifest.json` under `/public` so that it properly updated the following line in `index.html`:
[code]
 I want to change this color to something else and updating the `manifest.json` under `assets` did not work.

The build was working perfectly a few days ago, not sure what

[2022-06-23 12:15] Tiv0w commented on #425
You should try to add the `endpoint` key for the configuration of each service that doesn't respond.

https://github.com/bastienwirtz/homer/blob/main/docs/customservices.md#common-options

Then many services provide a specific endpoint for health checking.
From the list I gathered:
- Nextcloud: `/status.php`
- Jellyfin: `/health`
  (https://jellyfin.org/docs/general/networking/monitoring.html)
- S

[2022-06-23 17:07] Tooa opened #474 "Add Healthchecks custom service"
Hi :wave:,
I would like to see a custom service for [Healthchecks](https://healthchecks.io/) added to Homer. It is a really helpful application for keeping track of jobs on a schedule and is available in a selfhosted variant.

Find attached to this issue a pull request adding the service.

The API endpoint is `http://app.domain/api/v1/checks/` and the JSON response looks like the following:

[code

[2022-06-24 07:41] prashanth4 commented on #473
Even I'm facing this issue.

[2022-06-24 07:51] xbmcnut commented on #182
👍 Thank you. As a Home Assistant user I was much more comfortable using MDI. Works a treat. Noted that code should be this though:
[code]

[2022-06-24 08:31] bastienwirtz commented on #468
Hi @rarick

Hum, that's weird. The connectivity check request (which can be disabled) if an `HEAD` request, maybe traefik block this kind of request? Can you tell if the request hit the container or not?
Is there a message associated with the 500 error ? Can you also check the container logs?

[2022-06-24 21:53] mguaylam commented on #459
Also have this issue when upgrading to the latest image.
Since I have to run my pods as root, I don’t really have a choice when it comes to mapping the users to something else than root. So what I did is to set the user to root :

But I still get :

Even when setting proper file permissions :

It’s very weird.

[2022-06-26 05:30] gstrauss commented on #460
I haven't seen such an incredibly future timestamp!
[code]
lighttpd tries to protect embedded systems from their own forgetful selves when those embedded systems do not have persistent clocks across reboots.  If the clock changes by too much, lighttpd restarts.  Without doing so, some underlying libraries might misbehave, such as lighttpd's use of OCSP stapling in openssl, or anything else pertain

[2022-06-26 15:47] Tooa opened #477 "Service text gets truncated when using ping type"
Hi :wave:,

on smaller screens and in the column view the service name gets truncated because of the custom service indicator message.

The following tile shows the problem when using `columns: "4"` in config.yml:

![before](https://user-images.githubusercontent.com/5375334/175822423-72e48ac8-29be-404e-8b1a-a2b41ea4a100.png)

I suggest to place the custom service indicator messages in the upper ri

[2022-06-26 22:59] wy580477 commented on #470
My homer container (latest version) won‘t listen to 80 port after several restarts.

Here is the test which I did inside the container.

~ $ wget 127.0.0.1:80
Connecting to 127.0.0.1:80 (127.0.0.1:80)
wget: can't connect to remote host (127.0.0.1): Connection refused
~ $ ps
PID   USER     TIME  COMMAND
    1 lighttpd  0:00 /bin/sh /entrypoint.sh
    6 lighttpd  0:00 lighttpd -D -f /lighttpd.conf

[2022-06-27 01:11] fmunteanu opened #478 "Pihole stats not displaying through a proxy URL"
I'm using Nginx proxy to serve a friendly Pihole URL:

[code]

When I enter the following Homer configuration, I do not see the Pihole stats?

[code]

[2022-06-27 08:31] bastienwirtz commented on #459
Hey @all !

I will write a detailed section about permissions management in the documentation, but the tl;dr is:

- Do not use env var to set the GID / UID of the user running container. Use Docker `user` option.

[2022-06-27 11:52] papegaai commented on #470
I have the same issue. I tried deploying it via Portainer and it seems to start successfully but won't assign the network ports and I cant seem to connect to the terminal in any way. I keep getting an error that says the service is still restarting.

[2022-06-27 15:15] mguaylam commented on #459
Ok it indeed does not work with root anymore. Changing it to another user did work. Thank you.

[2022-06-28 19:40] stp6778 commented on #473
Same for me, need to use previous node image for build-stage in Dockerfile :
`FROM node:lts-alpine3.15 as build-stage`

[2022-06-29 01:22] shing6326 commented on #473
I have the same issue and fixed it by the following

`diff --git a/babel.config.js b/babel.config.js
index 162a3ea..c498903 100644
--- a/babel.config.js
+++ b/babel.config.js
@@ -1,3 +1,7 @@
 module.exports = {
   presets: ["@vue/cli-plugin-babel/preset"],
-};
+  plugins: [
+    "@babel/plugin-proposal-nullish-coalescing-operator",
+    "@babel/plugin-proposal-optional-chaining"
+  ],
+}`

[2022-06-29 21:06] bastienwirtz commented on #470
HI there,

It's probably a permission issue. I've added a section in the troubleshooting documentation to cover this: https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md#my-docker-container-refuse-to-start--is-stuck-at-restarting.

Can you check it out and see if it works for you ?

[2022-06-29 21:11] bastienwirtz commented on #459
The behavior has changed recently and never been properly documented. I just added some documentation about that in the README and the [troubleshooting page](https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md#my-docker-container-refuse-to-start--is-stuck-at-restarting).

Hope it helps. I think we covered the cause, debugging and resolution of the issue in this thread, so I'm c

[2022-06-29 21:11] #459 closed

[2022-06-30 06:18] bastienwirtz commented on #473
Hi there,

Thanks for reporting that. I'm not able to reproduce :thinking:
I prune all my images to make sure to build with the latest, but I wasn't able to get any error. Is there a specific step to reproduce?
Thanks

[2022-06-30 06:34] prashanth4 commented on #473
This is happening because vue-cli-service is not transpiling ES2020 or later syntax's, as a result optional chaining and nullish coalescing syntaxes won't work with webpack 4 and ESLint 6 which are the errors your see.

This is fixed in vue-cli@4.5.19 (https://github.com/vuejs/vue-cli/releases/tag/v4.5.19). So updating node modules shouldn't throw any error.

[2022-06-30 11:40] #460 closed

[2022-06-30 19:32] Timsto commented on #470
yes it works! thanks a lot

[2022-06-30 19:32] #470 closed

[2022-06-30 21:07] Tooa commented on #478
Have you checked the browsers JavaScript console for errors? I assume it does not work for you because of the CORS mechanism. Homers documentation contains information about it.

[2022-07-01 00:15] poldim commented on #459
@bastienwirtz
Just a point of reference, that the linux server uses the method of setting the user via environmental variables on their large [fleet](https://fleet.linuxserver.io/) of containers.  At no fault of yours, a lot of people may assume that it's possible as it's likely they're using those containers already

[2022-07-01 05:36] fmunteanu commented on #478
That was the case, thank you!

[2022-07-01 09:34] bastienwirtz commented on #460
@gstrauss I see, Thanks for the information!
I think we can safely disable this feature, TLS is not handled in homer container and will usually be setup in a reverse proxy or something like that. I will update the config asap.

[2022-07-01 21:31] DSew20 opened #480 "Help - update caused container state = unhealthy"
Hello,

I updated homer via iotstack, and it no longer starts.  I get a state = unhealthy, and the following in the log.  Any idea what could have caused this and any fixes?

[code]

Thank you

[2022-07-02 07:35] user9931 opened #481 "defaults: layout: columns not working"
If i'm understand correctly, those two options was added on same time
[code]
For some mysterious reason, colorTheme works, but default layout (on browser's private window) are still "list". Button to swith between layouts is working...

[2022-07-02 13:01] bastienwirtz commented on #473
vue-cli has been updated, this should be fixed now !

[2022-07-03 22:46] Tuetenk0pp opened #483 "Search field custom css"
I am creating a Dracula theme for Homer (see [this repo](https://github.com/Tuetenk0pp/homer) and [this issue](https://github.com/dracula/dracula-theme/issues/732)).

I can't find a way to modify the blue border around the active search field (see [this issue](https://github.com/Tuetenk0pp/homer/issues/1)). Any hints on how that would work?

![grafik](https://user-images.githubusercontent.com/5578

[2022-07-04 20:10] bastienwirtz commented on #483
Hey @Tuetenk0pp,

Very nice theme !
I think you need to change the `focus-visible` style, like:

[code]

Best,

[2022-07-04 21:40] Tuetenk0pp commented on #483
Thank you @bastienwirtz ! That did it.

[2022-07-04 21:40] #483 closed

[2022-07-05 20:37] #474 closed

[2022-07-10 07:58] Tuetenk0pp commented on #483
@bastienwirtz thank you again for your support. The theme is now live on https://draculatheme.com/homer

If you have any thoughts or ideas, feel free to get in touch.

[2022-07-11 07:23] theandychung commented on #480
This works for me:

Update your assets directory permissions (ex: chown -R 1000:1000 /your/assets/folder/, chmod -R u+rw /your/assets/folder/)

Source:
https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md#my-docker-container-refuse-to-start--is-stuck-at-restarting

[2022-07-11 18:47] bastienwirtz commented on #480
Hi @DSew20,

Which version did you try ? This [issue](https://github.com/bastienwirtz/homer/issues/460) has been fixed in the [latest release](https://github.com/bastienwirtz/homer/releases/tag/v22.07.1).

Let me know if that works for you!

[2022-07-15 07:43] departet commented on #481
Can confirm this. Wanted to set the default layout and it didn't work for me either.

[2022-07-15 08:58] bastienwirtz commented on #481
Hi there,

Can you try in private nav or after a clear cache & storage ?
If you used the layout button in the navbar before, you preferred layout is stored in your browser (local storage) and the default layout configured will not be applied. The `colorTheme` does have the "auto" setting to unset the preference, because it make sense as the browser have an "auto" mode.

[2022-07-15 08:59] bastienwirtz commented on #480
I'm closing this one as it should be all good now.

[2022-07-15 08:59] #480 closed

[2022-07-15 09:24] departet commented on #481
Ah dang now i feel stupid, tested another browser but didn't test a private window.
Private window works as expected.

[2022-07-15 09:31] #481 closed, assigned to nobody

[2022-07-15 10:52] fire1ce commented on #478
can confirm:
![image](https://user-images.githubusercontent.com/16795594/179209295-56e4eae6-1820-4501-af72-2d921247e170.png)

Pihole: Docker Tag [2022.07.1](https://github.com/pi-hole/docker-pi-hole/releases/2022.07.1) Pi-hole [v5.11.4](https://github.com/pi-hole/pi-hole/releases/v5.11.4) FTL [v5.16.1](https://github.com/pi-hole/FTL/releases/v5.16.1) Web Interface [v5.13](https://github.com/pi-hol

[2022-07-15 17:59] bastienwirtz commented on #478
@fire1ce did you checked the troubleshooting guide and tried to adjust the headers ?

If PiHole is on a different domain or subdomain, without any header adjustment, it's normal that the stats are not showing.

[2022-07-15 19:14] fire1ce commented on #478
@bastienwirtz sure i did.
Using Traefik with cors middleware.

[2022-07-15 19:56] #132 closed

[2022-07-15 20:00] bastienwirtz commented on #478
Can you check the network tab in the browser web dev tool and look for the PiHole request and see what is the response code, and the response content ? Thanks.

[2022-07-15 20:02] #172 closed

[2022-07-15 20:04] fire1ce commented on #478
@bastienwirtz Yeh still cors problem. Ill go debug.
![image](https://user-images.githubusercontent.com/16795594/179302513-429bfc49-bbd2-4b6f-922d-4c5bab35093c.png)

[2022-07-15 20:06] bastienwirtz commented on #478
All right, good luck @fire1ce, CORS can be really annoying!

[2022-07-15 20:06] #478 closed

[2022-07-15 20:10] fire1ce commented on #478
@bastienwirtz. Since all the requests made from the Front, Also all the sensitive info like api keys is saved as cookies. It's a security cursor. There for ill be removing Homer. But thanks anyway.
Consider making a backend to make the requests.

[2022-07-15 20:21] bastienwirtz commented on #230
@tomdaley92 `.dist` files are just example file which can be use a base for your config or can just be deleted.

I just removed the reference from the additional-config.yml from the example config.yml file, this should be fixed !

[2022-07-15 20:21] #230 closed

[2022-07-15 20:24] bastienwirtz commented on #194
@greenerk the big diff is dashboard like Heimdall have a backend (server side component which does request without any CORS consideration). Homer cannot do that.

[2022-07-15 20:24] #194 closed

[2022-07-15 20:29] bastienwirtz commented on #227
Hi @Emilaia,
Sorry for the very late reply. Homer is just a front end, it cannot do this kind of thing. But it could call some backend service to do it. I personally don't know about this kind of API but it may exists. I'm closing this issue, feel free to reopen it if needed :)

[2022-07-15 20:29] #227 closed

[2022-07-15 20:30] #266 closed, assigned to nobody

[2022-07-15 20:34] bastienwirtz commented on #202
Hi there !
Sorry for the very late reply @MrKhalidJ, Homer would not really be able to check automatically if a favicons is available reliably, so I prefer to let users get the right icon.

[2022-07-15 20:38] bastienwirtz commented on #268
Hi @agneevX

Sorry for the very late reply. Homer is not supposed to do DNS lookup for all bookmarks, how do you see that ?
Homer is just generating the list of HTML links.

[2022-07-15 20:45] bastienwirtz commented on #251
Sonarr custom service has been updated to work with the API v3, it should works now.

[2022-07-15 20:45] #251 closed

[2022-07-15 20:53] bastienwirtz commented on #298
Hi @zblesk,

This is currently not possible, the optional message is just able to display info without any logic.

[2022-07-15 20:55] #362 closed

[2022-07-15 20:57] bastienwirtz commented on #368
Hi there,

A lot has changed recently, including a major upgrade of Homer's base framework (vuejs2 -> vuejs3). Let me know if you still experience this issue.

[2022-07-15 21:00] bastienwirtz commented on #378
Exactly as @jamesmacwhite said. I strongly recommend adjusting your icon size.

[2022-07-15 21:01] #306 closed

[2022-07-15 21:04] #320 closed, assigned to nobody

[2022-07-15 21:10] bastienwirtz commented on #351
Hi there,
Following the recent changes (upgrade to vuejs3), the manifest.json customization should work. I removed the meta colors from the index.html **for now** because as @StefanNienhuis pointed out, it's static. BUT I will put it back and make it dynamic soon !

Let me know if the PWA status bar issue is fixed on the last release. Be ware, the [icon's name changed](https://github.com/bastienwi

[2022-07-15 21:23] bastienwirtz commented on #461
Hi there,

I never used traefik so I can't say much about that, but I added some additional info about the permission issues in the [documentation](https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md).

OP (@deez3134) do you still experience the issue? have you adjusted the folder permission and `user` docker option correctly ? Can you show the container logs?

[2022-07-15 21:25] bastienwirtz commented on #420
Hello,

The project build config moved quite a bit since the VueJS 3 upgrade, this issue should not be possible anymore. I'm closing this, but feel free to reopen if necessary :)

[2022-07-15 21:25] #420 closed

[2022-07-15 21:27] bastienwirtz commented on #431
Hello,

The project build config moved quite a bit since the VueJS 3 upgrade, this issue should not be possible anymore. I'm closing this, but feel free to reopen if necessary.

[2022-07-15 21:27] #431 closed

[2022-07-15 21:29] bastienwirtz commented on #312
This one has been fixed for a while. Thanks for reporting it!

[2022-07-15 21:29] #312 closed

[2022-07-15 21:30] #350 closed

[2022-07-15 21:31] bastienwirtz commented on #357
Closing for inactivity. Feel free to reopen if necessary :)

[2022-07-15 21:31] #357 closed

[2022-07-16 03:14] iamrony777 commented on #368
Yeah, it's working fine

[2022-07-16 06:14] bastienwirtz commented on #368
All right I'm closing the issue, feel free to reopen is anything

[2022-07-16 06:15] #368 closed

[2022-07-16 06:17] #384 closed

[2022-07-16 11:03] drrlvn opened #486 "Service worker breaks reverse proxy"
After updating to v22.07.2 I noticed that links to reverse proxy paths no longer work but instead give an empty page with "Homer" as the title.
I didn't quite know how to identify the issue, but I noticed that unregistering the service worker solved the issue until it re-registered.
Reverting to an older version after unregistering solves the issue entirely.
Sorry this is light on details. I would

[2022-07-16 11:30] Sailing74 commented on #378
I've resized the image down to 42x48. Still looks the same - cut off at the bottom.

[2022-07-16 13:18] ben-pearce commented on #486
Yeah, same issue here.

I have services like Sonarr & Radar behind reverse proxy under path like `/sonarr` and visiting these after registering service worker yields 200 response from service worker  with blank page or Homer "You're offline friend" message.

Started happening after recent update.

[2022-07-16 15:09] agneevX commented on #268
Hello!

If you use Pi-hole or similar, you will notice that there's a deluge of lookups for all the bookmarks when homer is loaded up. I'm not sure what causes it.

[2022-07-16 16:24] EDIflyer commented on #459
In my case the solution was to create the /home/assets directory via SSH first (rather than via docker-compose) as it seems it was being created with root credentials rather than user ones

[2022-07-16 18:33] virtadpt commented on #268
Maybe it's your browser doing pre-emptive DNS lookups to prime its cache?

[2022-07-16 19:19] S474N commented on #203
If you test in your browser manually `file://IP/shared_folder/` or `\\IP\shared_folder'` it shows correctly list of files/directories (Opera, chrome, Firefox).

[2022-07-17 08:02] zhenry9 commented on #468
I have a nearly identical issue.

Setup:

 - traefik2
 - thomseddon/traefik-forward-auth
 - Google oauth

I also get the "offline friend" message after 30 seconds, which is solved by refreshing. You mentioned the connectivity check could be disabled. How do you do this?

[2022-07-17 08:04] Fratt commented on #468
Same problem here

[2022-07-17 15:55] GBT55 opened #487 "Tautulli not working"
Configured like this on my config.yml, but it does not work.

[code]

![image](https://user-images.githubusercontent.com/76950842/179405448-2613b0ce-5c54-45e4-8805-803c04c9136b.png)

[2022-07-17 16:57] SHU-red commented on #395
Hi and thanks for the troubleshooting documentation.
I would love to have the api-informations of portainer on the homer dashboard.

As documented in the troubleshoot area, i created a cors-container and i am able to access portainer via
[code]

I still get in the debug console of my browser:
[code]

Is there something im doing wrong?

[2022-07-17 17:03] SHU-red commented on #395
And one additional question:
Would it maybe be useful if two urls could be set in the homer-config-file?
One for the api-path and one for the link itsself?
This way such fancy stuff could be "divided" from the basic intend to directly open a certain link

[2022-07-17 17:13] goliath888 commented on #395
Check this for CORS problem:
https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md#my-custom-service-card-doesnt-work-nothing-appears-or-offline-status-is-displayed-pi-hole-sonarr-ping-

[2022-07-17 17:44] SHU-red commented on #395
In the `cors-container` repository it is written:
[code]
I think this is something which should then be included in the homer-request-header right?

[2022-07-18 12:48] bastienwirtz commented on #268
From what I see, browser [dns pre-fetch](https://developer.mozilla.org/en-US/docs/Web/Performance/dns-prefetch) is only done if configured, which is not the case, but maybe there are other stuff :thinking:

@agneevX Have you upgraded to the latest Homer release? The latest version include a major upgrade of the base framework which power the dashboard, the behaviors may have changed? also do you s

[2022-07-18 12:54] bastienwirtz commented on #486
Hi there,

Sorry to here that.
The latest update included a major upgrade and the service worker registration changed a lot. I'm gonna need some time to setup something similar and investigate the issue.
Thanks for reporting this.

[2022-07-18 21:48] madpeteguy commented on #268
I just found this issue on my Homer setup.
Its container is connected trough macvlan with its own ip addres, so its easy confirm dns query source.
In my setup Homer is monitored by Uptime Kuma trough HTTP GET every few minutes.
And here are my DNS queries by ip (red is Homer):
![obraz](https://user-images.githubusercontent.com/50808402/179622772-d704c1e0-5f20-49f9-a0f1-9c42582617b2.png)

[2022-07-19 14:25] S474N commented on #398
I think, that best way is native support UTF.

[2022-07-20 23:44] Deviantgit commented on #351
Still stuck on blue for me, but I am using Docker if that makes a difference.

[2022-07-21 16:20] HeyItsJono commented on #425
Hey there, thank you for this! I have been using the endpoint key successfully for other services but there are plenty of services that don't provide an endpoint for a healthcheck or heartbeat. For example, Plex does not do this. So in that regard my original request would still be helpful.

[2022-07-21 20:10] #486 closed

[2022-07-21 20:14] bastienwirtz commented on #486
Hey there,

Sorry for the early closing of your issue, GitHub has done it automatically following [my last push](https://github.com/bastienwirtz/homer/commit/9371c1537c421b76be1a641a2c66fc199e6a073a), which should fix the issue :)
Let me know if that works for you (release not tagged yet, only available in `:latest`)

[2022-07-22 05:02] fmunteanu commented on #478
@bastienwirtz I'm sorry but this is not a solution. In both cases for myself and @fire1ce, the issue is domains do not match (e.g. `Failed CORS: homer.domain.com vs 192.168.1.4, pi.domain.com, pi.hole, localhost`). We should have an option to set the request's mode to `no-cors`, to fetch the resource with CORS disabled.

Adding the suggested lines into Nginx configuration fixes only the `CORS Miss

[2022-07-22 07:08] bastienwirtz commented on #478
@fmunteanu `no-cors` [won't help at all](https://evertpot.com/no-cors/).
Homer is a static front end html dashbord, and always will be. The rules of CORS are simple: the service receiving the request decide to accept it or not. Homer can only make the request.

Did you try PiHole `VIRTUAL_HOST` [setting](https://github.com/bastienwirtz/homer/issues/194#issuecomment-1048446527) ?

[2022-07-22 07:59] pungorandras commented on #486
Its working, thanks!

[2022-07-22 09:27] fmunteanu commented on #478
@bastienwirtz that's actually very useful info. The correct environment variable is `CORS_HOSTS`, see https://github.com/pi-hole/AdminLTE/pull/1822. I'm using the [DietPi Pi-Hole implementation](https://dietpi.com/docs/software/dns_servers/), so I'm going to post the correct fix in case others cross the same issue:

[code]

![image](https://user-images.githubusercontent.com/19806136/180409224-67e1

[2022-07-22 09:44] bastienwirtz commented on #478
Thanks for the feedback @fmunteanu. I will add this to the documentation.

[2022-07-22 12:22] IonasElate commented on #459
Hello!

I still cannot get it to run. I am using mac os x and a docker yaml.
I created the folders manually and set the values for the assets folder like you described in the readme.
if i analyze it i get the following return:

drwxr-xr-x  2 1000  1000  64 22 Jul 14:12 assets\

is this ok?
my compose file:
<img width="255" alt="Bildschirmfoto 2022-07-22 um 14 06 48" src="https://user-images.github

[2022-07-24 09:17] grubeli opened #489 "Option to specify internal port"
If I understand correctly currently we can only map 8080 to any port on the host machine.
it would we useful we could also specify internal (8080) port, similar to what cloud-torrent does and have 8080 as default value:
https://github.com/jpillora/cloud-torrent/blob/master/README.md?plain=1#L71

[2022-07-24 19:36] rhpeZ opened #490 "Logos not appearing"
I've been trying to set up a custom dashboard using Homer and have been having issues with adding logos to services on the dashboard. I have followed all the documentation and guidance on how to set it up correctly, have created a location in my home directory called homer/assets and binded that with the www/assets folder for Homer as instructed but when putting images into the tools folder and in

[2022-07-25 07:21] #490 closed

[2022-07-26 02:02] luisfco667 opened #491 "Raspberry Homer Container not running"
sorry not sure if this is the right channel to ask a question.
But Im trying to run homer dash board on raspberry pi 4 sw buster over docker-compose and the containers showed as healthy but when I try to acces to the ip and port it not show anything .

From container logs I got only this:

Starting webserver
4147-08-20 07:32:16: (server.c.1568) server started (lighttpd/1.4.64)
4147-08-20 07:32:16:

[2022-07-26 08:30] fbartels commented on #491
Hi @luisfco667,

this error has been reported before and is supposedly fixed in the latest container: https://github.com/bastienwirtz/homer/issues/480#issuecomment-1180746617

[2022-07-26 11:22] marviiind commented on #74
Hey, is it possible to use target: "_blank" in more than one item? If i try to use it on multiple items in one service, my Homer Website is crashing.

[2022-07-26 14:25] tucker19 opened #492 "Question about Custom Services"
I have been looking at the wiki about Custom Services like Sonarr or Weather. Would those go in the Services Section of my config or like a message? Would it be possible to create a more scoped config file outlining different sections or how to utilize custom services?

[2022-07-26 19:56] luisfco667 commented on #491
Thanks for quick replay @fbartels

I check today the #480 and follow the latest docker-compose.yml  template but still the same issue.

---
version: "2"
services:
  homer:
    image: b4bz/homer:latest
    #To build from source, comment previous line and uncomment below
    #build: .
    container_name: homer
    volumes:
      - /your/local/assets/:/www/assets
    ports:
      - 8089:8080
    user

[2022-07-26 19:58] fbartels commented on #74
Hi @marviiind,

what do you mean with “crashing”? In your email you write that when you create a service “only the first one works”. Can you post an example of your config?

[code]

And then I'm using ` <<: *target ` on each item that should be opened in a new tab.

[2022-07-26 20:01] fbartels commented on #491
Did you run `docker-compose pull`?

[2022-07-27 06:01] luisfco667 commented on #491
[+] Running 1/1
 ⠿ homer Pulled

then

Starting webserver
4147-08-20 07:32:16: (server.c.1568) server started (lighttpd/1.4.64)
4147-08-20 07:32:16: (server.c.263) warning: clock jumped -68719476736 secs
Starting webserver
4147-08-20 07:32:16: (server.c.1568) server started (lighttpd/1.4.64)
4147-08-20 07:32:16: (server.c.263) warning: clock jumped -68719476736 secs

[2022-07-27 09:02] fbartels commented on #491
Hmm.. unfortunately I am not running the container myself, so i don't have a good idea how to troubleshoot further. Maybe someone else has an idea?

[2022-07-27 16:46] luisfco667 commented on #491
thanks @fbartels for the help

[2022-07-28 08:54] ChrHan commented on #489
Specifying internal port can be done by using `PORT` environment variable, example from docker command:

[code]

This command would run `homer` with internal port of `9091`, exposing to `8080` of public network:
[code]

and `homer` would be accessible on port `8080`

[2022-07-29 16:47] bastienwirtz commented on #491
Hi there,

@luisfco667 Can you post the result of this command:
[code]
Thanks,

[2022-07-29 16:52] bastienwirtz commented on #492
Hi @tucker19,

I will improve the documentation on that. In the meantime: Custom service goes in `items` list of the `service` section of the [config](https://github.com/bastienwirtz/homer/blob/main/docs/configuration.md) file, just like any classic item. they just have more options described [here](https://github.com/bastienwirtz/homer/blob/main/docs/customservices.md).

Hope it helps.

[2022-07-29 16:56] tucker19 commented on #492
Thank you. I am trying to do like PiHole and not having any luck.

[2022-07-29 17:03] bastienwirtz commented on #412
Hey there,

Part of the reason why homer is based on a simple text file is that you can easily use a templating system on it. I used Ansible jinja template to configure & deploy homer. This kind of tool will do a way better job than anything in homer. The way Homer works, it could only replace tokens after parsing the file on the client side, and I don't like the idea. Especially when a simple sea

[2022-07-29 17:03] #412 closed

[2022-07-29 17:05] bastienwirtz commented on #492
Make sure to check the [troubleshooting guide](https://github.com/bastienwirtz/homer/blob/main/docs/troubleshooting.md) !

[2022-07-29 17:12] #489 closed

[2022-07-29 17:19] bastienwirtz commented on #466
HI there,

You can change Homer container internal port by using the `PORT` env variable.
@theotherguy2175 there is no specific ipv6 support, and I don't really know what's required and could be missing. Could you explain what would it take to make it IPv6 compatible ?

[2022-07-30 05:28] luisfco667 commented on #491
server.port   =env.PORT
server.modules = ( "mod_alias" )
serverusername = "lighttpd"
server.groupname  = "lighttpd"
server.document-root = "/www"
alias.url = ( env.SUBFOLDER => '/www" )
server.indexfiles = ("index.html")
server.follow-symkink = "enable"
server.feature-flags +=( "server.clock-jump-restart" => 0 )

[2022-07-31 09:03] bastienwirtz commented on #491
Ok so, you do have the latest patch regarding the `clock-jump` issue mentioned by @fbartels, and that should not be the issue (otherwise the warning would be followed be a server restart log).

Could you share your compose file and the exacte URL you try to access ? thanks.

[2022-07-31 10:25] xf- commented on #346
@bastienwirtz yeah, but font awesome has a lot of sponsored icons from company's e.g. Amazon pay and also redundancy with 6 bridges and additional similar stuff for maps. If somebody wants no footer line, it isn't CC license complaint.

**Fork awesome**
800 Icons without redundancy should be fine and more open source icons like the GNU or MariaDB/Postgres. Open source projects a lot of people use

[2022-07-31 14:38] reikolydia commented on #425
+1

Plus if you are using cloudflare dns and nginx reverse proxy, the code is 502 but still shows service as online..

[2022-08-01 02:41] luisfco667 commented on #491
hi ,

this is the  compose Im using:

---
version: "2"
services:
  homer:
    image: b4bz/homer
    #To build from source, comment previous line and uncomment below
    #build: .
    container_name: homer
    volumes:
      - /mnt/nas/drive01/Docker/homer/assets/:/www/assets
    ports:
      - 8089:8080
    user: 1001:1001 # default
    environment:
      - INIT_ASSETS=1 # default

this is the log

[2022-08-02 19:56] #492 closed

[2022-08-03 19:14] bastienwirtz commented on #491
I don't see anything wrong :thinking:
Could you share the result of :

[code]
Thanks

[2022-08-03 19:30] bastienwirtz commented on #361
Hi @ipedrazas !

It's not possible to do that with the Generic service (or any other service).
It does sounds a bit too specific, I'm gonna close the issue but I'll keep it in mind if this need comes up in the future. Thanks for your proposition !

[2022-08-03 19:30] #361 closed

[2022-08-05 06:11] fmunteanu opened #494 "Sabnzbd Stats Support"
Thank you for the great and simple product, do you plan adding support for Sabnzbd Stats?

[2022-08-05 06:11] Japhys commented on #490
@rhpeZ You closed this one but didn't mention a solution. I am running into the same problem. All seems fine though. What caused this on your installation?

[2022-08-05 08:09] bastienwirtz commented on #200
Hey there,

Default layout option is available from the config file:
[code]

Note that once you used the navbar button to change the layout, your browser keeps it in memory and the default setting does not apply.

[2022-08-05 08:09] #200 closed

[2022-08-05 08:28] bastienwirtz commented on #352
Hey @d4rklynk,

The ARMv6 build is available on the latest tag and will be version tagged in the next release.
I'm closing the issue but feel free to reopen if anything :)

[2022-08-05 08:28] #352 closed

[2022-08-05 08:30] bastienwirtz commented on #334
Closing for inactivity.

[2022-08-05 08:30] #334 closed

[2022-08-05 14:51] rhpeZ commented on #490
@Japhys it was an issue with the icons, after having a look in the readme.md in the icons it says that they recommend converting the png or svg to a favicon package using a favicon generator. Then place them in the assets/tools folder. Below is a link to the instructions I followed.

https://github.com/bastienwirtz/homer/blob/main/public/assets/icons/README.md

[2022-08-05 15:31] Japhys commented on #490
Wonderful! I missed that one. Thanks for helping me

[2022-08-05 19:49] saschabrockel commented on #487
Your configuration looks strange @GBT55. As @bastienwirtz said I also guess you have the CORS problem that the most of us have. I can really recommend https://github.com/imjacobclark/cors-container or if you need it as a Docker container I'm working on it and already running it for myself https://hub.docker.com/repository/docker/saschabrockel/cors-container.

My config with cors-container on Docke

[2022-08-05 21:25] b-t-k commented on #418
You can do a lot with css. I run a modified version of https://github.com/WalkxCode/Homer-Theme

[2022-08-06 13:23] ericswpark opened #495 "Default column/list configuration option not working"
Setting:

[code]

in the configuration file does not set the default for some reason. I keep getting the columns view even if the value is set to list.

Also, is this `defaults` option separate for different pages? Meaning I want a `list` view for the main page and `columns` for another page (another config file), and so on. Is this supported?

[2022-08-06 13:32] ericswpark commented on #495
After further messing about it seems like whatever the user set for the column/list view is retained even if the config value changes and the page is refreshed. You can check this yourself by looking at the value `vlayout` in the local storage.

However, even with local storage cleared, I still can't set defaults for individual pages. It will automatically stick with the layout of the page that is

[2022-08-08 03:47] luisfco667 commented on #491
admin@Server01:~ $ curl -IX GET http://10.0.0.220:8089/
curl: (7) Failed to connect to 10.0.0.220 port 8089: Connection refused

admin@Server01:~ $ curl http://10.0.0.220:8089/
curl: (7) Failed to connect to 10.0.0.220 port 8089: Connection refused

8089/tcp                   ALLOW       Anywhere                   # homerDashBoard
8089/tcp (v6)              ALLOW       Anywhere (v6)              #

[2022-08-09 03:42] ochompsky commented on #494
No, if you wan't crap like that get Heimdall.  We don't need to add bloat to this.

[2022-08-11 18:55] vincentvriends commented on #468
I have the same issue, but instead of traefik I use the Explicit Proxy build into a FortiGate firewall.
When I check the developer tools in my browser I see that a request is made to the following URL: http://dashboard.int.mydomain.be//index.html?t=1660243712402

So with 2 // instead of 1, this request gives back a 504 gateway timeout.

[2022-08-15 19:38] bastienwirtz commented on #495
Hello @ericswpark :wave:

Indeed the local storage overrides the defaults, but the the default should apply to different pages. I was able to reproduce the issue. It's a small fix, I'll work on it soon.

Thanks for reporting it!

[2022-08-16 06:44] anchorcoding commented on #491
Is there any solution for this. Having the same issue :(

[2022-08-16 13:24] NdR91 commented on #289
Hello, I'm having the same issu with the setup of AdGuad.

If not, try this from your AGH host:

curl -H "Authorization: Basic __REDACTED___" http://172.30.0.3:4269/control/status

If you still get Forbidden, then it's likely your user and password is wrong.

I'm also trying this command but still getting "forbidden".
I'm sue about my username and passowrd:
`curl -H "Authorization: Basic ndr:passw

[2022-08-16 23:26] luisfco667 commented on #491
no so far

[2022-08-17 16:01] Tharic99 opened #496 "Discord Server?"
I'd like to see if it would be possible to consider using Discord Server for communication/support requests as opposed to Glitter? Discord is a much more widely used app as opposed to Glitter.

Thank you.

[2022-08-18 06:52] mucstudio commented on #77
Where should I add it?

[2022-08-18 10:15] DameGAD opened #497 "Help: Is there a way to reduce the font size and the spacing between elements?"
Hi,

I use Homer for more than two years to display my apps. However I also use Flame to display bookmarks, and I would like to get rid of it and exploit the fact we can have multiple Homer pages.
So I was wondering if there is a way to use custom css files to change the font size and the spacing between elements in order to display more infos on a page and create something similar to Flame's Book

[2022-08-19 21:27] erasedhammer99 opened #498 "Failed to load module script: Expected a JavaScript module script but the server responded with a MIME type of "application/octet-stream". Strict MIME type checking is enforced for module scripts per HTML spec."
Just attempted to install the latest homer dashboard behind NGINX and all the web server files are loaded by the browser except 	registerSW.js fails to run.

Server: Debian 11, NGINX 1.18
Client: Chrome 104.0.5112.101 (Official Build)

NGINX Site config:
[code]
ls -l /var/www/homer/
[code]

Browser Load:
![error](https://user-images.githubusercontent.com/61810514/185709488-02d1c8cb-d935-44d9-bf92-

[2022-08-20 05:08] fbartels commented on #498
What is in your `/etc/nginx/snippets/ssl_params.conf`? Seems you're setting a custom csp which blocks the service worker.

[2022-08-20 13:04] erasedhammer99 commented on #498
I am not declaring any extra security headers there?

/etc/nginx/snippets/ssl_params.conf
[code]

Also, here is nginx.conf
[code]

[2022-08-22 20:36] bastienwirtz commented on #497
Hi @DameGAD!

Homer does have a custom css option. In your config.yml file, your can add
[code]

And you should be able to customize the font size and the spacing between elements.

[2022-08-23 01:00] mucstudio opened #499 "How to add Google search function to the page?"
How to add Google search function to the page?

[2022-08-24 10:02] zekroTJA opened #500 "Copy-to-Clipboard Option for Items"
I think it would be awesome if you could copy predefined text to the clipboard instead of opening an URL. This could be useful especially for applications like Teamspeak Servers or Game Servers.

I would suggest adding a config key to the `Item` called something like `clipboard`. When defined, the text specified will be copied to the clipboard when clicking the item and a notification would pop up

[2022-08-25 01:53] DameGAD commented on #497
Thank you for your answer! I managed to make a custom.css and I am pretty happy with how it looks.

![Screenshot 2022-08-25 à 03 37 55](https://user-images.githubusercontent.com/65853049/186555804-1bb9443b-8ea0-4f82-ad91-abce2ce78875.jpg)

I ran into a minor issue and maybe it will be useful to share it. I use the custom.css in bookmarks.yml but not in config.yml. And here what happens. If I load

[2022-08-26 19:13] bastienwirtz commented on #468
Thanks for the feedback, @zhenry9. Disabling the connectivity checker will workaround this issue.
@rarick @Fratt @vincentvriends Have you tried that?

That being said, the connectivity checker should work, it just periodically send a request to the server and execpt either an http response code in the  200-299 range OR a redirection (to handle auth proxy redirection, il this case the whole page re

[2022-08-26 19:47] mybuntu-git2 opened #501 "Feature request: dashy’s icon fetcher"
Hi, I just moved to Homer from Dashy and want to suggest to use dashy’s icon finder code: basically dashy finds the icon of the item for the user, and/or searches it. having some clunky cli command that tires to fetch icons for config.yml items and/or via user input, could be a huge timesaver and improve ux without affecting performance (runs once if the modification date of config file is more re

[2022-08-27 09:17] bastienwirtz commented on #497
@DameGAD Good catch!

I think it's better to not remove the CSS file once loaded (so if you switch back again you are not re-creating it again), but I just added a root class containing the page name, you should be able to scope your css style like this :

[2022-08-27 09:32] bastienwirtz commented on #501
Hi @mybuntu-git2 !
Thanks for the feedback :)

Are you talking about the `icon: favicon` feature ? or the fetch from API like [allesedv.com](https://favicon.allesedv.com/) or [Icon.Horse](https://icon.horse/) ?

[2022-08-27 10:43] mybuntu-git2 commented on #501
Hi, It was the api fetch yes

[2022-08-27 22:46] DameGAD commented on #497
it works perfectly! I can now use Homer for my bookmarks too, thanks.

In case anyone reading this want to do the same, here is my custom.css file:

[code]

[2022-08-29 11:44] JamiePhonic commented on #446
You can technically already do this (in a roundabout way) using the Dynamic Message feature and a Node-Red flow as described in the [Tips & Tricks Doc](https://github.com/bastienwirtz/homer/blob/main/docs/tips-and-tricks.md#get-the-news-headlines-in-homer)

In theory you could also use an RSS to JSON service (like the aptly named [RSStoJSON.com](https://rss2json.com/)) and the Mapping Fields featu

[2022-08-30 08:12] victorcampeanu commented on #413
I also think this should be exposed as a setting. When someone sees this link it seems like my nickname is Homer (true story)

[2022-08-30 17:45] virtadpt commented on #413
Editing the generated HTML files prior to deployment is how I've been doing it.  Editing the YAML config file is insufficient.

[2022-08-31 16:47] TheTiiiim opened #502 "Stuck refreshing"
I've tried running the release and building it myself, running it on Ubuntu of Arch, the next thing I'm going to do is run it in docker. I'm getting an issue where it will say "you're offline, friend" and refresh immediately, over and over untill I stop the browser.
I don't know if I did something wrong or if I need to change the way it's running.
Thank you for any help

[2022-08-31 21:02] felihommen opened #503 "Service UptimeKuma shows "All Systems Operational" when all sites are down"
Service UptimeKuma shows
  - "All Systems Operational" when all sites are up. This id fine.
  - "Partially Degraded Service" when some sites are up and some are down. This is fine.
  - "All Systems Operational" when all sites are down. This last message should be "Degraded Service" or something like that

[2022-09-04 10:52] lauridshub opened #506 "FEATURE REQUEST: Ability to run file or command on the machine running homer, from the dashboard"
Been looking around and could not find an easy solution for this. I would like to send Wake-on-LAN packets to a machine, but it would be nice to do from the dashboard. So either being able to run a bashscript or a command would be nice!

[2022-09-04 19:47] virtadpt commented on #506
Maybe enable cgi-bin on your webserver, write a shell script that will run the necessary command (like etherwake or wakeonlan), and add the URL to the cgi-bin script as an entry on your dashboard?

[2022-09-04 19:50] lauridshub commented on #506
There's maybe several workarounds, but it would still be nice to have a more streamlined option :) Thanks for the suggestion, will look into it

[2022-09-05 08:58] bastienwirtz commented on #491
@luisfco667 Can you try the curl command on the docker host with `127.0.0.1` instead of `10.0.0.220`?

Also you can execute this command to make sure homer is working:
[code]

If this command is successful (returns `HTTP/1.1 200 OK` with some html content), your homer instance is working properly, but something else (firewall ?) is blocking the request.

[2022-09-05 12:29] lauridshub commented on #499
I have a search bar on the middle of my page for google.

`message:
  style: "is-warning"
  title: "Google"
  icon: "fab fa-google"
  content: '<form action="https://google.com/search" method="get"><input type="text" name="q" placeholder="Search" style="width: 100%" spellcheck="false" autofocus="true" onkeydown="handleKeyPress(event)"/></form>'`

Just throw this in your config.yml and save it :)
I

[2022-09-05 22:45] TheTiiiim commented on #502
Serving this with Apache opposed to npx serve fixed this issue

[2022-09-05 22:45] #502 closed

[2022-09-07 03:08] luisfco667 commented on #491
@bastienwirtz  today before try  I did one update & upgrade (I did many times  in the past) now it show some data to output as bellow but still not show the dashboard ( I disabled UFW)  :

admin@Server01:~ $  curl -IX GET http://10.0.0.220:8089/
HTTP/1.1 200 OK
Content-Type: text/html
ETag: "3294342249"
Last-Modified: Fri, 29 Jul 2022 17:19:33 GMT
Content-Length: 729
Accept-Ranges: bytes
Date:
Ser

[2022-09-07 07:48] bastienwirtz commented on #491
Ok, 200 OK is good! Can you curl without the `-I` to see if homer HTML is returned ?

When you say not show the dashboard, you mean an empty white page  in your browser ? In this case, try to look for errors in the browser dev tool (console & network tab) to see if anything shows up.

[2022-09-10 20:55] BancarelValentin commented on #106
I changed @DOWIT-JoelFrojmowicz snippet a bit to make it more generic.
[code]

With this it take your whole screen minus 100px. So if you have a screen super wide it's not stuck at 2000pcx; and if ou have smaller one it won't overflow.

[2022-09-11 19:37] wilcomir commented on #382
Does anyone have any further suggestion on this? "fa fa-docker" & "fa fa-raspberry-pi" both do not work - and both are supposedly free. Thanks!

[2022-09-11 20:29] dequeues opened #508 "Webserver gets stuck on clock jump"
docker-compose.yml
[code]

Docker logs
[code]

[2022-09-12 02:45] gstrauss commented on #508
Why do you think it is getting stuck?  If lighttpd is not restarting after such a large jump in time, check lighttpd.conf to verify your setting for `"server.clock-jump-restart"` in `server.feature-flags` (https://wiki.lighttpd.net/Server_feature-flagsDetails)

Also, why do you think the year 4147 is sane for today, which is in the year 2022 as I write this?

[2022-09-12 02:51] dequeues commented on #508
I'm pretty sure that the server is borked. I've had issues with Docker too, so I'm going to try and reinstall the OS and we'll see. I'll close this for now.

[2022-09-12 02:51] #508 closed

[2022-09-12 03:49] gstrauss commented on #508
Following what you posted from the lighttpd error log, did lighttpd report in the error log that lighttpd will attempt a graceful restart in < ~5 sec?  I am a lighttpd developer and if that is not working as expected, I would like to know so that I can fix it.  Thanks.

BTW, the current lighttpd release is lighttpd 1.4.66.

Also, I am still interested in why the image running under Docker is provi

[2022-09-12 04:09] dequeues commented on #508
Nope. That's all it ever showed and nothing more.

Yeah, I think the whole system was borked.

[2022-09-16 00:32] AfricanHipp0 commented on #273
Hey @Emilaia and @DanielSchetritt were either of you able to get this to work? I can't seem to get it to not use default search, which then prevents the trigger to use google

[2022-09-16 13:15] patrickfav opened #509 "Defining a VOLUME in Dockerfile makes it impossible to use as ephemeral/stateless/self-contained image"
Hi, thanks for the great project, I think homer is the best status/dashboard for self hosted services!

To my issue: I usually try to design docker images as ephemeral/stateless/self-contained where I pack all the necessary files in the image during build time. This makes it easy to:

* Change a file
* Run my docker build (which copies the file to e.g. /www/assets)
* Deploy

Done.

Since the base

[2022-09-16 19:26] wardwygaerts commented on #396
I thought I solved it in the past (everything is working for Sonarr, Radarr & Prowlarr.
But I keep getting the cors messages for Portainer, Uptime-Kuma and Paperless.

`Access to fetch at 'https://portainer.*******.com/api/endpoints' from origin 'https://homer.**********.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-

[2022-09-17 10:52] Supersimmons opened #510 "Homer on Raspibolt"
Hello,
i'm trying to install homer on my raspibolt node. I don't use Docker. Installation it's ok, but when i start homer for the first time with this command "npm run serve" in the homer directory (/home/homer/homer) i receive this error:

npm ERR! Missing script: "serve"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

Thanks

[2022-09-18 14:27] bastienwirtz commented on #510
Hello @Supersimmons,

To run homer on the integrated node server, the command is `npm run dev`, for testing / development only. For production use, you can do a `npm run build` and serve the static html content from any webserver (nginx, apache, ...).

[2022-09-18 14:33] bastienwirtz commented on #509
Hello @patrickfav,

Thanks for pointing that out. The VOLUME is kind of useless as the content is static, Homer will never make any changes to it. I [removed it](https://github.com/bastienwirtz/homer/commit/ae1b04d1c4db540cead1dd10c458f720ae3ab99c) :+1:

[2022-09-18 14:35] bastienwirtz commented on #503
Hey @felihommen,

Good catch! thanks for reporting it. It's [fixed](https://github.com/bastienwirtz/homer/commit/5418c6291a39d27aeee471673adba742080e1ccb) on `latest`, it should be better.

[2022-09-18 19:36] Supersimmons commented on #510
Hello @bastienwirtz ,
following guide steps for raspibolt installation, i've to run this command to test starting Homer manually first to make sure it works. If i run your comman "npm run build" and then i start homer i receive error anyway

0 verbose cli /usr/bin/node /usr/bin/npm
1 info using npm@8.19.2
2 info using node@v16.17.0
3 timing npm:load:whichnode Completed in 0ms
4 timing config:load:

[2022-09-18 19:41] bastienwirtz commented on #510
@Supersimmons There is no `npm run serve` command (there was at some point, that was the old name of the `npm run dev` command, it's the same thing). So, there is no "running homer" strictly speaking, the build command generates simple html static files which have to be hosted somewhere (behind a webserver)

[2022-09-20 17:50] tomtreffke commented on #491
Hi there, I would like to loop into this _shortly_. I can confirm most of the behavior @luisfco667 has had here, but I'll paste the outputs of various cmds anyway below. First, the error i have is:

![image](https://user-images.githubusercontent.com/37486390/191328781-511e0d8f-45fc-493b-9978-b664fd23485a.png)

now to the commands/outputs, they look actually the same:

`docker exec -it 61a03f5d6d63

[2022-09-20 20:14] tomtreffke commented on #491
last comment for today. setting following flag on lighttpd.conf
`server.http-parseopt-header-strict = "disable"`
-> I think it didnt work, because I couldnt update the file in place, I forced lighttpd to use it with `lighttpd -f /www/assets` (where i placed the update version via vscode-ssh) ... I think inplace-replacement doesnt work really and one would have to rebuild the container to test this

[2022-09-21 01:08] patrickfav commented on #509
Awesome, thanks!

[2022-09-21 07:26] bastienwirtz commented on #491
Hi @tomtreffke,

From your first comment, everything seems to work great. Your curl request ends up in 200 ok and the HTML returned is Homer's code.

I'm not sure what you trying to do with Postman and Thunderclient as Homer doesn't have an API.
Your container log shows **(`unexpected TLS ClientHello on clear port`)** that you might try to access Homer using httpS (it's not supported by Homer)?

[2022-09-21 07:40] tomtreffke commented on #491
Hi @bastienwirtz, I thought I just utilize Postman/Thunderclient to issue GET requests onto the endpoint. Which in turn gives me a little more insights in what the issue is. How else do you explain the attached screenshot?

I dont try to call https. I am calling http://pihole.box:8084.

[2022-09-21 20:17] #503 closed

[2022-09-22 11:07] gsm42 opened #512 "update on Displaying the timezone hour near temprature for each location #449"
Hi
I wonder if there is any update on implementing time withing weather widget?

Thanks!

[2022-09-24 21:36] erlend0 opened #513 "host ip included when adding link to the config"
After adding the wanted ip address under URL in the config file the ip address for Homer is included. The example under will give the link "http://192.168.68.111:8902/192.168.68.111:1010" thus making the link useless
    items:
      - name: "PiHole"
        logo: "assets/tools/pihole.png"
        subtitle: "Bookmark example"
        tag: "app"
        keywords: "PiHole"
        url: "192.168.68.1

[2022-09-25 07:46] electric-m opened #514 "Homer fails to start due to GUID"
Hey guys, Homer has been working fine for months, but today the container exited and logged this:

`Starting webserver
2022-09-18 23:10:25: (server.c.1568) server started (lighttpd/1.4.64)
2022-09-24 23:04:59: (server.c.2077) server stopped by UID = 0 PID = 0`

i recognized, that Portainer got an update through watchtower, might be related?

[2022-09-25 07:50] electric-m commented on #514
![0B082DF8-CA83-4C97-BB0C-FFF1926AEE10](https://user-images.githubusercontent.com/40071240/192133654-53d04b5f-67c8-49f5-a2f0-f19301281b22.jpeg)

Has been working fine with these settings.

[2022-09-25 07:52] electric-m commented on #514
Meanwhile I read your FAQ where you state:

Change the docker user by using the --user arguments with docker cli or user: 1000:1000 with docker compose.

I honestly don’t know how to apply that docket argument within portainer.

[2022-09-25 09:41] fbartels commented on #513
Hi @erlend0,

you have to add the protocol to the beginning of your url. So instead of `192.168.68.111:1010` it needs to be `http://192.168.68.111:1010`.

[2022-09-25 17:16] #514 closed

[2022-09-25 17:16] electric-m commented on #514
Reinstalled from scratch.

[2022-09-26 15:22] CreationGuy opened #516 "Request: Proxmox Status"
Hi- is it possible to have a custom service to check the status of Proxmox VMs? Maybe if they how many are on out of VMs, or CPU/Disk Space, etc?

[2022-09-28 12:07] defsix opened #517 "Missing Favicon on Tab"
Running [docker.io/b4bz/homer:latest] (http://10.0.1.10:9000/#!/2/docker/images/docker.io~2Fb4bz~2Fhomer%3Alatest)

I am missing my favicon from the tab in my browser. This used to be present but am unable to repair or locate. Is it just me?
![Screenshot 2022-09-28 130435](https://user-images.githubusercontent.com/6899823/192774717-d4dc578b-a25b-4deb-9b10-dd00a251e670.jpg)

`
title: "Whisper Net"

[2022-09-28 17:09] CreationGuy commented on #516
Great, I'll give it a try- thanks for sharing.

2 questions:
1) Does it matter where I place this script?
2) Assuming that a standard PVE user would be fine for the SSH in the script or what do you recommend?

[2022-09-28 19:22] jordantrizz commented on #516
No as long as you can execute the scripts.

any user that has ssh access should be able to run qm, this was for a homelab so root is what I used.

[2022-09-28 20:06] CreationGuy commented on #516
Thanks again. I hate to ask this, looking at the script, do I replace PROXMOX_USER with the actual username?

[2022-09-29 13:21] jordantrizz commented on #516
No worries at all, definitely need feedback on documentation. Yes, the PROXMOX_USER is the proxmox host ssh user you're going to use to run the qm command.

[2022-09-29 17:59] CreationGuy commented on #516
Thank you for the updated directions. I'm some-what new to docker.

I've placed
pve-env.cfg & proxmox-report.sh in /docker/homer-scripts/
pm_status.html in /docker/homer/assets/tools

I tried to manually run the script:
`/docker/homer-scripts$ sudo sh proxmox-report.sh
proxmox-report.sh: 2: Bad substitution
proxmox-report.sh: 7: [[: not found
Error: can't find config at /docker/homer-scripts/pve-e