[2019-11-30 18:24] hypervtechnics opened #6 "[Feature request] Loading of status message from endpoint"
For me it would be useful to have the status message and its properties loaded from an api to be more dynamic. So as an alternate you could provide an URL to the endpoint and every client will make the call to the api to get the message and its state (success and so on) then.

[2019-12-09 06:10] bastienwirtz commented on #6
Hi @hypervtechnics!

Thanks for reaching out, sounds like a good idea. I can add an optional `url` property in the `config.yml` under the `message` key and automatically perform a GET request if filled. The API could respond a json like:

[code]

Would that be ok?

[2019-12-09 07:30] hypervtechnics commented on #6
Yeah that would be cool! Thank you for this wonderful piece of software! 😄

An additional ideas for maybe some other users out there: Maybe use the additional fields `style`, `title`, `content` as overwrites for the api response? So if the API does or does not provide the given values you can use them as replacement ^^ Just as an idea.

[2019-12-17 22:18] bastienwirtz commented on #6
Here you go @hypervtechnics : https://github.com/bastienwirtz/homer/pull/7
It would be awesome if you could test the branch and give me some feedbacks before I merge it to master! Feel free to ask if you have any question.

[2019-12-18 19:47] hypervtechnics commented on #6
I will take a look in the next days as I first have to adapt my service providing the values :D

[2019-12-20 09:30] fbartels opened #9 "Service worker does not properly cache fonts"
Hi @bastienwirtz,

I have been playing around with your start page a bit and in my test environment I am actually running it in a subdir (I have opened https://github.com/bastienwirtz/homer/pull/8 to fix some code related to that).

Once thing I am unable to fix myself is the following:

When switching in the dev console to offline mode, all externally added fonts are missing. Which means for exam

[2019-12-27 18:43] bastienwirtz commented on #6
You're welcome!
Anytime for the testing, no rush. I'm merging the PR now but I will update it based on your feedback if necessary :)

[2019-12-27 18:44] bastienwirtz commented on #9
Hi Felix,
Thanks for reporting that, I'll look into it very soon :+1:

[2019-12-27 18:49] fbartels commented on #9
Hi Bastien,

thanks. In of of the forks of the repo has added these resources locally, which means it could be easier to add them to the manifest.

[2020-01-10 10:14] pitichampi opened #10 "[Feature request] Target of link"
Hello

I'm trying your great project and it seems pretty promising :)
I was wondering if it could be possible to have an option to open links in a new tab (target _blank) in an item configuration.
That's all :)

[2020-01-13 05:49] bastienwirtz commented on #9
Hi @fbartels!
This should do the trick: https://github.com/bastienwirtz/homer/pull/11

[2020-01-13 06:07] bastienwirtz commented on #10
Hi @pitichampi!

Thanks for reaching out! I just pushed it on master (https://github.com/bastienwirtz/homer/commit/56c69e0d6bd7265afec6cd66a4875ebf6357ea7d), enjoy :)

[2020-01-13 07:32] fbartels commented on #9
Almost. I have commented the pull request.

Thanks so far!

[2020-01-14 15:16] #9 closed

[2020-01-14 15:16] #10 closed

[2020-01-14 15:16] #6 closed

[2020-01-17 13:36] hypervtechnics commented on #6
Hi, finally got to test this! It's working! Thank you! 😄

One thing I noticed during upgrading: Maybe reuse the title from the config in the HTML as title of the whole page (in the browser tab). Also it may be useful to make the colours configurable to really only need to make changes to the config.yml. Makes updates more easy :)

[2020-01-17 18:39] bastienwirtz commented on #6
Thanks for the feedback! Easy colors & title are in my todo list!

[2020-01-22 14:29] twolaw opened #13 "Make navbar responsive (toggle into hamburger menu on mobile)"
Instead of hiding on mobile, it would be interesting that navbar-menu toggles into navbar-burger.

Bulma documentation : https://versions.bulma.io/0.7.0/documentation/components/navbar/

[2020-01-26 15:08] managai opened #14 "CORS request require http or https protocol (app.js)"
Hi,
I just downloaded zip archive, uncompressed it in folder and opened browser (firefox 72 and chromium 79) via file protocol

file:///$PATHTO/homer/index.html

both browser fail to open page and return a CORS related error located at
app.js:48
app.js:58

in firefox (68+) resing reason error is described at https://developer.mozilla.org/it/docs/Web/HTTP/CORS/Errors/CORSRequestNotHttp

some idea h

[2020-01-29 18:58] bastienwirtz commented on #13
Hi @twolaw!
Thanks for opening an issue. It would be nice to have a narbar-burger. I've some stuff I want to do before but I keep that in my todo list!

[2020-02-07 18:57] goncaloCB opened #15 "config.yml file"
I edit config.yml file but i can't see any changes. am i missing something ?

[2020-02-07 20:11] bastienwirtz commented on #15
Hi @goncaloCB,

That's probably the service worker cache, it's a known issue, I'll fix it soon. In the meantime try to clear your browser cache and if necessary force the service worker update (for exemple in Chrome: Go to dev tools > Application > service worker, and click on "Update" or "Unregister"). You can also try in private navigation.

![2020-02-07-121032_970x285_scrot](https://user-images

[2020-02-09 06:53] yangkghjh commented on #15
Shift+F5, if you are using Windows.

[2020-02-10 18:18] mokshmridul opened #17 "White Bar at bottom when removing footer"
Hi,

Thank you for the amazing work.

If i try to remove the footer by removing the below lines, the page ends up with a white bar the bottom when using the Dark Theme. How can i get rid of this bar?

File Modified : Index.html
Lines Removed:
[code]

[2020-02-11 02:01] #17 closed

[2020-02-11 06:13] bwirtz commented on #17
Hey @mokshmridul did you find a solution? Just so you know, I plan to make the footer optional based on a key in the `config.yml` at some point!

[2020-02-11 06:32] mokshmridul commented on #17
Hey @bwirtz Thanks for the comment. I did manage to find a solution by making the footer the same color as the rest of the page.

The idea of making it a key sounds great. In addition to that, may i also suggest that the tabs open in a new tab if possible?

[2020-02-15 20:41] goliath888 commented on #17
Is there any way to hide the footer completely? Even with the same color as the background, when you scrolldown, the footer is there and I did not find any way to remove it.

[2020-02-21 23:32] calvinbui opened #19 "Enable Docker Hub builds"
Since https://github.com/bastienwirtz/homer/pull/12 is finished, could you enable Docker Hub builds for this project?

Information: https://docs.docker.com/docker-hub/builds/

[2020-02-27 05:53] bwirtz commented on #19
Hi @calvinbui! Yes It's planned, I'll look into it soon :+1:

[2020-02-27 06:02] bastienwirtz commented on #19
Hi @calvinbui! Yes It's planned, I'll look into it soon :+1:

[2020-02-27 06:28] bastienwirtz commented on #17
@mokshmridul, @goliath888 the footer is now a setting in `config.yml`:
https://github.com/bastienwirtz/homer/blob/master/config.yml#L9

You can use any content, html enabled, or just set it to `false` to hide it entirely. Let me know if any troubles. Cheers!

[2020-02-27 16:54] mokshmridul commented on #17
Just tried it, and it works great. Thanks a ton :)

[2020-02-27 23:05] bastienwirtz commented on #19
There you go: https://hub.docker.com/r/b4bz/homer :)

[2020-02-27 23:05] #19 closed

[2020-02-29 13:19] odin-bb commented on #14
I am having the same issue. I am wondering if you need to put this on a server to have the apache/nginx engine to get it to work. I will attempt that this weekend.

[2020-02-29 14:03] odin-bb commented on #14
Hey so running the homer on a apache2 server worked perfectly. I think that is what it meant. You'll have to create a virtual host to get it to work, but that is how I got it to work.

If you need some help with that I can help. Shoot me a message.

If you are trying to get it to work locally, I'd wait on him to respond.

[2020-02-29 16:42] goliath888 commented on #17
Already with it, thanks for the work!

[2020-03-03 14:12] BashBeesAndBeeer opened #20 "[FEATURE] Service Tags as list instead of string"
## I'm submitting a ...
- [x] feature request

## Current Behavior

Current Example/Usage as displayed by `README.md`

[code]

Only one tag is available to use

## Expected Behavior & Possible Solution

Multiple tags are available to search

[code]

One can use multiple tags. When searching, one does not necessarily need to remember the name of the service to find it in the dashboard.

## Context

[2020-03-04 16:22] mokshmridul opened #21 "[FEATURE] Removal of the Top "Blue Bar" and option to retain the search, theme and view switch options without having the Page link option"
Hi,

I wanted to make a few feature requests, namely:

1) Option to remove the following section from the page, and consequentially remove the entire blue bar which appears on the top part of the page

[code]

2) I would also like the option to retain the search, view switch and theme switcher to remain, even if no pages are referenced in the following section:

[code]

Thanks a ton

[2020-03-04 16:45] mokshmridul commented on #19
Hi,

I tried this on Docker, and the config.yaml mount is fine. However, I cant figure how to mount the assets / logos, and hence they show up with a 404 on the page.

[2020-03-10 15:49] bastienwirtz commented on #19
@mokshmridul I updated the documentation, you shoud be able to do it with something like:
[code]

Let me know if that works for you.

[2020-03-10 16:44] mokshmridul commented on #19
This worked great. Thanks a ton.

[2020-03-12 19:45] andrewwiebe commented on #15
Following as I would love to see this issue fixed.

[2020-03-12 20:24] DaPutzy commented on #21
You can do this:

    links: {}

to keep the bar without links in it.

[2020-03-12 20:39] DaPutzy opened #23 "Clean up Dockerfile / docker image"
The current content of `/www` is a bit much:
[code]

because of this line in your `Dockerfile`:
[code]

Please consider only copying required stuff to keep the docker image clean and small. `.git`, `Dockerfile` etc. but especially `assets/` should not be there.

AFAIK this is the only stuff required:

[code]

and maybe `assets/favicon.png`, but thats debatable.

[2020-03-15 00:04] bacco007 opened #28 "[FEATURE] Support for Font Awesome Pro"
Feature Request - Support for Pro level Font Awesome icons (incl. light and duotone icons)

It would be good to be able to use some of the FA Pro icons (as a Pro licence holder)

[2020-03-15 10:37] vikdb opened #29 "Noob question: empty window"
Hi,

If i unzip the files on windows and execute the index file, i get an empty white screen..

" just copy the static files somewhere, and visit the `index.html`." => does this mean anywhere or do i need to run it on a server?

[2020-03-15 15:40] Reznorzo opened #30 "Theme and Layout Default"
Thanks for the great work first of all !

Is it possible to set the default theme (to dark) and the default layout at all ?
I've been digging around, but can't see where I could set this.

[2020-03-16 10:46] #29 closed

[2020-03-16 14:16] traeblain commented on #30
First, the layout and dark mode is stored in localStorage so it should be persistent once changed.

If you want to change the defaults, dive into the `app.js` file:

Change the following values first on [line 7](https://github.com/bastienwirtz/homer/blob/46fd4f4da18ed505264181cfa8f6a776abef9e2f/app.js#L7):

[code]
Next on [line 8](https://github.com/bastienwirtz/homer/blob/46fd4f4da18ed505264181cf

[2020-03-16 18:35] Reznorzo commented on #30
Thanks for that.
Obviously I didn't dig hard enough !

[2020-03-16 18:35] #30 closed

[2020-03-18 05:19] bastienwirtz commented on #13
Hi there! just merged @traeblain's PR that bring the navbar-burger, enjoy!

[2020-03-18 05:19] #13 closed

[2020-03-18 05:21] bastienwirtz commented on #21
Hi @mokshmridul! Thanks for the feedback!
The header hiding is on it's way here: https://github.com/bastienwirtz/homer/pull/26 :+1:

[2020-03-18 08:37] mokshmridul commented on #21
WOW !!

Thanks a ton mate, looking forward to the merge :)

[2020-03-18 21:41] traeblain commented on #20
As I understand your request, you want more details for search so that you can better remember functions over applications, and better wrangle larger pages.  You can achieve the same functionality **now** by setting this as your `tag` string:
[code]
Now type in "pipeline" and the filter will work.  And no need to have significant changes to the app structure.  You can even identify a separator `#`

[2020-03-18 21:47] traeblain commented on #28
Use of Font Awesome Pro in open-source efforts is currently prohibited by the license.

But honestly, I don't know why you cannot have it work for your personal dashboard?  I don't have a license, but you only need to house the Pro Fonts in the 'webfont' directory and provide the Font Awesome Pro CSS (assuming it's provided, I don't have a license to know) on this [line in the HTML file](https://g

[2020-03-18 22:37] traeblain commented on #14
Line 48 makes an HTTP HEAD request and line 58 is looking for an HTTP Status Code (i.e. 200).  When opening from a file:// the requests are FILE request not HTTP requests.  This is easily fixed by utilizing a simple HTTP server.

If you have python installed run in the directory:
```python -m http.server 8000```

If you would rather use node, then:
```npm install http-server -g```
then in the dire

[2020-03-18 23:01] traeblain opened #31 "PWA Possibilities"
Just adding an issue to start discussion on what to do for a PWA.

Current thoughts:
- Manifests needs to be static file that contains some data from `config.yml`
- Could have a `pwa: true` tag in config to insert the HEAD LINK tag (use it or not, allows for the simple clone, edit, serve approach).
- Basic bash script (and batch.bat?) that gets the data from `config.yml` and populates manifest (av

[2020-03-19 12:13] BashBeesAndBeeer commented on #20
Thanks @traeblain  I'll test out your suggestion.
But - you are correct, my initial thought was to stack more extra tags than just the three in my above example to give more flexibility on what to search in order to find a page.

[2020-03-19 21:37] andrewwiebe opened #32 "Any way to use images in place of icons?"
I would love to be able to use an image in place of font awesome icons in places. A lot of things that I want to link to do not have icons on font awesome.

Thanks for great job btw!

[2020-03-20 22:31] broizter opened #33 "No icon in Chrome bookmark bar"
There is no icon when you bookmark Homer and place it in your bookmark bar in Chrome. I included YouTube in the bookmark to the left to clarify what a normal website does when you bookmark it.

https://imgur.com/a/CSgmjd8

[2020-03-23 01:41] bastienwirtz commented on #15
Hi there!
@goncaloCB @andrewwiebe, just pushed a commit that remove the config file from the worker cache, it should help with this issue. Can you tell me if that's work for you?

[2020-03-23 13:04] andrewwiebe commented on #15
For updating is it just a matter of overwriting everything and putting back our config file on top?

[2020-03-23 14:24] andrewwiebe commented on #15
I overwrote my existing files with the update, with the exception of my config file and cleared the browser cache but am still having the issue.

Where is code change that should correct this? I just want to make sure I have the correct files my server.

[2020-03-23 15:26] bastienwirtz commented on #15
@andrewwiebe It's there: https://github.com/bastienwirtz/homer/commit/4b87511f28b2d7b8b85bb07ffe6c9909c141acd6#diff-8a5b5909f5b3ce1a25a1c499ab30da2cL9

Truth is, your worker.js is probably cached too. That because of the lack of build system (each new release should have unique ressource URL to avoid all of that, I plan to fix that soon).

[2020-03-23 17:42] andrewwiebe commented on #15
Nope sorry, this was my fault made a stupid mistake when copying the files. It looks like it is working!

Thanks so much.

[2020-03-23 17:55] bastienwirtz commented on #15
Cool! Thanks for the feedback @andrewwiebe!

[2020-03-23 17:55] #15 closed

[2020-03-23 20:30] andrewwiebe opened #35 "Add clear button to search bar"
Hello,

Would love to see a clear button on the search bar to clear an active search. Even better would be a keyboard shortcut to focus the search bar and another to clear the search.

Thanks

[2020-03-26 06:08] bastienwirtz commented on #35
Hey @andrewwiebe!

That's a very cool idea, thanks! Not only it's a good idea, but @jozefs implemented it, and it just got merged! You should be able to update and use it.

[2020-03-26 06:08] #35 closed

[2020-03-26 06:13] bastienwirtz commented on #33
Hi @broizter!

The bookmark icon should be the favicon, can you check if you still have a `favicon.png` file in your `assets` directory? The path is hardcoded here: https://github.com/bastienwirtz/homer/blob/master/index.html#L8 so any change in the filename or extension will make the icon disapear.

[2020-03-26 09:02] broizter commented on #33
That fixed it! My mistake for deleting it without realising.

[2020-03-26 09:02] #33 closed

[2020-03-30 13:33] mselchow commented on #32
You can do this by using `logo: "path/to/logo.png"` in place of the `icon: "fas fa-logo-here"` configuration in your config.yml. I'm using a combination of both with no trouble.

[2020-04-02 05:40] bastienwirtz commented on #31
Hey @traeblain,

Thanks for opening the discussion!
That's basically what we need to make it a PWA. As I mentioned before in the other issue, I build homer with a strong commitment to keep it very low maintenance, simple, and just doing the job without having to think about it. Because it's job is to keep your apps on hand, not to add another one.

That being said, there is a couple of downside:
*

[2020-04-05 03:34] leonyff opened #39 "希望能有一个按钮切换内网和外网的地址"
我把有些服务转发到了外网。
我希望能够设置两个地址, 在主页可以有一个按钮,切换内网和外网的地址
Thank you！

[2020-04-10 15:48] kushpvo opened #40 "Docker image doesn't work on raspberry pi"
when i run docker container, it automatically exits. log shows this:
`standard_init_linux.go:211: exec user process caused "exec format error"`

I guess the dockerfile is not build for raspberry pi?

[2020-04-11 12:30] Tobix99 commented on #40
Yes you are right, there isn't an ARM Build, but I've build it by my own. Here is the Dockerfile I used:

[code]

But remember to build it on the RPi or else it's still not an ARM Image.

[2020-04-11 12:38] kushpvo commented on #40
@Tobix99 Thanks for the info, sorry, i am kind of a noob here. So, how should i use the docker file you mentioned?
Git clone this repo and replace the repo's dockerfile with this file? And then do what?
Also, after doing that, do i need to do docker-compose or docker create?
I'm sorry if i'm asking a lot but I have zero knowledge of docker xD

[2020-04-11 13:23] Tobix99 commented on #40
No problem! So I've a setup with Docker-compose, where I put everything in my compose file and then replace image with `build: "homer/"` and then place a folder in the same folder as the docker-compose.yml and in this homer folder I place the Dockerfile. After that only do docker-compose up -d and it should be running.

Here is an excerpt of my compose file:

docker-compose.yml
[code]

[2020-04-11 17:30] kushpvo commented on #40
@Tobix99 Thanks a lot, i'm still lost lol but i guess i'll figure it out soon!

[2020-04-11 18:07] Tobix99 commented on #40
Ok, so where exactly is the problem? What do you don't understand?

Do you know how to use docker-compose?

[2020-04-21 11:28] leggewie commented on #32
time to close?

[2020-04-21 13:11] andrewwiebe commented on #32
Sorry should have closed this a long time ago. My mistake.

[2020-04-21 13:11] #32 closed

[2020-04-24 08:30] trolologuy opened #42 "Truncate text to avoid overflow of card content"
When the "**name**" or "**subtitle**" defined in the _config.yml_ are too long, the text is overflowing from the card component or causing some unwanted line breaks.
Example below:

![Screenshot_2020-04-24 Demo dashboard Homer](https://user-images.githubusercontent.com/16886290/80191725-67607a80-8616-11ea-908c-f0bad82bf594.png)

Would it be possible to add the functionality to automatically trunca

[2020-04-24 08:39] trolologuy commented on #39
Thanks to deepl translation, the issue apparently:

[2020-04-26 06:02] JesusMtnez commented on #40
@Tobix99 I build an ARM compatible image in my own DockerHub until I could figure out how to do it using the project CI properly.

https://hub.docker.com/r/jesusmtnez/homer

You could use `jesusmtnez/homer:latest` and it will work on your RPi. I am currently using it in my k3s cluster running on top of 5 RPi and it is working nicely.

[2020-04-26 06:04] JesusMtnez opened #43 "Add CI to publish project automatically to DockerHub"
Have you considered using a CI to build and publish the docker image automatically? There are several options:

- GitHub Actions _<- I would recommend that one_
- TravisCI
- CircleCI

It would be possible also to publish the image not only for `amd64` systems but also for `arm` ones.

[2020-04-26 22:31] traeblain commented on #42
Bulma actually takes care of this with CSS.  There's already a PR ( #18 ) for it although it needs some work.

@bastienwirtz Thoughts on cleaning this up?

[2020-04-29 04:54] bastienwirtz commented on #42
Hi there!
Definitely, there you go: https://github.com/bastienwirtz/homer/commit/45d38d122645164cc384d379c170e0fdec447f77 !

Thanks for opening the issue @trolologuy and for the tips @traeblain!

[2020-04-29 04:56] #42 closed

[2020-04-29 05:13] bastienwirtz commented on #14
Hi there,
Sorry for answering so late! As mentioned by @traeblain you need to have something to serve the files, assets & handle the CORS request. I'm afraid there is not really other workaround to that.

[2020-04-29 05:13] #14 closed

[2020-04-29 05:19] bastienwirtz commented on #20
Hi @BashBeesAndBeeer!
Thanks for your issue. And thanks @traeblain once again for the good suggestion, I think the increased complexity not worth it, and the cards are small, that's not really meant to add multiple tags. I prefer to keep it like that.
I hope the multiple value on the single tag works for you!

[2020-04-29 05:19] #20 closed

[2020-04-29 05:27] #23 closed

[2020-04-29 05:29] bastienwirtz commented on #23
Hi @DaPutzy
I just merged https://github.com/bastienwirtz/homer/pull/34 which should fix that! Thanks for opening the issue.

[2020-04-29 05:34] bastienwirtz commented on #43
Hi @JesusMtnez!

The docker image is already automatically build on docker hub (direct github integration). But I'll look into the arm issue soon and might consider a CI if necessary (if it can be done without it's better, #lessismore).

[2020-04-29 07:29] trolologuy commented on #42
Thanks a lot for the fast fix ! Have a nice day :)
And if there are some easy issues or documentation / translation tasks with which you need help let me know.

[2020-04-29 08:47] elias-putz-kiwigrid commented on #23
No problem. I completely forgot something like `.dockerignore` exists while creating this issue 🙈

[2020-04-29 08:48] DaPutzy commented on #23
No problem. I completely forgot something like `.dockerignore` exists while creating this issue 🙈

[2020-04-30 17:45] Joeharrison94 commented on #31
I know this isn't the place for this but I just wanted to say I have tried Organizr, Heimdall and Machine Dash and this by far is my favourite frontend app I have used, do you have a sub Reddit or other forum where we can ask for updates / help / showcase Homer more people need to see this imo.

[2020-04-30 17:47] Joeharrison94 commented on #31
I have some suggestions if your open to feature requests this early on. :) Always up for testing things as well if you need some beta testers

[2020-05-04 05:29] bastienwirtz commented on #31
Hey @Joeharrison94!

Thanks! I'm glad it fits your needs! I don't have a specific sub Reddit or anything for know, I'll think about it. I'm open to ideas and feature requests, feel free to open issues, and have an eye  on the [project philosophy](https://github.com/bastienwirtz/homer/blob/master/CONTRIBUTING.md#project-philosophy) and the [roadmap](https://github.com/bastienwirtz/homer#Roadmap)

I

[2020-05-04 05:31] Joeharrison94 commented on #31
Hell yeah I'd love to beta test, let me know when and what you need

[2020-05-04 05:34] Joeharrison94 opened #45 "Feature Request: Dark mode update"
Love the dark mode feature, but it would be great if it could darken the title bar (leave the nav bar blue) in addition to the already darkened sections.

[2020-05-04 05:36] Joeharrison94 opened #46 "Feature Request: iFrame support if possible"
Would it be possible to allow the tabs to open in an iFrame so that I never have to leave the Homer location, obviously if it turns Homer into a resource hog or goes sluggish then please disregard this request.

[2020-05-05 05:03] issmirnov opened #47 "Request for Help: font awesome support with docker?"
Hey @bastienwirtz - I love the project, and have been happily hacking away on a home server page. I've noticed that while developing locally everything is perfect, but for some reason when I deploy the dashboard remotely my Font Awesome images don't render.

Any thoughts? I've looked into potential issues with service workers, etc, but have no leads.

Details:
- Using simple config file (from READ

[2020-05-05 06:12] fbartels commented on #47
Hi,

your site wants to load http://162.243.159.167:8090/assets/homer.png, but  there is no homer.png in your file listing above.

Not sure though why the fonts are not displayed. The fontfile seems to be downloaded and the key used for e.g. heartbeat looks correct as well.

[2020-05-05 13:29] nightah commented on #43
@bastienwirtz you can build arm images with direct Docker integration just takes a little magic. If you like and time permitting, I can submit a PR?

[2020-05-05 18:53] issmirnov commented on #47
Hey,

Agreed on `homer.png`, that's expected. I copy pasted the README example as is to make it easier to repro.

Any thoughts on the fonts? They seem to show up locally, and I can also clone the repo and serve the `index.html` directly. It only seems to be a problem with docker on remote machines.

[2020-05-05 19:07] fbartels commented on #47
Ah, looking over your command you are mounting the font dir into the container `v $(pwd)/webfonts:/www/webfonts` maybe that folder is empty? its also not in your folder listing above. I think unless you are adding own fonts you can skip mounting it.

[2020-05-05 19:12] issmirnov commented on #47
Whoops! You are absolutely correct. The `vendors` and `webfonts` directories did not need to be mounted. That was a leftover from some early iteration.

Final command that works: `docker run -d -p $PORT:8080 -v $(pwd)/config.yml:/www/config.yml -v $(pwd)/assets:/www/assets b4bz/homer:latest`

[2020-05-05 19:13] #47 closed

[2020-05-08 04:01] bastienwirtz commented on #43
@nightah Of course, that would be awesome!

[2020-05-09 23:14] esturniolo opened #50 "Clone repository - Blank page"
Hi!

Call me stupid, but I clone the repository, open the index.html in my browser and nothing happens. It's all blank.

I'm doing something wrong?
Of course I'm doing something wrong, but I don't know what.

Thanks in advance!

[2020-05-12 17:06] bastienwirtz commented on #50
Hi @esturniolo!

Nothing stupid! You are not alone: https://github.com/bastienwirtz/homer/issues/14
As the config is loaded over AJAX requests, you need a webserver to use it (some option available in the issue thread I linked). I have to update the readme to mention that!

[2020-05-12 18:45] esturniolo commented on #50
Hi @bastienwirtz, thanks for the answer.
I thougth that.
The docker image needs a webserver too?
Because should be great to use everything inside docker, but...
I tried to use it, but I can't mount the `config.yaml` as a volume.

So here I'm again.

[2020-05-17 06:00] confused-Techie opened #54 "Installation Issue"
Hey when trying to initially set up Homer my installation gets stuck on
`darkhttpd/1.12, copyright (c) 2003-2016 Emil Mikulic`
I have tried a few times, removing the image and downloading again to no avail.
Since the default port of 8080 is in use on my machine I am using
`sudo docker run -p 6200:6200 --name=homer -v /path/to/pre-created/config.yml:/www/config.yml -v /same/path/with-nested/assets/

[2020-05-17 06:42] bastienwirtz commented on #54
Hi @confused-Techie,
In order to use the port 6200 on your machine you have to map it to the 8080 in the docker, like this:
[code]

[2020-05-17 06:46] bastienwirtz commented on #50
The docker container includes a webserver, it's ready to use.
To mount the config.yaml, you can use `-v your-config.yml:/www/config.yml`
Here is a full example:
[code]

[2020-05-17 07:19] confused-Techie commented on #54
Hey I appreciate the quick response! Unfortunately I am still seeming to have the same issue. Whats interesting is when I run this command and it gets stuck on the copyright message, once I quit the setup I get
`^Clistening on: http://0.0.0.0:8080/`
Maybe its having issues if another docker container is using the internal port 8080, or would this more likely be a file permissions issue of the conf

[2020-05-17 12:00] Phill93 opened #55 "Directory listing enabled"
By default, directory listing is enabled for darkhttpd. This could be a security problem.

[2020-05-17 14:01] esturniolo commented on #50
Hi again @bastienwirtz.
I tried with your example and I've the same results:

![image](https://user-images.githubusercontent.com/5169045/82149793-a789d600-982d-11ea-9635-dd338bb9ab00.png)

As you can see, I've config.yml (with the proper code inside) but docker can't mount a file.

[2020-05-19 14:51] bastienwirtz commented on #55
Good catch @Phill93, Thanks!!

[2020-05-19 14:53] bastienwirtz commented on #55
@Phill93 I think your pull request base branch is targeting your repo instead of this one, so I'm not able to merge it here, can you update the base branch?

[2020-05-19 16:13] #40 closed

[2020-05-19 16:13] #43 closed

[2020-05-21 04:08] #55 closed

[2020-05-21 19:56] AlexanderEDavis opened #58 "Tab Bar Title"
Is there a way to remove or customise the Homer title in the tab bar?

![image](https://user-images.githubusercontent.com/9097891/82600238-84508500-9ba5-11ea-89a7-8c5f201b110e.png)

[2020-05-22 05:39] ferdinandmudjialim opened #59 "Raspberry Pi Docker standard_init_linux.go:211: exec user process caused "exec format error""
Running on Raspberry Pi Model 3B+ V1.3 with:
`docker run --name=homer -d --restart=unless-stopped -p 8080:8080 -v /home/pi/homer/config.yml:/www/config.yml -v /home/pi/homer/assets:/www/assets b4bz/homer:latest-arm64v8`

produces the error:
`standard_init_linux.go:211: exec user process caused "exec format error"`
in docker logs.

I suspect this may have something to do with the architecture, but

[2020-05-22 06:49] fbartels commented on #58
There is a fork that implements a feature to configure this, not quite sure why the author of it did not (yet?) make a pr with it. I have pulled it into my local copy a few days ago and it seems to work without problems.

https://github.com/sylv-io/homer/commit/1ba17a9b2c2fef58a566e4850d40620f03e9f0e8

CC @sylv-io

[2020-05-22 13:25] sylv-io commented on #58
oh sure i can do it :+1:

[2020-05-22 15:11] TopicsLP opened #61 "Linebreak in message"
Hey,

just wanted to ask is there a way to make linebreaks in the "message" box to get some order.
I wanted to Provide a small text like:

![QoKEFQ4 1](https://user-images.githubusercontent.com/9019121/82682075-f5984280-9c4e-11ea-9c2e-252c7111010b.png)

[2020-05-24 21:20] confused-Techie commented on #54
So while the issue here is fixed, in all honesty I'm not sure what did it. Later on starting the same container from Portainer web UI, it just worked, no errors at all. So while unsure of what changed from starting it from there, I;m assuming it must have been some issue with resources on the system like free memory or something along those lines. But appreciate the help!

[2020-05-24 21:20] #54 closed

[2020-05-25 18:39] bastienwirtz commented on #58
👋
Good idea! Thanks!

[2020-05-25 22:16] #58 closed

[2020-05-25 22:47] bastienwirtz commented on #31
Hi there!

After thinking about this, I choose to go with an easy, efficient and "standard" way to address that: https://github.com/bastienwirtz/homer/pull/62.

@Joeharrison94 If you still want to beta test things, it would be awesome!

I'm closing this one, we can keep the discussion going on the pull request.

[2020-05-25 22:47] #31 closed

[2020-05-25 22:56] bastienwirtz commented on #61
Hi @TopicsLP!

Thanks for this good suggestion! I integrated full html support in this pull request https://github.com/bastienwirtz/homer/pull/62 (among a lot of other stuff that needs some testing to make sure everything is ok).

I'll keep you updated!

[2020-05-25 22:59] bastienwirtz commented on #59
Hi @ferdinandmudjialim !

Thanks for opening the issue. ARM support has been added recently, but something might be wrong, I'll look into it asap!

[2020-05-25 23:05] bastienwirtz commented on #46
HI @Joeharrison94!

That's a good idea but I would like to keep this page as light and simple as possible, and I know that some other full featured dashboard supports iframe and are good option for people looking for that.
Thanks!

[2020-05-25 23:05] #46 closed

[2020-05-25 23:06] bastienwirtz commented on #45
Hey @Joeharrison94!

That's a good idea! I included it in https://github.com/bastienwirtz/homer/pull/62
You should have the control you need on all colors.

[2020-05-25 23:10] bastienwirtz commented on #39
Hi there!

Sorry to have left you unanswered!
@leonyff you should be able to use the dashboard on any network, that would be a matter of webserver / proxy configuration. For example you could have a vhost listing on 2 network interfaces.

[2020-05-25 23:12] bastienwirtz commented on #21
@mokshmridul took a bit more time than expected and have been moved in another pull request, but it's still coming: https://github.com/bastienwirtz/homer/pull/26! Stay tuned!

[2020-05-25 23:24] bastienwirtz commented on #28
Hi there,

I agree with @traeblain, it's not suitable for the project but can be done with little modifications.

[2020-05-25 23:24] #28 closed

[2020-05-26 05:31] mokshmridul commented on #21
Thank you so much mate

Looking forward to this change :)

[2020-05-27 22:02] 87594589-7087-4f7c-b204-e84312ae374c opened #63 "Dockerfile simplification"
The Dockerfile can be make way more simple using something like this:

## Dockerfile

[code]

## Docker run

[code]

This removes the need for:

- Many unneeded CAPs
- Alpine
- darkhttpd

## Stats
Memory: 500Kib
Image Size: 4.55MB

I have not created a PR for this, as I need to do more end-to-end testing for different ARCHs and complex homer configs.

[2020-05-28 20:37] 87594589-7087-4f7c-b204-e84312ae374c commented on #63
One other options, to remove the need to create a Dockerfile is to do something like this:

[code]

I like this option overall, as it is very clean, but it does leave the user having to git clone the repo to use it vs having it packages in a docker image.

## Stats

Memory: ~11MB
Image Size: 40.4MB

[2020-05-29 09:23] vosdev opened #64 "Feature Request: Favicon"
Title should be enough to explain, but the option to add a favicon would be nice!

[2020-05-29 13:05] zdaar opened #65 "config.yml is not loaded"
Hello,

I spun up your docker image mapped the folder and importer static files in www, however it keeps serving me the demo page no matter how much I try. my config.yml is completely ignored.

[2020-05-29 17:06] twolaw commented on #64
You already can change the [favicon.png](https://github.com/bastienwirtz/homer/blob/master/assets/favicon.png) as you want.

[2020-05-29 20:37] zdaar commented on #65
It was browser cache >_<

[2020-05-29 20:37] #65 closed

[2020-05-30 06:17] vosdev commented on #64
Apologies! I forgot to check the existing html and only looked at the config.yml :)

[2020-05-30 06:17] #64 closed

[2020-05-30 14:16] warsix4 commented on #50
I am having the same issue. If I manually create config.yml beforehand I just get a blank page.

[2020-05-31 06:23] bastienwirtz commented on #21
Hello @mokshmridul, It has been merge, hope that works for you!

[2020-05-31 06:25] bastienwirtz commented on #61
@TopicsLP I just merged it, you should be able to do it!
If you installed homer manually, there is a new installation step (build) to take care of, otherwise (with docker) it's seemless.

[2020-05-31 06:25] mokshmridul commented on #21
Hi, Thank you so much for this. Ill check and close this thread once the docker file gets udpated.

Thank you once again.

[2020-05-31 06:26] #39 closed

[2020-05-31 06:27] #45 closed

[2020-05-31 06:27] #61 closed

[2020-05-31 06:59] #21 closed

[2020-05-31 16:51] bastienwirtz commented on #50
That might be either a malformed yaml or just a missing key.
* malformed yaml: You can validate the yaml formatting using for example this: http://www.yamllint.com/.
* Missing configuration key: I just updated homer to handle missing config keys and default value, so this should not happened anymore.

@esturniolo @warsix4 : Anyway, I recommend to try with the latest version (from yesterday), let m

[2020-05-31 16:55] bastienwirtz commented on #63
Hi there!

Alpine is the docker recommendation and it's already really slim. Unless there is a particular issue with it, I prefer to stick with it!

[2020-05-31 16:57] bastienwirtz commented on #63
@87594589-7087-4f7c-b204-e84312ae374c that's not really an option anymore, I just added a build system that require a build stage, so the docker file is a bit more complex today.

[2020-06-01 14:15] klejejs opened #66 "Docker: problems with permissions of assets folder"
When I copy files from github to my assets folder and launch homer through Docker, I get error "assets/manifest.json 403 (Forbidden)". Any suggestions?

[2020-06-01 15:43] klejejs commented on #66
Also I don't know why, but Chrome doesn't find a service worker when I use Docker :(

[2020-06-01 16:03] bastienwirtz commented on #66
Hi @klejejs!
Thanks for reporting this, I just pushed a big update that refactored all the project, that's probably a side effect, I'll look into it asap.

[2020-06-01 16:04] klejejs commented on #66
Thank you very much! Keep up the awesome work.

[2020-06-01 17:32] DusterTheFirst opened #67 "Errors are not shown to the user"
After changing the site's config.yml, the page goes blank. There are no errors in the docker logs, but

    Service worker event waitUntil() was passed a promise that rejected with 'Error: bad-precaching-response :: [{"url":"https://homer.dusterthefirst.com/assets/tools/sample.png?__WB_REVISION__=2310e486d38639bd762c521ecfff5673","status":404}]'.

shows up in the web console.

[2020-06-01 17:41] DusterTheFirst commented on #67
I found the cause, my yaml was malformatted. I am not going to close this issue since errors should be handled more gracefully, such as showing a page that the yml config is invalid or missing

[2020-06-01 20:29] Synt3x opened #68 "[Feature Request] Edit config.yml from web"
I guess I'm being a bit lazy and don't want to ssh into my server to edit my config.yml file. So if it's possible I would like it being on the webpage. Might be silly, but who knows?

update 200603: For me it doesn't have to be that fancy as frederickbeulieu is showing.

[2020-06-03 11:43] DigitalFriends opened #70 "Multiple messages?"
Is there any way to create multiple message-boxes? I cant figure it out.

[2020-06-03 16:07] klejejs opened #71 "Installing homer with yarn produces wrong manifest.json file"
When I run `yarn install` and `yarn build` I get links to images from manifest json as "./img/icons/\*" not "./icons/\*". Changing this might also fix https://github.com/bastienwirtz/homer/issues/66#issuecomment-636931288 as changing the manifest.json fixes it when run without Docker.

[2020-06-03 17:50] sohnemann opened #72 "Feature Request - Don't Repeat Yourself"
As I'm hosting most of my applications on the same host, I would like to add the hostname
everywhere without repeating myself.

I basically got the basics working with YAML anchors:

[code]
That pretty much copies my hostname to every url.
Now my problem is that I can't seem to concatenate hostname & port or extend the url.

So what I was thinking is, that it might be possible to create nodes like

[2020-06-03 19:08] fbartels commented on #72
Hi @sohnemann,

while it won't work with changing ports (but I would recommend making use of a reverse proxy to get rid of them anyways) as long as your application is running on the same domain, you can simply leave out the domain altogether.

So instead of `http://host/site` you can simply link to `/site` (as long as homer is served at `http://host`).

[2020-06-03 20:24] frederickbeaulieu commented on #50
Hi,

I am using [this image](https://registry.hub.docker.com/r/b4bz/homer/) on synology (updated 4 days ago at the time of posting).

I downloaded the zip file from your repo and then pasted the config.yml.dist file and the assets folder on my synology.

<img width="261" alt="Annotation 2020-06-03 161223" src="https://user-images.githubusercontent.com/16929592/83684878-bbfff980-a5b5-11ea-9f6f-071d

[2020-06-03 20:25] frederickbeaulieu commented on #68
+1

Would like to be able to modify the file like with [DashMachine.](https://registry.hub.docker.com/r/rmountjoy/dashmachine/)

![image](https://user-images.githubusercontent.com/16929592/83685548-d8506600-a5b6-11ea-8ea9-236e46a23a1d.png)

[2020-06-04 07:18] Palshee opened #73 "Installing on docker - nothing shows up"
Using the provided docker run command, I do not see any files show up in the config or assets folder.

`docker run -p 8080:80 -v /opt/homer/config.yml:/www/config.yml -v /opt/homer/assets/:/www/assets b4bz/homer:latest`

I created the folders manually in this directory:
`/opt/homer/` and `/opt/homer/assets`/

I check the assets folder and its blank.
I created the `config.yml` file and used the tem

[2020-06-04 07:19] sohnemann commented on #72
Hi @fbartels,

thanks for giving me this idea. Sometimes it's easy to become blind for such obvious
solutions.

Cheers
sohnemann

[2020-06-04 07:19] #72 closed

[2020-06-04 20:31] wizel10 opened #74 "[Feature request] Open in new tab"
May be there is already a way, but can't find. I like to keep "homer" tab as first on my browser, so i can come back at any time to open my next application. Unfortunately, link opens in same tab and I always forget to press CTRL or mid-mouse-button.

[2020-06-05 05:13] fbartels commented on #74
That is already possible you just have to specify https://github.com/bastienwirtz/homer/blob/c712d7c780a4e8d1ef2b67dc56b42ad979c36925/public/config.yml.dist#L71 for each link.

[2020-06-05 09:43] vosdev opened #75 "Recomendation: Homer in combination with "Custom New Tab Page" firefox addon"
After searching for some time I have come across an extension that allows me to use homer in my new tab page, without putting the homer address in my addressbar.

![image](https://user-images.githubusercontent.com/45820840/83861824-621c4280-a721-11ea-9228-41dfa37b81e2.png)

https://addons.mozilla.org/firefox/addon/custom-new-tab-page

The extension loads Homer in an iframe on your new tab page, me

[2020-06-05 10:40] wizel10 commented on #74
Thanks, I initially thought that was the way to go, but added the "target: _blank" as part of the url. This clearly failed as expected.
Adding as suggested works perfect.
I close this now.

[2020-06-05 10:40] #74 closed

[2020-06-05 12:51] ste032 commented on #73
I'm a docker beginner but this project challenged the few concepts I thought I understood.

Anyway, I had the same problem. The` /www/assets` directory inside the container is empty by default (check the Dockerfile) , that's why you didn't find any files in your local dir  `/opt/homer/assets/` either.

You will have to copy your config.yaml and assets (png icons mostly) inside  `/opt/homer/assets/

[2020-06-05 16:17] JamiePhonic opened #76 "Undocumented Feature: YAML Anchoring"
Not an issue, but maybe something that should be mentioned in the documentation?

I figured out that YAML Anchoring works in config.yml

For example, you can define tags and tag styles for each "item" in a service.
Using Anchoring, you can define all your tags and their styles once like this: (for example)
[code]
and then simply reference these pre-defined tags in each item like so:
[code]
then, i

[2020-06-05 17:12] JamiePhonic commented on #70
It doesn't look possible to enable multiple, seperate messages with config.yml

You CAN however, change the "content" of the message to include HTML tags to give you multiple lines instead.

[code]
In YAML, the | character after a tag tells it that everything indented below said tag should be read as one coninuous block of text, instead of more tags

[2020-06-05 17:23] JamiePhonic commented on #68
You could setup [Code-Server](https://github.com/cdr/code-server) and use that to edit your config.
If you're running homer in docker, you can setup a Code-Server container and pass your homer config directory into that.
It would have the added benefit of providing syntax checking!

Reezpatel has created a [Pull Request](https://github.com/bastienwirtz/homer/pull/51) that would allow loading confi

[2020-06-05 17:44] stephane-j commented on #68
That would be nice, I will setup VS Code in the mean time.

[2020-06-05 17:49] stephane-j opened #77 "Feature request: configurable number of columns"
I have a request, would it be possible to configure the number of columns or maximum number of columns? I would like to have more than 3. I have a wide screen and there is a lot of unused space.

I could potentially edit the code/css to make it wider, but would be more convenient for all to be in the configuration.

Thanks!

[2020-06-05 17:54] frederickbeaulieu commented on #68
I use Code-Server at work, unfortunally I also have the bug where I can't link my [config file from outside the docker](https://github.com/bastienwirtz/homer/issues/50). So I couldn't pass the file to Code-Server.

[2020-06-05 17:59] Palshee commented on #73
I see. Maybe the docker container could be updated to include what the demo page shows so we have something to go off of

[2020-06-05 18:21] JamiePhonic commented on #50
Based on the error output you provided, it looks like it could be an issue with synology's docker implementation that if you're passing in a file, it expects the "mount path" just to be the directory you want that file placed in and not an absolute path?

Try changing your mount path for config.yml to just "/www/" and see if that works?

[2020-06-05 18:29] frederickbeaulieu commented on #50
Tried that already, but the files does not appear after I mount /www. It works with other docker images like bitwarden or code-server when I mount their /config folder, but Homer does not seem to work.

[2020-06-05 18:33] fbartels opened #78 "Cannot run latest directory in a subfolder"
Hi,

today I wanted to update my front facing Homer installation with the newest release from https://github.com/bastienwirtz/homer/releases/tag/120425999 and with this release it is no longer possible to run Homer in a subfolder.

From looking at index.html I could spot that all resources are now referenced from the root, like for example `/css/app.22d049fe.css`, while for running it from a subdi

[2020-06-05 18:39] klejejs commented on #50
I think it is because of the permissions of docker container. It uses its own user with its own uid and gid, not system users which means that it doesn't have permissions to access the files you create with your local user accounts.

I can't currently specify any specific issues but I think there are a few ones connected to the same issue.

[2020-06-05 18:50] JamiePhonic commented on #50
Turns out Synology have a Demo site for their DSM UI (https://demo.synology.com/en-uk/dsm)
I downloaded the docker plugin on it, created the container and it started without any problems.
I uploaded the config.yml to the docker/homer folder through the DSM file manager (maybe that had something to do with it?)
![image](https://user-images.githubusercontent.com/4817698/83911849-e6dc8000-a764-11ea-8

[2020-06-05 22:44] JamiePhonic commented on #75
Thanks!
Combined with a node-red flow to dynamically update the "message" with a randomly selected headline news story, I've finally found a reason to replace the default "Firefox home" as my new tab page :D

[2020-06-05 22:53] JamiePhonic commented on #68
@stephane-j As a bonus, Code-Server puts the "current folder" as a parameter in the URL bar, so you could add a `links:` entry that points to your code-server instance with the directory pre-filled for essentially 1 click editing!

For example:
[code]
where the path after `?folder=` is the path to the folder where you mounted your homer config INSIDE the container (in my case, /config/appdata/home

[2020-06-06 02:18] frederickbeaulieu commented on #50
Aright, well, thanks alot for the time you spent investigating this and sorry for the late reply, I had something.

Result :

- I tested your config file and it worked. 👍
- Tried to redo my setup to compare the 2 files....and it worked...

Now, I think the only thing I did different is renaming the config.ylm file from config.ylm.dist before uploading and not after. Not sure if that was the proble

[2020-06-06 08:17] JamiePhonic commented on #50
@frederickbeaulieu well that's weird, but at least it's fixed!
I use a plugin on Firefox called [Dark Reader](https://addons.mozilla.org/en-GB/firefox/addon/darkreader/)
It'll attempt to intelligently apply a dark mode theme to every website. Evidently it figured out synology DSM and I didn't even notice!

[2020-06-06 22:40] #63 closed

[2020-06-07 00:23] bastienwirtz commented on #78
Hi @fbartels
Thanks for letting me know! It should be fine on the latest release (fixed in this commit : https://github.com/bastienwirtz/homer/commit/b0a0fdaa3b2fca33ee128f39d9bd1c9dcfda0db8#diff-0e893b3578ae3d5c8b98bac1c80756a7R10)

[2020-06-07 01:02] bastienwirtz commented on #68
Hi there!

Glad you found a solution! I agree it would be interesting to have an editor, but what I wanted with Homer is to have a full static, no backend required, really light and simple solution.
That not on my priorities but I'll look if I could add a very simple editor, maybe separated and optional.

I just setup a [gitter chat](https://gitter.im/homer-dashboard/community) if you want to talk

[2020-06-07 01:03] bastienwirtz commented on #67
Hi @DusterTheFirst!

Thanks for openning the issue, I finally added error handling on the config file!
Let me know if it works for you!

[2020-06-07 01:06] bastienwirtz commented on #71
Hi @klejejs
The fix as been merged, the path should be good now!

Thanks!

[2020-06-07 01:06] #71 closed

[2020-06-07 01:13] bastienwirtz commented on #50
Hi there!

I added `config.yml` fetching & parsing error handling, if anything like thing happen again, an error will be displayed intead of a white page, that should help! I also updated the documentation (README.md) to try to make things easier.

Last but not least: I just created a [Gitter chat](https://gitter.im/homer-dashboard/community) that might be more efficient to help each other setting

[2020-06-07 01:14] bastienwirtz commented on #50
If I understand correctly this issue is resolved, so I'm closing it, but feel free to reopen it if necessary!

[2020-06-07 01:14] #50 closed

[2020-06-07 05:57] bastienwirtz commented on #66
Hi @klejejs!
I tried to reproduce, without luck so far, could you provide more information?
Thanks!

[2020-06-07 06:27] bastienwirtz commented on #73
Hi there!

When using bind mount like this, docker will copy the initial data to the mounted directory. You have to copy it manually. I don't think there is another solution.

I've updated the documentation with the missing information: https://github.com/bastienwirtz/homer#using-docker, hope it helps!

[2020-06-07 17:58] fbartels commented on #78
Thanks, the site is now loading and showing properly again with the latest release.

Looking at the network tab one 404 error remains, but the only missing thing I can spot is the favicon:

`homer/assets/img/icons/android-chrome-192x192.png`

[2020-06-07 17:58] #78 closed

[2020-06-08 15:31] bastienwirtz commented on #77
Hi @stephane-j!
Thanks for opening this issue. That would be definitely nice!
I add that to my todolist, I'll keep you updated here :+1:

[2020-06-08 15:32] bastienwirtz commented on #76
Hi @JamiePhonic !
Nice! I'll test that asap and update the documentation!
Thanks!

[2020-06-08 15:34] bastienwirtz commented on #75
Nice! Thanks @vosdev!
I'll add that to the documentation soon.

[2020-06-08 15:45] bastienwirtz commented on #70
Hi there!

It's not possible for now, but as said by @JamiePhonic, you can leverage the HTML feature to add multiple message. You can event hide the main title (`title: ~`) bar and create your own:

[code]

If you want the same look & style, you can use the html markup here: https://bulma.io/documentation/components/message/.

[2020-06-09 06:52] hmoffatt opened #82 "option to disable connectivity check"
I'd like to be able to disable the connectivity check from the configuration file. (Due to the configuration of my server, the check fails after a while, even though my connection is just fine.)

[2020-06-09 15:05] blasphemite opened #83 "Docker installation, config.yml being bound to directory?"
Using the docker run command from the readme, changing the directories and adding the `-d` option.

`docker run -d -p 8803:8080 -v /container/config.yml:/www/config.yml -v /container/assets/:/www/assets b4bz/homer:latest`

(copy assets directory to local assets directory)

Local /container/config.yml is created as a directory.

If I remove the local config.yml directory and manually replace it wit

[2020-06-09 18:03] JamiePhonic commented on #83
Try this:

first, create a `homer` folder inside your `/container/` folder and place the files inside it:
[code]
then run:
[code]

[2020-06-10 05:06] bastienwirtz commented on #82
Hi there!

I see, and I agree it's not always useful. I use it because my portal is behind a ssh tunnel, and it make possible for me to know if the tunnel is up before trying to reach any service.

So, there you go:
[code]
Available in the latest version. Hope that works for you! Thanks for your contribution!

[2020-06-10 05:08] bastienwirtz commented on #77
There you go:
[code]
Available in the latest version. Hope that works for you!

[2020-06-10 05:38] hmoffatt commented on #82
Thanks that works great!

[2020-06-10 05:45] #82 closed

[2020-06-11 00:35] blasphemite commented on #83
I actually do have the homer files in it's own folder. The directory is more like `/docker/homer/assets/` etc.

chown and chmod on homer folder, then running:

`docker run -d --name='homer' -p '8066:8080' -v '/docker/homer/assets/':'/www/assets':'rw' -v '/docker/homer/config.yml':'/www/config.yml':'rw' 'b4bz/homer:latest'`

and config.yml is still created as a directory.

[2020-06-12 04:51] #70 closed

[2020-06-12 04:51] #67 closed

[2020-06-12 04:52] #68 closed

[2020-06-12 09:16] BodingClockchian opened #86 "This docker repo is a mess"
Great work keeping this up but its a total mess.
Manually copying the config files from the localmachine? The dockerfile should be configured to do this.

[2020-06-12 22:05] simonporte opened #88 "Missing favicon"
Favicon used to work before, and pinning the site as an app in chrome (android or desktop) showed an icon.
I don't see the favicon anymore.
Did anything change ? The path is still the same ?
I have a favicon.png in assets folder.
Thanks.

[2020-06-13 21:42] Aimsucks commented on #83
Yes, he's saying you need to create `config.yml` inside `/docker/homer/` because volumes are meant to be mapped to folders and not files. It will work, however, if you try to mount an existing file to the container.

[2020-06-13 22:15] JamiePhonic commented on #83
Yes, if mapping a file, the file MUST exist before starting the container, otherwise docker will usually assume It's a folder.
Also make sure the file has the correct permissions so docker can access it.

Your're not the only one to experience this issue, for example, in #50, the OP was having the same issue running on a synology NAS. Creating the config.yml file before starting the container seem

[2020-06-13 23:22] bastienwirtz commented on #86
Hi @BodingClockchian,
I would not qualify this particular issue a "total mess" (unless I miss something else?). But anyway, that's planned, I will fix that after https://github.com/bastienwirtz/homer/pull/87 is merged.

[2020-06-13 23:28] bastienwirtz commented on #76
There you go! https://github.com/bastienwirtz/homer/blob/master/docs/tips-and-tricks.md#yaml-anchors

[2020-06-13 23:28] #76 closed

[2020-06-13 23:28] bastienwirtz commented on #75
There you go! https://github.com/bastienwirtz/homer/blob/master/docs/tips-and-tricks.md#use-homer-as-a-custom-new-tab-page

[2020-06-13 23:28] #75 closed

[2020-06-13 23:29] bastienwirtz commented on #66
That should be all good now, feel free to reopen the issue is anything wrong!

[2020-06-13 23:29] #66 closed

[2020-06-13 23:29] #73 closed

[2020-06-13 23:40] bastienwirtz commented on #83
Hi there!

Yeah, it not ideal, I think in the future I'll move the `config.yml` in the assets folder (maybe also change the name of this folder), all editable / customizable files should be in the same place. I never considered it would run in docker at some point, so file organization could have been better :sweat_smile:

I'll think about it, might be possible to get a clean file organization and

[2020-06-14 00:59] Aimsucks commented on #83
Something else to consider is on initial start to create a default configuration file in the mapped folder.

[2020-06-14 01:22] bastienwirtz commented on #83
@Aimsucks Yeah that's definitely the plan, I'm gonna push that asap.

[2020-06-14 21:34] AlexanderEDavis commented on #88
I'm having the same issue. In one of the recent commits (a23914d573841f9088cc9cd69bce24c28f432acf) requires app icons. I'm trying those to see if it works

[2020-06-14 21:40] AlexanderEDavis commented on #88
Fast fix is:
Move favicon to assets/icons/ then rename favicon to favicon-32x32.png

[2020-06-14 21:54] AlexanderEDavis opened #91 "Mutiple Column Layouts"
One of the recent prs allowed us to change the number of columns and/or set it to auto which allowed a different number of columns throughout the page. Is there a way to allow this feature to be configurable? For example, 4 columns on row 1, 2 columns on row 2 and 3 columns on row 3.

[2020-06-14 23:44] ashwin-pc opened #92 "[Feature Request] Edit Links from Web"
The ability to edit the links from the startpage directly would be amazing!

I know https://github.com/bastienwirtz/homer/issues/68 already partially addresses this and I agree a full editor is definitely not what Homer is meant to be. But setting up `code-server` and messing around with YAML is far too cumbersome for just dynamically adding and deleting links.

Im currently setting up and modifyi

[2020-06-15 11:29] simonporte commented on #88
It does work, thanks @AlexanderEDavis
@bastienwirtz could you please add the necessary donut favicon by default in docker image, or at least put all the default images in the src/assets folder in the repository ?

[2020-06-15 12:31] JamiePhonic commented on #91
Just to clarify, you're looking for an option that would allow different numbers of colums for each section in list mode?

I beleive this option was more intended for the "Table" view rather than the "List" view, even though it apples to both.

[2020-06-15 19:14] AlexanderEDavis commented on #91
In the table view, my Homer installation has 4 sections in the top row and 3 in the middle row.

[2020-06-20 02:58] Synt3x commented on #92
I agree with @ashwin-pc on this. I also thought that the comments in thread (#68) talked about a different thing then my original post.

[2020-06-21 12:10] AlexFullmoon opened #93 "Alignment of FA icons with different widths"
Right now they are left-aligned, and varying widths are noticeable. For example, fa-code and fa-code-branch have around 20 pixels difference.

Can they be made center-aligned?

[2020-06-21 15:36] GlennToms commented on #83
I mount **/www** folder and every thing get copied in on first startup and then your good to go.  This is how I've all ways used Homer.

Using this as the mount point address most of the concerned above and with merge #87 config is now created if missing.
Let me know if you still having issues with the newest version.

[2020-06-21 15:41] GlennToms commented on #59
@ferdinandmudjialim What OS are you running on Raspberry Pi?
Can you run `dpkg --print-architecture`
Did you try the 32 Image? [Dockerfile.arm32v7](https://github.com/bastienwirtz/homer/blob/master/Dockerfile.arm32v7)

Let me know how you get on

[2020-06-21 15:54] ferdinandmudjialim commented on #59
@GlennToms
Running `dpkg --print-architecture` yields `armhf`

From neofetch:
OS: Raspbian GNU/Linux 9.11 (stretch) armv7l
Model: Raspberry Pi 3 Model B Plus Rev 1.3
Kernel: 4.19.66-v7+
CPU: ARMv7 rev 4 (v7l) (4) @ 1.4GHz

I've not tried the 32 image. I will sometime today.

[2020-06-22 09:22] GlennToms commented on #59
AHH.  Now I see..  You're running the 32bit image.  I'm sure you'll get it working with the 32 bit version.

Have fun

[2020-06-22 12:22] ferdinandmudjialim commented on #59
Wow, that was embarrassing. You are totally right. The 32 bit version worked. For some reason I was thinking I was running on a 64-bit architecture. Note to self: armhf / armv7 means 32-bit! Thanks, I'll close this now.

[2020-06-22 12:22] #59 closed

[2020-06-23 11:28] GlennToms commented on #86
@BodingClockchian Hopefully my merge has made Homer with docker easier for you to use.  Could you close this issue if your happy? Many thanks.

[2020-06-24 04:48] #86 closed

[2020-06-24 06:10] bastienwirtz commented on #83
Hi there!

This https://github.com/bastienwirtz/homer/issues/83 should simplify the docker setup. Any feedback welcomed!

[2020-06-25 17:36] gabe565 opened #95 "Offer a separate container that is not a PWA"
Hello!

I'm really enjoying Homer so far, but I'm having trouble with the setup that I usually use. I like to use [Vouch Proxy](https://github.com/vouch/vouch-proxy) to protect internal services from public access, but since this app is a PWA by default, I end up with a white screen until I refresh without cache.

It would be nice if there was a separate Docker image that was not a PWA so that I c

[2020-06-25 17:59] gabe565 commented on #93
Probably not the best long-term solution, but I've been adding `fa-fw` to all of my icon entries and that will make then all match in width.

More long term, `fa-fw` should probably be added to all icons by default.

[2020-06-25 20:24] GlennToms commented on #95
I just use Homer but willing to assist if I can.   It sounds like you have more experience when I do regarding PWAs.
What needs to happen to for a none PWA setup?

[2020-06-25 20:45] gabe565 commented on #95
I'm still sort of thinking through it all. There might be a better way that I'm not thinking of, but this would be a solution that I could see maybe being useful to some people.

So I know Vue lets you [disable plugins on build](https://cli.vuejs.org/guide/cli-service.html#skipping-plugins) so maybe we could take that as an `ARG` in the Dockerfiles, but I think [this if statement](https://github.c

[2020-06-27 01:23] MatthewCroughan opened #98 "Can we inform services.items.url with value returned by api endpoint?"
It is possible to set custom messages with api endpoints, but what about the `url:` field for a service? For example, one could imagine a use case where we poll the docker socket for the hostname of the service as we've set it in docker-compose.yml, that way we can change service names and this will always be a relative pointer to `service.local`, for example.

This is just one use case, but what

[2020-06-28 18:07] #83 closed

[2020-06-28 18:21] bastienwirtz commented on #88
Hi there,

@simonporte Thanks for opening the issue. I just pushed an update to remove the duplicated favicon and set the in `favicon-32x32.png` in the `assets/icons/` as the default.
That should works fine now.

[2020-06-28 18:24] bastienwirtz commented on #91
Hi @AlexanderEDavis

Thanks for your issue!
I like the idea, I think not for each row, but I would be very nice for each group. I'll look at that.

[2020-06-28 18:29] bastienwirtz commented on #92
Hi there!

I want Homer to stay purely static, so I won't include an editor in it. But I like the idea, and we could have a separate "homer-editor" project that would make that possible. I'll think about it!

[2020-06-28 18:55] #93 closed

[2020-06-28 18:59] ashwin-pc commented on #92
@bastienwirtz I agree. This was a big enough issue for me that I literally made a start page myself. You can have a look at how I've solved editing links and still keeping it as a static website. ([Demo](https://test.designedbyashw.in/hiccup/))([Code](https://github.com/ashwin-pc/hiccup))

I essentially store the edits in local storage and expose the config so that moving it around is as simple as

[2020-06-28 19:05] bastienwirtz commented on #92
Well done @ashwin-pc! Nice start page :)

[2020-06-28 19:18] simonporte commented on #88
Hello,
Thanks for the update.
I notice when I remove the assets/logo.png mentioned in config.yml or comment the line, there is no default incon but a text placeholder.
As for the favicon, if I remove assets/icon folder, it is created on container creation.
It is a hamburger ||| icon.
Could you provide the donnut icon ?
It is much more attractive.
Or maybe it is a deliberate choice ?
Thanks anyway

[2020-06-29 00:06] bastienwirtz commented on #88
If you remove the `assets/logo.png` you will have a broken image, but if you comment the line in the `config.yml`, or set it to none (`~`) you not have the test place holder.
[code]
Regarding the favicon and other icons, that the hamburger one was kind of a temporary icon, I hadn't the original donut in the proper size. But I just brought it back! not exactly the same, but close. Hope you like it!

[2020-06-29 01:39] bastienwirtz commented on #95
Hey there!

Thanks for contributing!
I'm curious about the white page issue :thinking: could you provide more information about it?
Otherwise, you might try to empty the `manifest.json` file, or just put an empty json `{}`, I haven't tested it but I think it could disable the PWA feature.

[2020-06-29 01:43] bastienwirtz commented on #98
Hey @MatthewCroughan !

:thinking: Could you use relative URL instead of having to change the base url ?

[2020-06-29 01:50] MatthewCroughan commented on #98
@bastienwirtz How does one do that? If that's already possible to do, maybe we should write some docs on how to do it!

[2020-06-29 01:55] bastienwirtz commented on #98
If you put something like:
[code]

It's going to behave like a classic relative link (the `url` is just copied in the `href` attribute of the `a` html tag)

[2020-06-29 02:03] MatthewCroughan commented on #98
I did not realise this basic fact hah. This solves 99% of my issue, practically.

However, I still think it'd be neat to have the hostname for the services present, since I plan on running Traefik, a reverse proxy and load balancer you may be familiar with to run all of my services. It's possible to look at the docker socket to return the hostnames of services, and more. It'd perhaps be nice if th

[2020-06-29 03:55] gabe565 commented on #95
Hello! I'm having this issue because of the way Vouch Proxy works.

It will immediately respond to any request with a 302 to the Oauth2 login endpoint if a user isn't logged in yet (Google in my case). Normally this would redirect me when I hit https://example.com/ and I would login before my browser attempts to load any assets, but with a PWA, all of the html and other static assets get cached cl

[2020-06-29 06:01] CoordSpace opened #99 "[PWA] start_url in manifest.json points to /assets path"
## Expected Behavior
When adding an instance of homer to the homescreen of a mobile device, the default starting URL should point to the root address. (e.g. domain.tld if homer is set as the root homepage)

## Actual Behavior
For home screen links created in iOS 13 and Android 10 using Safari and Chrome respectively, the URL for the homer service instead defaults to domain.tld/assets

Similarly us

[2020-06-29 06:56] fbartels commented on #99
Explicitly setting the start_url to / would break use cases where Homer is served from a subdirectory, though.

[2020-06-29 07:13] CoordSpace commented on #99
I've swapped "start_url" from . to / as a test on my local instance and I'm not seeing that behavior at all, even though I run my instance on a subdomain (homer.domain.tld). Though my reverse proxy setup might be different than yours.

[Here's a screenshot of what Chrome's devtools are telling me](https://i.imgur.com/D37HQwa.png) and I get the same fixed result on my iPhone if I attempt to add it

[2020-06-29 07:50] fbartels commented on #99
Yes, but I am talking about a sub directory and not a sub domain. My homer is not running at homer.domain.com, but domain.com/homer. Therefore the root of the origin would not be my homer installation.

[2020-06-29 11:34] fbartels commented on #99
The start_url could be set relatively. I have a branch at https://github.com/fbartels/homer/tree/start_url, but due to Github issues I cannot make a pr at the moment

[2020-06-29 17:07] gabe565 commented on #95
I ended up using a [self-destroying service-worker](https://github.com/NekR/self-destroying-sw) and setup a volume bind for that to `/www/service-worker.js` and it seems to be working so far. I'll wait until my session expires and see how well it works. This is a pretty simple solution so hopefully we don't need to build another image!

[2020-06-29 19:12] simonporte commented on #88
I tested again.
In fact it is as you say : I modified a backup file and not the proper file when I tested commenting the logo.png, my bad...
Thanks for the new logo. Homer with a donut is so much more homerish!
Could you make it so that it pulls the logo.png like the favicon if it does not exist ?
As for the new logo, it feels different
Il like purple, but on blue background it is not the best. Ma

[2020-06-29 19:42] CoordSpace commented on #99
That solves it for me.
Thanks for your quick work!

[2020-06-29 20:13] TheTyrius commented on #95
I am also having trouble with the ServiceWorker, because I am using self-signed certificates (and service-workers don't like those). Also what is it required for, because I thought homer was pretty "static"? :)

[2020-06-29 20:19] gabe565 commented on #95
The service worker is useful for caching assets client-side. This makes the whole site load almost instantly, which is nice since it's meant to be loaded every time you open a new tab or window. Also lets the site work offline, but that's not as useful in this case because then none of the links would work...

That definitely is another reason there should be a flag that disables PWA functionality

[2020-06-29 21:32] bastienwirtz commented on #95
I see, thanks for all the feedback.
A separate container (a tag) build without PWA sounds like a good idea, I'll do that in the near future, and keep this issue updated.

[2020-06-30 14:42] AlexanderEDavis opened #102 "Unable to use news as dynamic message by @JamiePhonic"
I have followed the instructions to set up the news as dynamic message trick by @JamiePhonic but it doesn't seem to work.

Config I have used is
`message:
  url: "https://10.0.0.2:1880/dashboard-endpoint"
  style: "is-danger"
  title: "Node Red"
  content: "Couldn't get dynamic data from Node Red!"`

When I go to https://10.0.0.2:1880/dashboard-endpoint I can see it works

[2020-06-30 14:51] JamiePhonic commented on #102
Check the console in your browsers developer tools (in most browsers, tap F12) for any errors.
For example, Firefox throws this error in its console if your Homer page is secured with SSL, but your Node Red instance isnt:
![image](https://user-images.githubusercontent.com/4817698/86140960-6140bb80-bae9-11ea-8d00-e737eb63fdfe.png)

I can see your Node Red instance is secured with SSL, so it's likel

[2020-06-30 14:57] AlexanderEDavis commented on #102
Found the issue, my node-red doesn't have a certificate

[2020-06-30 15:52] AlexanderEDavis commented on #102
I've gone to resolve the HTTP(s) error but now I have another error

![image](https://user-images.githubusercontent.com/9097891/86148003-fa73d000-baf1-11ea-9f5c-fa6c2dd405e3.png)

I can access the dashboard endpoint still

[2020-06-30 16:29] JamiePhonic commented on #102
Assuming you are running your Node Red instance behind a reverse proxy like HAProxy or Nginx, you will need to set the "Access-Control-Allow-Origin" Header.

In HAProxy, add `http-response set-header Access-Control-Allow-Origin * `  to either the backend that handles your node-red instance, or to your front end.

Use `*` to specify any domain, or add your domain as a full URL instead.

Read more h

[2020-06-30 16:35] AlexanderEDavis commented on #102
Thanks, works fine now

[2020-06-30 16:35] #102 closed

[2020-06-30 17:33] JamiePhonic commented on #102
Good to know!
I've added a note about setting the `Access-Control-Allow-Origin` to the flow's notes section on nodered.org

[2020-06-30 17:51] timmillwood opened #103 "chown operation not permitted"
[code]

[2020-06-30 19:56] AlexanderEDavis commented on #99
#100 You need to set the URL to .. instead of .

[2020-06-30 19:57] AlexanderEDavis commented on #103
Run it as admin

[2020-06-30 19:59] timmillwood commented on #103
I'm running in docker.

[2020-07-01 00:22] AlexanderEDavis commented on #103
Is it a nginx docker? Are you able to access the directories while it is stopped? If so male the changes when the container is not running.

[2020-07-01 02:47] prouderthings opened #104 "[Feature Request] Background Image"
Awesome work!

One thing I would love is a way to define a full background image instead of a color.  If there is a way I can hack this in there please let me know!

Everything else is spot on!

[2020-07-01 06:27] fbartels commented on #99
@AlexanderEDavis yes that is roughly the thing that the pr does.

[2020-07-01 07:43] Shuro commented on #104
Fork the default theme, found in `src/assets/themes`, fiddle with it and use your new theme in your config file.

[2020-07-03 09:39] GlennToms commented on #103
I think that the permissions for your mount doesn't match the user and group.  What does
`ls -la` output when you run it on your mounted volume path?

[2020-07-03 12:43] bobbytables2048 opened #106 "Main section width"
The main section is limited to 1320 pixels wide and leaves space wasted on either side. It would be great if this could take up the full width of the screen. Is this an option that can be set?

[2020-07-05 01:01] bastienwirtz commented on #88
Thanks for the feedback @simonporte ! Yeah the old one was small and more importantly, wasn't free to use. The new one is based on one of the great logo of https://thenounproject.com. I will work on it, there is definitely room for improvements!

[2020-07-05 01:07] bastienwirtz commented on #98
I see, I'll think about it @MatthewCroughan. I might use homer on the same type of setup in the future. I'm glad the relative URL solution works for most of your issue. I also plan to add different different service "types" which will be able to load some specific logic, that could be usefull for your issue.

[2020-07-05 01:27] bastienwirtz commented on #99
Good catch @CoordSpace! Thanks for opening the issue. @fbartels PR has been merged, it should be all good now!

[2020-07-05 01:27] bastienwirtz commented on #99
(I'm closing the issue, but feel free to reopen if anything wrong)

[2020-07-05 01:27] #99 closed

[2020-07-05 01:28] bastienwirtz commented on #88
(I'm closing the issue as the favicon issue is solved, but feel free to reopen if anything!)

[2020-07-05 01:28] #88 closed

[2020-07-05 01:31] bastienwirtz commented on #104
Hi there!

Thanks @prouderthings! Like @Shuro said, it's possible by using theme, but I think I will add it as an option in the `config.yml` to make it simplier in the near future. I'll keep you updated!

[2020-07-05 01:34] bastienwirtz commented on #106
Hi @bobbytables2048!

There is no option to do that yet, but it would be nice to have it. I add that to my todo list! Thanks.

[2020-07-05 05:08] Johannp02180 commented on #103
I have the same problem, doing your command shows the same permissions as the other working docker containers. This happened to me suddenly with no changes and then suddenly I get all the same errors.

[2020-07-05 05:11] GlennToms commented on #103
I need to see the output.  I can't help without it

[2020-07-05 05:13] Johannp02180 commented on #103
Yes, sorry. Here you go:

[code]

[2020-07-05 05:25] GlennToms commented on #103
If you do `id pi` what number do you get 0 or 1000 or another number?
Fix will be to change your docker command user and group to match the same numbers.
`docker run -e "UID=1000" -e "GID=1000" [...]`

[2020-07-05 05:27] Johannp02180 commented on #103
I get

 `pi@raspberrypi:~/docker/homer $ id  pi
uid=1000(pi) gid=1000(pi) groups=1000(pi),4(adm),20(dialout),24(cdrom),27(sudo),29(audio),44(video),46(plugdev),60(games),100(users),105(input),109(netdev),999(spi),998(i2c),997(gpio),995(docker)`

[2020-07-05 05:31] GlennToms commented on #103
Add these environment variables to your docker command.
`docker run -e "UID=1000" -e "GID=1000"`
Homer runs as user 911 but the folder on your pi is running as 1000.  The above command will fix it

[2020-07-05 05:34] Johannp02180 commented on #103
I use docker-compose and my config is

[code]

[2020-07-05 05:38] GlennToms commented on #103
No problem, you have an extra letter P
change
`environment:
            - PUID=1000
            - PGID=1000`
To
`environment:
            - UID=1000
            - GID=1000`

[2020-07-05 05:40] Johannp02180 commented on #103
Hmmm, I just tried removing the P (I got the P from linuxserver configs) and I'm still getting the same operation not permitted errors.

Thanks in advance.

[2020-07-05 05:44] GlennToms commented on #103
Hmm I'm not sure at the moment then.  I'd have to fire up my pi and check.  Give me a couple of hours to get that tested.

[2020-07-05 05:45] Johannp02180 commented on #103
No problem, thank you for the help so far.

[2020-07-05 11:23] simonporte commented on #106
Please set it as an option, and maybe not default.
As a user of a 21/9 screen, I can tell that sometimes full width content is overwhelming. And 32/9 screen does exist even if it is not widespread.
The content should not be a lot bigger, stretched or be twice as much columns on ultra wide screens.
Do not hesitate if you need more explanations.
I can test the result if needed.
Thanks.

[2020-07-05 12:45] simonporte commented on #98
Any way to make this work with ports ?
Relative path assume the port is the same as Homer, but most of my links use custom ports.
It does annoy me because I use hostnames in config and Android does not resolve local hostnames contrary to desktop. So links does not work on phone if they dont use IPs instead of hostnames.
I don't use traefik as I don't need to overcomplicate things but some kind of

[2020-07-05 15:22] MatthewCroughan commented on #98
@simonporte I do something like this with yml in my project Octobalena. Either script can act as an entrypoint in your docker container. You can then modify the yaml of the homer config to match your desires, which can be informed from outside variables such as the hostnames of your things, as set by a docker .env file. You could even query an API and store the result, then use that result to modi

[2020-07-06 20:10] Borkuz commented on #103
I got sort off the same problem on my rapsberry pi.
this is the command i run:
`docker run -e "UID=1000" -e "GID=1000" -p 8888:8080 -v /home/pi.config/appdate/homre:/www/assets b4bz/homer:latest`

and get this output:
`chown: /www/assets/*: No such file or directory
/entrypoint.sh: exec: line 15: su-exec: not found`

[2020-07-07 03:10] sebrink commented on #103
Same issues as above.

Trying to use docker-compose to set this up:
[code]

I get this output:
[code]

[2020-07-09 04:09] ikaruswill commented on #103
+1 I'm facing the same issue on
[code]

However, I'm not on a Raspberry Pi, I'm on an arm64 device.

Likewise, I get the same log output and have been running homer just fine until recently.

[code]

[2020-07-09 04:30] ikaruswill opened #107 "[Suggestion] Versioning of Docker images"
**Primer**
Hi, first off, thanks for this fantastic piece of work.

I've been able to build a pretty SSO dashboard for my family to access my self-hosted apps. It's lightweight enough for me to host 1 homer instance for each user access group.

**Problem**
I realize that although the Github repository has versions, the Docker image does not have versioned tags, only `latest`.
It became more appare

[2020-07-09 10:15] GlennToms commented on #103
I checked this out this morning and there is a problem with the last two lines in the entry point script.  I'll do more troubleshooting asap

[2020-07-09 15:39] GlennToms commented on #103
In the docker we switch user then run the entrypoint script, that user doesn't have permission to run chown and su-exec.

Can someone test by removing the USER line (line 38 I think ) in either ARM docker files then rebuild and test?
I'm not at my computer until the weekend to test myself.

[2020-07-09 15:49] sebrink commented on #103
Removed the `USER ${USER}` on line 38 of this file: https://github.com/bastienwirtz/homer/blob/master/Dockerfile.arm32v7 (changed the name to Dockerfile). I'm running on an odroid which is running 32bit Arm.

Docker-compose attempt, still failing in the same way as before:
[code]

Contents of the Dockerfile:
[code]

My compose file, just in case you believe it to be a compose error (which I doubt,

[2020-07-09 17:53] GlennToms commented on #103
Created new pull request #108 that hopefully fixes these issues.

1. Added missing APK su-exec
2. Removed switching user accounts that stops chown from running (security is handled by su-exec)

[2020-07-09 19:17] Johannp02180 commented on #103
Hi,

I’m not sure if I’m on the right version, but I deleted the docket images and make a new homer instance I think it should be pulling the new image. It still seems like the chown issue persists

Thanks for the continued support

[2020-07-09 19:24] GlennToms commented on #103
If you're only pulling the image from dockerhub you'll need to wait for my fix to be pulled in this repo then uploaded to dockerhub.

If you building the image from this repo it should be working... Hopefully...

[2020-07-10 01:04] bobbytables2048 commented on #106
Thanks @bastienwirtz - That would be great. I agree with @simonporte  that this should be an option and not necessarily the default. My current setup is has multiple 16:9 monitors and I can imagine anything wider could end up looking too busy.

[2020-07-11 23:04] JeanCHilger opened #109 "[Question] Is it possible to fetch services.items from an API endpoint??"
I would like to use HOMER to show a list of items that will be returned by an API made with Laravel.

Is possible to update the items from `services.items` in `config.yml` using such API? Or maybe use another file (e.g. `.html`) as the items list?

[2020-07-12 09:29] fbartels commented on #109
Hi @JeanCHilger,

there is already the option `externalConfig` in Homer to load the configuration from another url. Its explained in https://github.com/bastienwirtz/homer/blob/d1b9dea28707772fd45b60feaeebbc9f8dd66746/docs/configuration.md

[2020-07-12 21:19] hoferbeck opened #110 "[Feature Request] change keyboard hotkeys"
Hello!

Because of / is hard to reach on a german keyboard (its shift + 7) it would be nice to see the feature to custom assign the seach hotkeys

BR

[2020-07-13 03:50] bastienwirtz commented on #107
Hi @ikaruswill

Totally agree, I should have done it before, sorry for that! I've just added the release tag [builds](https://hub.docker.com/r/b4bz/homer/tags):

![2020-07-12-204057_668x691_scrot](https://user-images.githubusercontent.com/345559/87269080-f98f5680-c480-11ea-881c-fbe8101ac6ff.png)

I choose the "ubuntu-like" versioning: <year>.<month>.<increment>.
Hope it helps!

[2020-07-13 04:19] bastienwirtz commented on #103
Hi there!

As @GlennToms spotted (thanks!), some there was some errors in the docker files & entrypoint. I've just merged the PR, which should fix the issues.

Let me know !

[2020-07-13 05:22] ikaruswill commented on #107
Hey @bastienwirtz, thanks for this, I just saw the versioned docker images. Will close this issue then.
Appreciate your work!

[2020-07-13 05:22] #107 closed

[2020-07-13 05:26] ikaruswill commented on #103
@bastienwirtz @GlennToms
I've tested on both `armv7` and `arm64`, `homer:20.07.2` works now. Thanks for this!

[2020-07-13 05:32] bastienwirtz commented on #103
Cool! Thanks for the feedback @ikaruswill !

[2020-07-13 16:23] bastienwirtz commented on #95
Hey @gabe565

I've just added redirection handling: https://github.com/bastienwirtz/homer/commit/0ae40f78f837e95ba2ccb04025c6bebcc09d7ab4#diff-ea994a51b0d9884f4fc046eca11a5c99R169

If `config.yml` hits a redirect **and** it's usable (same domain or accepts CORS), the redirection is executed on the global page (the ajax request does not follow the redirect but redirect the whole site).
I haven't te

[2020-07-13 20:14] gabe565 commented on #95
@bastienwirtz That looks great! I'll test it out a little bit later today. Thank you!

[2020-07-14 09:39] Johannp02180 commented on #103
Yes I can also confirm that it works! Watchtower automatically updated it and it is now working! Thanks again for the help

[2020-07-14 15:09] bastienwirtz commented on #103
Perfect! I close the issue, feel free to reopen is anything wrong.

[2020-07-14 15:09] #103 closed

[2020-07-14 15:19] fbartels commented on #95
is there a specific (technical) reasoning behind this?

I am not using Vouch, but currently have a test setup with https://github.com/Luzifer/nginx-sso/. While being in my company vpn (all traffic is routed through it) I noticed that I first got the "you're offline" notification and then when force reloading I get to  the login page of nginx-sso (which is served by a different subdomain).

I do se

[2020-07-14 15:35] bastienwirtz commented on #95
@fbartels The reason is https://fetch.spec.whatwg.org/#atomic-http-redirect-handling. Doing xhr request to other domain could leak information, so when doing that, it's not possible to get the target URL. The target url is only available when allowed by CORS on the server (`Access-Control-Allow-Origin *` or something like that.). I didn't find any other solution so far.

in you case the `?alive` r

[2020-07-15 07:13] fbartels commented on #95
Ah yes, I was not thinking about the fact that all this needs to be triggered through the service worker.

I must say I like the health check and the possibility to show something different when "offline", but with config.yml not being cached anymore some config values are no longer available in this case.

Will have to do some more tests and also extend my nginx-sso configuration to allow the req

[2020-07-15 21:35] bastienwirtz commented on #104
There you go : https://github.com/bastienwirtz/homer/commit/154e6efe8036dca91b1bfe9c4fb22ef227df5858 !

You can use the a new `background-image` option in the `colors` config section. Check out the [doc](https://github.com/bastienwirtz/homer/blob/master/docs/configuration.md) for more information.

You can define **2 background images**, for light and dark theme (of course you can put the same for

[2020-07-15 21:38] bastienwirtz commented on #110
Hi there!

Thanks for opening the issue @hoferbeck.
`/` is pretty standard but I understand, I'll keep that in mind even if It's not in the top priorities right now.

[2020-07-15 21:41] bastienwirtz commented on #109
I'm closing this as it should be all right, but feel free to reopen it if needed.

[2020-07-15 21:41] #109 closed

[2020-07-16 00:51] prouderthings commented on #104
Wow that was really fast!  I never finished trying to do this with a theme. The implementation is fantastic!

Not sure if this is solely related to my setup (unraid), but the image location had to be "../assets/your/light/bg.png". I noticed it was defaulting to the "/css/bg.png" directory so I added the ../ and that fixed it.   Again, this might be my setup as docker on unraid can be funny sometim

[2020-07-16 18:57] bastienwirtz commented on #104
Thanks for the feedback @prouderthings!
I'll look into the location url more in detail and update the documentation as needed. And nice catch for the logo, I will update that too!

I'm closing the issue, but feel free to reopen it if anything!

[2020-07-16 18:57] #104 closed

[2020-07-18 22:47] polhaghverdian commented on #104
Same issue using docker.

[2020-07-21 19:33] gabe565 commented on #95
So I've been testing this out a bit and for some use-cases I think it will work very well and in some there will still be problems.
 I tested with a selfhosted Oauth2 provider (I used Nextcloud) and it worked great. But with something like Google or GitHub login, even if I respond with the correct `Access-Control-Allow-Origin` header in Vouch, there's still a redirect to Google's login page which

[2020-07-22 20:11] gabe565 opened #111 "Fixed width main logo breaks Font Awesome duotone icons"
My recent change to add `fa-fw` to all of the icons breaks the main logo if it's a duotone Font Awesome icon due to only one of the overlapping parts receiving the correct padding.

<img width="91" alt="Screen Shot 2020-07-22 at 3 07 30 PM" src="https://user-images.githubusercontent.com/7717888/88223664-71057880-cc2d-11ea-8d9f-ed483ad829cb.png">

[2020-07-24 06:06] calvinbui opened #114 "Title font cuts off long letters like 'g' and 'y'"
Letters like `g` and `y` are cut off

![image](https://user-images.githubusercontent.com/3604363/88364777-61ba3280-cdc7-11ea-87e6-5ada659b54ec.png)

Changing the line-height seems to fix it

![image](https://user-images.githubusercontent.com/3604363/88364846-9201d100-cdc7-11ea-8310-f1bc8bd97e69.png)

![image](https://user-images.githubusercontent.com/3604363/88364826-83b3b500-cdc7-11ea-8a1c-b0117c

[2020-07-29 00:08] carsso commented on #95
Faced the same issue with the apache mod-auth-openidc (google login handled by apache).
If so, the PWA never refreshes because it does not detect the session has been disconnected, the request is returning a 302 on an external domain (google login) that has not the good CORS headers.

I have disabled the PWA caching feature that (ugly) way :
in precache-manifest.db0fd332c5abac206de452f33be1c39d.js

[2020-08-01 18:13] EsEnZeT opened #116 "[Feature] docker labels?"
I think it would be great if services could be configured via docker labels - example here: https://github.com/WillFantom/sui

[2020-08-03 08:32] kocsenc opened #117 "SVG showing off center"
<img width="408" alt="image" src="https://user-images.githubusercontent.com/2752396/89162546-19b6b080-d529-11ea-8d31-b4e6f319210a.png">

I got the SVG from: https://upload.wikimedia.org/wikipedia/en/1/15/Pi-hole_vector_logo.svg

`config.yml`:

[code]

Edit: I should mention I'm running Safari - `Version 13.1.2 (15609.3.5.1.3)`

[2020-08-03 08:48] kocsenc commented on #117
Fiddling around with CSS, if I add `height: 100%` it seems to show better:

<img width="388" alt="image" src="https://user-images.githubusercontent.com/2752396/89164022-5f747880-d52b-11ea-8831-938d3b8715ce.png">

[2020-08-12 18:12] gabe565 commented on #116
That's a cool looking example! I'll have to check out how SUI is using labels more.

Unfortunately, this project currently builds into static assets during the Docker build so any sort of dynamic configuration like this isn't possible without pretty big underlying changes. A script could be written which takes labels and generates a `config.yml`, but that wouldn't be as pretty of an integration as

[2020-08-14 16:35] 33Fraise33 opened #121 "[Feature] Change default theme and layout from config"
Hi,

It would be nice to be able to change the default layout (collumns or rows) & default color scheme from the config file.

Every new device you open the page on will resort to the default settings while it might be easier to have a default in config.

[2020-08-14 16:47] 33Fraise33 opened #122 "[Feature] Easily allow change of favicon"
Hello,

Having the favicon match the logo in the header would be a nice adition. In the folder icons we have all the icons, but there are a lot of resolutions, so manually changing that is a lot of work.

[2020-08-14 16:51] 33Fraise33 opened #123 "[Feature] Add the option to add a clock in the header"
Hello,

Running this as a homepage or new tab page it would be nice to have a clock to get a general idea what time it is.

What you also see at times is a 'greeter' that changes throughout the time of the day like: 'good evening'

[2020-08-15 01:01] tpansino opened #124 "[Bug] PWA not working in Firefox"
I'm trying to save the app as a PWA on my Pixel 3A XL, running Android 10 August security patch, using Firefox 68.11.0.

The PWA save icon shows up at the top of the browser as expected. Tapping it shows the save confirmation pop-up, however the Homer icon is missing. Tapping Save then does nothing except close the pop-up.

I'm happy to provide screenshots on request, however I suspect this will b

[2020-08-29 06:15] #111 closed

[2020-08-29 06:42] bastienwirtz commented on #124
Hi @tpansino, thanks for opening the issue, I will check that asap!

[2020-08-31 07:23] trolologuy opened #125 "[feature] add link (for e.g to documentation)"
It would be great to have the possibility to add an additional link per card.
Let's say you want to access a service but the documentation of said service is somewhere else.
So by the click on the icon, I would like to be redirected to that page.
This is especially helpful when not all the links / tools are straightforward to use and you share your dashboard with several users.

Here's how it coul

[2020-09-02 16:59] NotWoods opened #126 "Maskable icon and iOS icon are too big and transparent"
The current maskable icon is just a copy of the normal icon. Maskable icons need the important content to be within the inner 80% of the image, and should be opaque rather than transparent.

Currently the icon [looks like this on a home screen](https://maskable.app?demo=https://raw.githubusercontent.com/bastienwirtz/homer/master/public/assets/icons/android-chrome-maskable-512x512.png)

I think bot

[2020-09-04 22:31] bastienwirtz commented on #125
Hey @trolologuy, sounds like a good idea, I add it to my todo list :+1:

[2020-09-08 07:53] ImjuzCY opened #128 "Container not reading from config.yml on restart"
Whenever I edit the config.yml, I have to stop, remove, and recreate the container for homer to reload the config. Simply restarting it will not update it. IMO it should reread config.yml every time on restart, instead of just once on creation of the container.

[2020-09-10 08:32] hot22shot commented on #128
Hi, I've just installed it on docker (on a synology) and I have no issue modifying the config.yml, hitting F5 is enough to see any change.

[2020-09-12 15:26] jtovar43 opened #130 "Using SSL with Homer"
I was just wondering how I would go about adding SSL to the Dashboard. Thanks!

[2020-09-14 07:06] fbartels commented on #130
Are you using the Docker image? If yes then you would/could add a reverse proxy to provide ssl. If you are just using the static assets then Homer is just like any other static website (choose your own webserver and secure it with ssl).

[2020-09-14 14:51] jtovar43 commented on #130
Thanks! I got it working with a reverse proxy. Didn't know you could do that.

[2020-09-14 14:51] #130 closed

[2020-09-17 15:16] profesaurus opened #131 "When using the Firefox Custom New Tab Page extension, "target: '_top'" only works if you have the header enabled."
This issue is related to issue #75.

When using the Firefox extension Custom New Tab Page as recommended in the Tips & Tricks section, the suggestion of using target: '_top' only works if you have the header enabled.  If I disable the header in Homer, every card opens in a new tab regardless of what target: is set to.

[2020-09-27 16:41] #128 closed

[2020-09-30 18:11] PixelDJ commented on #104
Same issue here. Using docker on Unraid.

Regular service images work fine as
`logo: "assets/tools/dell.png"`

But in the colors section I had to use the following to get to my wallpaper:
`background-image: "../assets/images/bg-darkblue.png"`

Can we re-open this until there is a fix (or documentation updated with the workaround)? It was difficult for me to find a solution until I started digging

[2020-10-05 21:57] tborychowski opened #132 "White flash with dark theme"
When I switch on "Dark theme" and reload the page - there is a flash of white, because of this:
<img width="257" alt="Screenshot 2020-10-05 at 22 56 21" src="https://user-images.githubusercontent.com/392513/95136428-ff35c900-075d-11eb-9bab-547051a5ded9.png">

Can the `background-color` of `html` element be set to the same as the theme?

[2020-10-09 08:25] jmlemetayer opened #133 "The `src` in the docker image `manifest.json` is wrong"
In the `manifest.json` file which is in the docker image the `src` have an extra `img/` path which does not exist in the real path which leads to a 404 error. Thus the app have no favicon.

Here is the error I get in chrome:
[code]

The correct url is https://home.example.com/assets/icons/android-chrome-192x192.png (without the `img/`).

Here is the production `manifest.json`:
[code]

Also here is

[2020-10-09 08:28] jmlemetayer commented on #133
Maybe related to #124 and #127.

[2020-10-11 09:26] slole opened #134 "[Bug] configuration not updating page"
I configured homer yesterday with my apps and everything worked fine, but when trying to change something today, the change is not reflected in the dashboard. I tried restarting the docker container and the entire server, but nothing changes.

my docker startup command:
[code]

Am I missing something? Do I have to trigger a reload? Is this a bug?

[2020-10-11 12:36] slole commented on #134
My mistake! Chrome was apparently cache-ing the page and I had to refresh with <shift>+<f5> to get the right config!

[2020-10-11 12:36] #134 closed

[2020-10-15 05:30] bastienwirtz commented on #121
Hi @33Fraise33!
That would be nice, I'll look into it :+1:

[2020-10-15 05:31] #92 closed

[2020-10-15 05:33] bastienwirtz commented on #92
Closing this for now, as said it would be in a separate, yaml editor app and not be done here.

[2020-10-15 05:43] #114 closed

[2020-10-15 05:47] bastienwirtz commented on #114
Hi @calvinbui!
Thanks for the feedback!
I just fixed it in master, will be shipped in next release.

[2020-10-15 05:48] bastienwirtz commented on #117
Hi @kocsenc!
Thanks for the feedback!
I just fixed it in master, will be shipped in next release.

[2020-10-15 05:48] #117 closed

[2020-10-15 22:17] JamiePhonic commented on #123
It would probably be easiest to use the "message" feature with a URL that supply's a JSON payload with the data you want. (though not exactly what you want)

[code]
then `https://yourDomain.tld/dashboard.php` should generate a JSON payload like so:
[code]

Then whatever data is returned in the JSON payload will overwrite the options in the config, unless nothing is returned.
I use this method to p

[2020-10-17 05:05] bastienwirtz commented on #132
Hey @tborychowski
Thanks for reporting this. Seems that `Bulma` set a default color on the `html` element, I just pushed a [commit](https://github.com/bastienwirtz/homer/commit/67fd101a38baf3e7634c494eb286a671685a76b6) to fix that, but I'm not entirely sure it solves your white flash issue. Let me know how it goes for you,

Thanks!

[2020-10-17 16:50] tborychowski commented on #132
Thanks for that. But I run this in a docker, so not exactly sure how to easily test this...

[2020-10-17 22:55] simonporte commented on #132
I checked, the calculated property of background color, it is set as rgb(19,19,19), but there is a white flash.
To my understanding, this is expected behavior : as long as your browser ships with a white `about:blank` page there will be a white flash.
@tborychowski There is automated builds : when there is a commit on github, there is also a new image on docker hub

[2020-10-17 23:50] tborychowski commented on #132
I just checked the latest build and you're right - the white flash is still there.

This part, however, is incorrect.
I have plenty of apps & websites that are dark (or can be set to dark, or use OS via `prefer-` media query) that do not flash.

Maybe the problem is the way Homer loads css & js?
e.g. if I disable js on Homer's page - there's the white page with `<noscript>` message.

I experimente

[2020-10-19 05:47] taigrr opened #137 "Sample icon in example docs doesn't work"
`fa fa-code-fork` , as used in the configuration doc, doesn't show up when used. I've determined this is due to upgrading to font-awesome 5.

The new filename is `fa-code-branch`: [code-branch](https://fontawesome.com/icons/code-branch)

PR incoming to fix.

[2020-10-20 00:27] brandoncorry commented on #122
While not super easy, or built in - you can easily grab whatever logo you have changed to, and run it through this site: https://realfavicongenerator.net/ to generate all the assets and place them in \assets\icons

[2020-10-23 16:29] #137 closed

[2020-10-23 17:26] taigrr commented on #125
I'll see if I can take a look at this this weekend and put in a PR

[2020-10-23 21:46] #124 closed

[2020-10-23 21:50] bastienwirtz commented on #133
Hi @jmlemetayer,
Thanks for reporting this! That should be fixed thanks to @NotWoods's [great work](https://github.com/bastienwirtz/homer/pull/127), it will included in a tagged release soon.

I'm closing the issue, but feel free to reopen it if anything.

[2020-10-23 21:50] #133 closed

[2020-10-23 21:52] bastienwirtz commented on #126
Hey @NotWoods does this one is resolved with https://github.com/bastienwirtz/homer/pull/127 ?

[2020-10-23 21:53] bastienwirtz commented on #124
Hi @tpansino,
Sorry for delay. That should be fixed thanks to @NotWoods's [great work](https://github.com/bastienwirtz/homer/pull/127), it will included in a tagged release soon.

[2020-10-23 21:58] NotWoods commented on #126
Yup!

[2020-10-23 21:58] #126 closed

[2020-10-23 22:36] bwirtz commented on #116
Hi there!
Sorry for the lack of reactivity.
That would be nice, but as mentioned by @gabe565, Homer is just a simple static site and aim to stay this way. I really wanted to build something very low maintenance & really easy setup and requirements.

[2020-10-23 22:38] bastienwirtz commented on #116
Hi there!
Sorry for the lack of reactivity.
That would be nice, but as mentioned by @gabe565, Homer is just a simple static site and aim to stay this way. I really wanted to build something very low maintenance & really easy setup and requirements.
Thanks anyway for the suggestion @EsEnZeT, appreciated!

[2020-10-23 22:38] #116 closed

[2020-10-23 22:53] bastienwirtz commented on #122
Hey @33Fraise33,
Thanks for reporting this. The icon set as just been simplified: https://github.com/bastienwirtz/homer/tree/main/public/assets/icons
Also, as mentioned by @brandoncorry, there are a lot of great icon generator out there, another one is mentioned in the documentation: https://github.com/bastienwirtz/homer/blob/main/docs/configuration.md#pwa-icons

I'm closing the issue, feel free t

[2020-10-23 22:53] #122 closed

[2020-10-25 17:15] simonporte opened #141 "highlight-secondary transparency wrong on center links bar"
Hello,

When applying transparency to highlight-secondary color palette (rgba value), the transparency is more opaque on the links bar than on the sides or top bar with same color and transparency value applied.

Sample of config.yml for color palette :
[code]

Result :

![msedge_X8n0WyGxhA](https://user-images.githubusercontent.com/32496803/97113919-a5d21180-16ed-11eb-93c9-9c2546e677e2.png)

Coul

[2020-10-26 04:18] taigrr opened #142 "License not properly applied"
The repo has a LISCENSE file, but the instructions at the bottom on how to apply the license to the project have not been followed.

This is probably not a huge deal, and if some legal issue came up the law would likely still come down on your side, but it's nice to cover your bases properly :smile:

[2020-10-26 04:19] taigrr opened #143 "Various spelling mistakes"
There are many spelling mistakes in this repo.

Not to fear, I've run the repo against `aspell` and fixed everything it complained about!

PR coming in soon.

[2020-10-26 04:30] taigrr commented on #143
Related PR also fixes regression introduced by [this commit](https://github.com/bastienwirtz/homer/pull/138/commits/488e4bbe7f511b3c27a665336dad4b7285c77473), where I missed an update to README.md.

[2020-10-26 04:50] taigrr commented on #121
You can already set the theme in the config file, but I'm working on a PR to enable columns vs. rows right now.

[2020-10-26 05:14] bastienwirtz commented on #98
Hi there.
It's now possible to implement custom service card that can help with that. See the updated configuration example with Pi-Hole. If you add the "type: PiHole" to the configuration, the PiHole component, with some custom logic (displays pihole status in the dashboard) will be loaded.
So you could add a component that fetch the information you need.
Hope it can help!

[2020-10-26 08:50] taigrr opened #145 "[Vue warn]: Duplicate keys detected"
Project doesn't use unique indexes for v-for renderers. For example, on line 24 of Navbar.vue.

Incoming PR.

[2020-10-26 11:16] taigrr opened #148 "Feature Request: Click tag to filter"
I think it would be nice if you could click on the tag for a service and have the filter automatically filter to all the tagged services.

Is this a feature others would find useful?

[2020-10-26 11:32] taigrr commented on #125
@trolologuy enjoy :)

[2020-10-26 16:27] taigrr opened #150 "Feature Request: Color tiles by service without external CSS"
I would really like to be able to color individual service tiles different colors with a one-line configuration line for each service (i.e., without requiring external CSS sheets).
Note, this would be different than setting the default color, as I'd like to have it be specific to the service.

I'd imagine this feature takes only several lines of changes and the reservation of one new configuration

[2020-10-26 21:02] #145 closed

[2020-10-26 21:04] #143 closed

[2020-10-27 16:38] brandoncorry opened #152 "Feature Request: Enable different 'pages' via multiple configs?"
Was wondering if it would be possible to augment the getConfig function to take in a parameter from the URL to possibly load a different config (and default to config.yml)? This would enable you to have navigation links within the system to other pages.

[2020-10-29 05:06] taigrr commented on #148
@fbartels check it out!

[2020-10-29 05:07] taigrr commented on #150
![image](https://user-images.githubusercontent.com/8261498/97528001-ed64d180-1969-11eb-8bcb-ea765bb49acc.png)

[2020-10-31 17:01] Caesar2011 commented on #132
You could integrate css media querys to check which color scheme the user prefers on his system and set the pre-js setting accordingly.

[2020-11-01 22:56] bastienwirtz commented on #132
@Caesar2011 that's pretty much what it already does, media queries are used to determine user preference, but colors are not hardcoded, it's defined in the yaml configuration file, parsed with js.
I think I can hardcode dark colors to apply before the js is ready (the flash will still be there, but less noticeable), and see if I can do the color parsing more early in the javascript.
I'll look into

[2020-11-05 08:53] Djf2884 opened #157 "Feature request : Secure Home dashboard access"
Just a request to see some authentication feature in order to secure link on the dashboard.

Thx you :)

[2020-11-06 15:22] taigrr commented on #157
Put it behind NGINX, and use a reverse-proxy.

See also, #130

[2020-11-10 09:25] trolologuy commented on #125
@taigrr That looks awesome! Thanks a lot for the hard work !! Can't wait for that PR to be merged 😄

[2020-11-11 05:52] #150 closed

[2020-11-12 18:29] simonporte opened #158 "Docker image update"
Hello,

It seems docker images are no longer build on docker hub, the latest image is 20 days old.

Can you update it ?

Thanks.

[2020-11-15 09:16] goliath888 opened #161 "Feature request: Collapsible elements"
Would be possible to implement collapsible elements? In the example, "Applications" would be collapsible when click on it, letting you have more applications in the screen, grouped by category, and in a more clean way.

I have been playing a bit with something like [this](https://vuejsexamples.com/a-simple-and-easily-configurable-accordion-for-vue/)
But I have no experience in vuejs, and I am afra

[2020-11-16 21:01] jensihnow commented on #158
Same here, would appreciate a new docker image with latest. Thx!

[2020-11-17 16:28] joeczucha opened #162 "Request Entity Too Large"
I've been randomly getting a strange error in Firefox

It seems to just arise out-of-the-blue, without any recent changes having been made and when it's been working just fine moments before! Clearing the browser cache seems to fix it, but it's annoying :)

Has anyone else experienced this? Thanks!

[2020-11-20 19:13] simonporte commented on #141
Found a solution.

In `app.scss`, replace

[code]
by
[code]

So when background set by `--highlight-primary` or `--highlight-secondary` is a transparent `rgba` value, there is not two layers of transparency that overlapse and get mixed to a more opage summed transparency but just one.
Coloring navbar-menu is superfluous here.

Can you check it ?
I can open a pull request if needed.

[2020-11-22 10:18] jo-me opened #163 "Search yields TypeError: Cannot read property 'key' of undefined"
I played around with the search a bit, but it seems broken

A lot of times, it will hang after the first 2 letters and not recover from that (cancel does not work, changing search term does not do anything).
The console gives

[code]

As far as I can tell only the name fields are searched, but in the error case items show up that don't contain the letters.
e.g i type "po" to search for portainer,

[2020-11-22 12:21] jo-me commented on #163
After debugging a bit it seems to happen when several search results have the same name.
I have two portainer instances and therefore two items here with name "portainer". I put in different subtitles for each instance.
If I rename one to "portainer 2" the search works.

What I don't understand is why searching for "p" works in my case even though every item is found then (due to tag "app").
Only

[2020-11-22 12:54] jo-me opened #165 "Feature request: Use navbar links as search presets"
Is it currently possible to create links to homer that preset the search?

It would be cool to use the navbar links like shortcuts to searches, e.g.  "office", "media server", "infrastructure".
Or searches for items with a specific tag.

If the app would read query params you could create navbar items with regular links,  e.g.   homer.domain.com/?search=xyz or homer.domain.com/?tag=apps

[2020-11-24 15:09] bramceulemans commented on #158
It seems the PiHole service feature is not yet in the Docker image.

[2020-11-24 19:04] shamoon commented on #158
Ha yes I can't believe how long it took me to realize this is why its not working 😂

[2020-11-24 22:56] ArbiterGR commented on #157
To add to this, Use authelia with nginx and you can even have 2fa!

[2020-11-28 19:39] goliath888 opened #167 "Text not aligned if no subtitle"
If no subtitle is set, title is not vertically aligned with the card nor the icon. Would be possible to fix that?

[2020-11-29 03:31] bastienwirtz commented on #158
Hi there!
My bad! there you go: https://github.com/bastienwirtz/homer/releases/tag/v20.11.28

:v:

[2020-11-29 08:53] bramceulemans commented on #158
Thanks :)

[2020-11-29 13:53] jensihnow commented on #158
Apparently latest tag did not move yet.
In case you would were looking for the Pi.Hole services extension you need to make sure to pull the tag and not latest.

[2020-11-30 21:32] ungol-fr commented on #162
Hello,
I have the same problem, and I use Keycloak Gatekeeper as an authentication proxy. I tried to make requests lighter, removing infos from token and I succeeded to go from a totally unreachable server (with 413 Request Entity Too Large error) to a most-of-the-time reachable one. When it does not work, restart Firefox or open a new tab seems to work. Without Gatekeeper however, my Homer is per

[2020-12-01 05:11] dwlyles opened #168 "Feature Request: Personal Items"
This has been great so far. I was looking to see if there is a way to add a small calendar and a open text location for small todo's or notes.

If this is already possible. Could someone point me into the direction that i should look at.

[2020-12-02 02:39] #163 closed

[2020-12-02 17:16] bastienwirtz commented on #168
Hi @dwlyles!
There is no feature like that right now, but if you have JS coding skills, It's possible to add custom service cards with custom logic and UI. Take a look [here](https://github.com/bastienwirtz/homer/tree/main/src/components/services), The PiHole service is a basic example of how to define a custom card.
Regarding the UI, all [bulma elements](https://bulma.io/documentation/) are loade

[2020-12-05 16:32] dwlyles commented on #168
Thank you for that info. I'll definitely look into what i can.
I'm not too skillful, so im sure i wont be adding too many dependencies.

[2020-12-05 16:32] #168 closed

[2020-12-08 06:26] bastienwirtz commented on #167
Hi @goliath888,
I see what you mean, thanks for reporting that, I'll look into it.

[2020-12-08 06:40] bastienwirtz commented on #165
Hi @jo-me!

That's a good idea, I will look into it :+1:

[2020-12-08 06:45] bastienwirtz commented on #157
Hi @Djf2884 !

There is no plan to add authentication into Homer. As pointed out by @taigrr & @ArbiterGR, there are a lot of solutions (like https://github.com/vouch/vouch-proxy) out there that will do the job. Homer is a pure static webapp, there is no database or any server logic.

[2020-12-08 06:46] #157 closed

[2020-12-08 07:00] bastienwirtz commented on #158
Hi there,
Good catch, It should be all good now! I forgot to update the docker build trigger branch name after rename this repo base branch from master to main.
Thanks!

[2020-12-08 18:21] simonporte commented on #158
It should be good now :

![image](https://user-images.githubusercontent.com/32496803/101524643-7c620200-398a-11eb-9e19-7050c1d0a467.png)

Closing the issue.
Thanks.

[2020-12-08 18:21] #158 closed

[2020-12-08 18:59] Gory19 opened #170 "Where is the dotted line?"
Hi, first of all, congratulations on your work, it's fantastic.
Today I updated the image but the "dotted line" disappeared.
https://imgur.com/w8MPddg
Can it be put back?

[2020-12-08 23:48] bastienwirtz commented on #170
Hi @Gory19!

Thanks for the feedback! I'm glad you like it.
Yeah I went a bit more minimalist and removed the dotter line, but you can get it back using the custom css option:

- Add the following to your `config.yml` (if you don't already have a custom css)
[code]

- then creates the `assets/custom.css` file, with the following content:

[code]

That should do the trick! By the way you can custom

[2020-12-09 00:38] Gory19 commented on #170
Ohh thank you so much :D

[2020-12-09 00:38] #170 closed

[2020-12-09 23:02] bastienwirtz commented on #161
Hey @goliath888,

That's would be nice yes, with maybe memorizing the group state in local storage like the dark theme preference, so when you come back the elements stays like you left them. I'm adding that to my todo list :+1:

[2020-12-11 19:42] bastienwirtz commented on #165
@jo-me I just [pushed](https://github.com/bastienwirtz/homer/commit/31bd77c81d6b8343a9ea5b81656d5b7ac962d58b) the search by URL feature, let me know if that works for you!
You can use the `?search=my-app` url parameter, and the URL should be updated as soon as you modify or cancel the search.

Cheers.

[2020-12-16 18:58] MarkNjunge commented on #162
In my case, I had a large cookie [set by Deluge](https://dev.deluge-torrent.org/ticket/2894). Deleting it resolved the issue. However, it's likely to occur again.

[2020-12-18 16:28] #165 closed

[2020-12-18 16:46] jo-me commented on #165
Hi @bastienwirtz
thanks for realizing that idea!
I just tried it out and it works as expected.

Here is my config example:

![image](https://user-images.githubusercontent.com/10351272/102638983-a66cae80-4158-11eb-8425-7cb316900afa.png)

[code]

The link bar is kind of messed up on mobile or with smaller screens in general. Do you have an issue about that already?

[2020-12-18 16:48] jo-me commented on #148
Check this out: https://github.com/bastienwirtz/homer/issues/165

Not 100% what you are suggesting, but with link items based on your tags, it is close ;)

[2020-12-18 16:52] jo-me opened #171 "Enter in empty search opens first item"
When pressing the return button in an empty search field, the first item is opened.
I know it is a feature of the search that the first result is opened on pressing the return button, but with an empty box it feels kind of strange.

Is this on purpose?

[2020-12-18 16:59] jo-me opened #172 "(Internet) Search bar in message"
Maybe it is of interest to someone: I played aroung with integrating a search bar and while I couldn't integrate Google it worked quite well for DuckDuckGo.
The main reason is so that on Android I don't need to switch apps after starting homer when I want to search for something. That way i can always return to the dashboard from a search in the homer PWA .

![image](https://user-images.githubuser

[2020-12-18 23:28] CuBiC3D opened #173 "Tag on a card is not indented correctly since version 20.11.28"
The tags on the card are indented to the right to see the color if the mouse does not hover over a card and get extended on hover.

This behaviour is is not there anymore since version 20.11.28 up to the latest (tested on Chrome and Firefox). The tag "preview" is not visible since the `.card` class now uses `overflow: hidden`.

It this an intended change or a bug? I think it is very useful to have

[2020-12-19 01:01] bastienwirtz commented on #173
Hi @CuBiC3D,
That's definitely a bug, thanks for reporting this! I'll look into it.

[2020-12-19 01:10] bastienwirtz commented on #171
Good catch @jo-me, that's not on purpose. I'll look into it.
Thanks for reporting this :+1:

[2020-12-19 23:59] #173 closed

[2020-12-19 23:59] #171 closed

[2020-12-20 00:09] bastienwirtz commented on #173
Fixed & released @CuBiC3D, cheers :v:

[2020-12-20 00:09] bastienwirtz commented on #171
Fixed & released @jo-me, cheers :v:

[2020-12-23 18:56] #142 closed

[2020-12-23 18:56] bastienwirtz commented on #142
Good catch @taigrr, thanks!

[2021-01-05 11:41] luixal opened #176 "Todo List(s)"
Hi!

I'm thinking about developing a custom component for having a _to-do_ list in Homer. Thing is, it may be a little more complicated than the PiHole custom component due to data providing.

I generally use more than one app for managing todo/tasks lists (work/home). Joplin, Google Keep (which doesn't have an API right now), Microsoft Tasks, Wunderlist...

I've been thinking around this idea and

[2021-01-05 11:51] luixal commented on #152
Hi, I can help with this one. Do you wan to load a remote yaml file? or load data from a json? Maybe the second would make more sense.

[2021-01-06 18:41] brandoncorry commented on #152
I was thinking something along the lines of just having multiple config.yml. So I could use the nav bar to have links to localhost/?p=page2, localhost/?p=page3 or whatever, and all it does is take that parameter and load that config.yml - that way I can have a home page, and then different pages for totally different things (i.e. have a page for the spouse, one for the kids, etc. that I could set

[2021-01-06 19:15] luixal commented on #152
That could be a good approach. Maybe having a correlation between the parameter value and the config file lodaded. This is, when going to `localhost?page=applications` it loads the `applications.yml` file.

I'll have a look at the code to see if it can be done without making big impact changes :)

[2021-01-07 08:56] luixal commented on #152
Just added a PR that adds this feature. Examples are in the `assets/config.yml` and `assets/page2.yml` files, more info in the PR itself, as I don't found any structured docs where I can put this.

[2021-01-08 17:21] luixal commented on #172
As there is already one search bar in the navbar, maybe it would be better to think about a way to use it for also search for content with different engines (right now it only searches between Homer items).

In case someone wants to do something like this, I enjoyed playing a little bit a custom css file so it looks like this (i removed the icon on purpose):

![image](https://user-images.githubuse

[2021-01-08 18:24] Baitinq opened #179 "Server IP"
Is there any way to change the ip on which homer is served in the docker image? It would be really cool if in the config.yml you could specify to serve the page on 0.0.0.0 or localhost.

Thank you.

[2021-01-08 18:29] Baitinq commented on #179
P.S. This would be so that you couldnt access the site directly, but go through a nginx proxy. Maybe theres a way to do this within docker, excuse my lack of knowledge.

[2021-01-08 18:34] Baitinq commented on #179
Sorry for the dumb question and my lacking docker knowledge.

For anyone else wondering how to do this: -p 127.0.0.1:8080:8080.

Just add the 127... in front of the dot

[2021-01-08 18:34] #179 closed

[2021-01-10 09:40] Baitinq opened #180 "Weather service"
It would be really cool if there was a weather service in homer. I might get around implementing it one of these days but if anyone else has one already and is willing to share it would be extremely cool!

[2021-01-12 10:23] dickwolff commented on #180
I second this suggestion, and I went on and created something. See the image below. Is this something you were looking for?

![image](https://user-images.githubusercontent.com/5620002/104301668-32f45d80-54c8-11eb-8f70-56af9bd02c30.png)

I used the OpenWeatherMap API and added a few configuration options (like api key, location, units). The image is retrieved from OWM based on the image code ([per

[2021-01-13 19:01] bastienwirtz commented on #172
Hi there :wave:

As there is similar demand around the header customization, I thinking I will soon introduce a widget system allowing to customise elements in the header and navbar.
I'll keep you updated here.

@luixal Nice custom CSS !

[2021-01-13 19:10] bastienwirtz commented on #176
Hi @luixal !

Nice idea. I think it would be better to have complex component with multiple source file in a folder, maybe be something like: Make the dynamic service component loader look for `MyService.vue`, and if the import fail, seemlessly try `MyService/MyService.vue`. Maybe not best for performance as it might do an extra request for the first try? Might need some tests to see what's best.

[2021-01-13 19:13] bastienwirtz commented on #180
Hello!

Nice idea!
@dickwolff would you be open to share your implementation by submitting a PR to add the custom service to the collection?

[2021-01-13 19:16] dickwolff commented on #180
Yeah sure! I'll open a PR and link this issue.

[2021-01-13 19:32] dickwolff commented on #180
I've created an initial PR. Need to finish up some checks and I have one question about the URL which I would like your opinion on @bastienwirtz

[2021-01-14 08:46] luixal commented on #176
I was thinking in an intermediate approach. Let me explain:

In the [`Service.vue`](https://github.com/bastienwirtz/homer/blob/main/src/components/Service.vue) file, in de [`computed`](https://github.com/bastienwirtz/homer/blob/3786f80dae2df7780d19ba8ffd9374ef3c2fc30f/src/components/Service.vue#L17) function you do load dynamic components having a look at type. So if it's not `Generic`, you load a

[2021-01-14 08:49] luixal commented on #172
Thinking about this, maybe is a good idea to just be able to put components in the header and navbar. If you put current components it would look awful, but once you code them thinking about header and navbar you can split the main parts and make it usable in header, navbar and services :)

[2021-01-15 14:53] hot22shot opened #182 "Feature Request : Material Design icon"
Hi,

Great app ! I wonder if it would be possible to also use the icons from Material Design (https://materialdesignicons.com/) ?

Thx

[2021-01-16 20:42] oldviking commented on #182
That would be really cool, because not every icon is free on the solution now.

[2021-01-17 16:47] LeLunZ opened #183 "Feature request: automatic darkmode switch"
Thx for your homer!
Tried it today for the first time. And I really love the design and functionality.

I use MacOs with auto switch between day and night.
Github etc. can automatically switch between the dark-lightmode.

Is this possible to implement as an option (config.yaml) or a function in the app?

[2021-01-17 19:43] jallbrit opened #184 "Change FontAwesome icon colors (support `link` theme customization)"
Forgive me if this is already supported somehow, but I don't see it in the documentation.

When I use FontAwesome icons in homer, their color is always the light blue default color. It appears that the icons are inheriting this color from `a` elements:

[code]

In the configuration, there is a way to configure `link-hover` when I hover over these icons, but not just `link`. Would it be possible to

[2021-01-24 10:57] Baitinq commented on #180
@dickwolff this is exactly what i was looking for. Thanks for your work

[2021-01-27 04:44] t0xic0der opened #185 "Reworking Docker script for Installation"
The current Docker script lacks restart options.
[code]

It is recommended to change it to the following.

[code]

or

[code]

to make it persist throughout server reboots.

[2021-01-30 08:23] Razva opened #187 "[Feature Request] Multiple users"
I would be awesome if you could add the option of having multiple users, each of them having their own Dashboard.

[2021-01-30 20:53] zkmusa commented on #183
I would also be very interested in this!

[2021-01-31 21:09] virtadpt commented on #183
Funnily enough, I'd be interested in this, too.  I keep switching from light mode to dark mode depending on whether it's day or night.

[2021-02-01 20:57] Darathor17 opened #188 "Wrong Favicon of linked services on safari"
Hello,

first of all: congrats for this awesome app!

I'm running Homer via docker on an ubuntu machine.

When accessing via Safari, the favicon on any services I clicked remains homer's, see attached image:

<img width="763" alt="Screenshot 2021-02-01 at 21 40 30" src="https://user-images.githubusercontent.com/24258247/106517404-b954fb80-64d8-11eb-9694-0df9b2129d16.png">

For information it works

[2021-02-09 22:58] alexislefebvre opened #189 "How to build HTML files?"
Hello, I just discovered this project and I'm wondering if it's possible to use Homer to build HTML files?

Something like this:

[code]

It would compile the files then stop, and assets would be available in the `output/` directory, then my web server could serve them, without having to run the Homer server.

[2021-02-11 15:44] pdevq commented on #189
Homer is not for building arbitrary HTML files. However if you're asking how to get the static files to use them for your webserver (or rebuild from source):

The `b4bz/homer` image already contains the prebuild website. It does not include any build tools. You could extract it:
[code]
But you're probably better off downloading one of the [releases](https://github.com/bastienwirtz/homer/releases)

[2021-02-11 15:52] pdevq commented on #187
If #177 gets merged it could be used to achieve something in that manner. Using the main page (`http://localhost/`) as portal for all users and than each user page located at `http://localhost/#user1` etc. The exact details obviously still pending.

[2021-02-13 17:16] alexislefebvre commented on #189
Thanks a lot! I didn't needed to build from source, using the Docker image worked and is more convenient.

I added this step in #190

[2021-02-16 05:58] bastienwirtz commented on #182
Hi there,
Thanks for contributing! Having Material icons would be great, I will look into it. We should have an option to use different icon set (and avoid loading unused icon library). I'll keep you posted here!

Best

[2021-02-16 06:07] bastienwirtz commented on #183
Hi there,

Thanks for the feedback! It's actually supposed to be automatic, unless you use the button to override it. But that make me realize that If you used the button once, there is no way to get back in auto mode! I will think about that.
Could that be your case? Preferences are stored in local the browser local storage, can you try to clear the local storage to confirm the auto mode works? Y

[2021-02-16 06:10] bastienwirtz commented on #188
Hi @Darathor17,
Thanks for the feedback! I never tried Homer on Safari, I will look into it.

[2021-02-16 06:25] bastienwirtz commented on #185
Hi @t0xic0der,
Thanks for the suggestion! There you go: https://github.com/bastienwirtz/homer/commit/9ba0d54e2213b2a4313a92390d5ce06dbf7b6a63

[2021-02-16 06:37] bastienwirtz commented on #189
Hi there,

As mentioned by @pdevq, static builds are provided exactly for that purpose.  This link : https://github.com/bastienwirtz/homer/releases/latest/download/homer.zip will always point to the latest version.

That being said, if you want to build it yourself, I would suggest to build from the source, it's literally 2 commands (`yarn install && yarn build`), and if you don't want to have yar

[2021-02-16 07:36] t0xic0der commented on #185
Awesome. :smile:

[2021-02-16 08:13] Darathor17 commented on #188
Hello Bastien, Just tried again .. and it seems to be working. Since I open the issue I updated to the latest macOS Big Sur (11.2.1). So Maybe it's on MacOS side that it was not working correctly. I guess we can close it for now. have a great day

[2021-02-16 09:54] DaFlowah opened #191 "Some fab icons not showing"
**Expected Behavior**
All the fab icons should show up correctly under the navbar

**Current Behavior**
Only the GitHub one is showing (tested with GitHub, Google and Reddit)
![image](https://user-images.githubusercontent.com/33235583/108046355-6d5b9800-703c-11eb-8c0e-f25507679f7d.png)

**Possible Solution**
🤔

**Steps to Reproduce**
![image](https://user-images.githubusercontent.com/33235583/1080

[2021-02-16 16:05] #189 closed

[2021-02-16 16:14] #185 closed

[2021-02-16 16:17] bastienwirtz commented on #188
No worries @Darathor17! I'm closing it but feel free to reopen it if anything!
Best,

[2021-02-16 16:17] #188 closed

[2021-02-16 16:26] alexislefebvre commented on #189
Thanks, I prefer to use the Docker image because it requires less steps and it works without having to install anything else.

[2021-02-17 04:55] pdevq commented on #183
Interesting problem. Here is an idea:

Change the button from a toggle to having three states: `auto`, `dark`, `light`. With `auto` being the default if nothing has been set in local storage. Clicks on the button iterate over the modes and save them into local storage.

| Button

[2021-02-17 15:18] Fabeuss opened #192 "Feature request: secure access with login ?"
Is it possible to add the possibility to secure the page with a login?

[2021-02-17 16:31] bastienwirtz commented on #192
HI @Fabeuss,

There is no login system (and never will, as Homer it's 100% static html) but there are several options to achieve that. The most common would be to use your webserver or reverse proxy to handle authentication. One popular option is https://github.com/vouch/vouch-proxy, but there are many other (mod_auth_openidc for apache, oauth2-proxy, ...)

Hope it helps!

[2021-02-17 16:36] Fabeuss commented on #192
Ok thank you for your answer. Actually I use synology's reverse proxy but I haven't found anything to add security or login for my containers...I'll try to understand how vouch-proxy works. Thanks ;)

[2021-02-18 05:44] #167 closed

[2021-02-18 20:49] #192 closed

[2021-02-22 16:06] JuniorJPDJ opened #193 "[FR] Support docker --user switch"
Hi!
I'd like to run whole container as another user and I saw you are using user switch in entrypoint.
This is how redis added support for this: https://github.com/docker-library/redis/blob/master/6.0/docker-entrypoint.sh

[2021-02-25 13:20] dkgof commented on #182
It does kinda work already, if you add the webfont css from material design as a custom stylesheet in the config:

`stylesheet:
  - "https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css"
`

And then you can use it for icons:

`icon 'mdi mdi-home`

[2021-02-26 21:03] hot22shot commented on #182
It does indeed work !

[2021-02-28 13:10] quotengrote opened #194 "Bug: PiHole stats arent showing"
Hi,

im trying to get the PiHole stats in Homer but they arent showing.

## docker-compose / repo
* URL: http://git.mgrote.net/mg/docker-homer
[code]

## Error in Browser
![Download](https://user-images.githubusercontent.com/38253905/109419614-a85fb300-79ce-11eb-94b1-89d09f342252.png)

TIA and let me know if you need more logs.

[2021-02-28 21:01] simonporte commented on #194
I did not have the time to look more at it but same for me.
In my case it works only when the page is run locally (127.0.0.1).
If I run it on docker on a distant machine it does not show anymore.
Same with AdGuard integration I did from PiHole one.
No idea why.

[2021-03-02 16:34] bastienwirtz commented on #194
Hi :wave:

Your PiHole & homer instance are hosted on 2 different domains, and you got a [CORS errors](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors).

PiHole & AdGuard information are loaded using an ajax request and fall into the CORS problem. By default Ajax request are only authorized on the same origin domain (including port). [this security policy](https://developer.mozilla.o

[2021-03-04 11:57] Hanoko opened #195 "Use logo in groups"
I would want to use an image for my groups, I have changed the icon parameter and configured the logo with a correct path to an image. Am I doing something wrong, or this isnt' possible?

Thanks in advance.

[2021-03-05 03:13] netstx commented on #195
Take a look at this configuration example snippet from the [documentation](https://github.com/bastienwirtz/homer/blob/main/docs/configuration.md):

[code]

Doesn't look like it's possible at the moment.

[2021-03-05 09:08] Hanoko commented on #195
That's what I thought :(

Could it be possible to implement this feature?

[2021-03-05 10:57] auanasgheps commented on #191
Looks like this issue is automagically solved with the latest update.

[2021-03-05 19:38] DaFlowah commented on #191
I'm stupid: it was my adblocker. And I'm still on the previous version.

[2021-03-05 19:38] #191 closed

[2021-03-06 14:21] GaaH commented on #183
Since nobody seem to disagree with @pdevq’s proposal,  I made a pull request to fix this.

[2021-03-07 06:09] #152 closed

[2021-03-08 16:26] #98 closed

[2021-03-08 23:18] ehcelino opened #198 "Foreign chars do not work with message: (messagebox)"
I am trying to use the message: to write a message box to the user of the page, but I've noticed that foreign characters do not work.
Example:

    message:
      style: "is-warning"
      title: "Atenção"
      icon: "fa fa-exclamation-triangle"
      content: "Este servidor está em construção. Serviços limitados no momento."
Will result in �� chars where the foreign characters are. Strangely, if

[2021-03-09 05:34] bastienwirtz commented on #198
Hi @ehcelino!

I just checked on me local env using your first example, it seems ok on my side:

![Screenshot_2021-03-08 Demo dashboard Homer](https://user-images.githubusercontent.com/345559/110423502-fec79400-8055-11eb-9fb1-f16852e0e067.png)

Can you check the encoding of the config file? Mine is `UTF-8`:

[code]

Other than that, maybe the server or proxy that expose your page doesn't serve the

[2021-03-09 06:25] #195 closed

[2021-03-09 14:33] ehcelino commented on #198
For some reason, my output is this:

    $ file config.yml
    config.yml: HTML document, ASCII text, with very long lines

[2021-03-09 14:44] ehcelino commented on #198
I deleted the config.yml I was using and replaced it with the example from the repo, now it's working fine.

    config.yml: HTML document, UTF-8 Unicode text, with very long lines

Thank you @bastienwirtz !!!

[2021-03-09 14:44] #198 closed

[2021-03-10 05:33] #183 closed

[2021-03-10 05:59] bastienwirtz commented on #187
Hi there!

There is no user management, but the solution proposed by @pdevq can work, #177  has been merged, and it's now possible to defined multiple dashboard pages.  Could that work for you @Razva ?

Homer is (and will stay) a static webpage, with no database or any server logic. So I don't think anything else could be done for this use case.

[2021-03-11 09:45] eltiel commented on #194
I have the same issue but I'm not using any domains. My PiHole is running on a separate VM from Homer. Homer references PiHole via local LAN IP e.g. Homer is on 192.168.0.1, PiHole is on 192.168.0.2.

How would the HTTP header fix above be applied?

[2021-03-12 04:59] willsmi1256 opened #199 "Feature Request: Grid Size Increase"
It would be really cool if we could modify the dimensions of the grids. I'd love to do 4-6 columns  (I'm on a 3440x1440 monitor) instead of 3, even if that scaled the tiles down slightly, instead of being locked in to 3 columns in either view.

[2021-03-12 12:31] Fabeuss commented on #199
I think you can :
[https://github.com/bastienwirtz/homer/blob/b6c667a129867db8c0f8aa29d12013b47e0c6516/docs/configuration.md](url)
Simply add that line in your config file :
columns: "3" # "auto" or number (must be a factor of 12: 1, 2, 3, 4, 6, 12)

[2021-03-13 00:31] willsmi1256 commented on #199
Hey Fabeuss,

I saw that option when but when enabled, it shrinks down width of the tiles to keep a large pixel buffer on the left and right of the "table". Even on my monitor, they don't stretch out much and you can't read the full subtitle on the tile in either orientation. The below picture is on column: "4". Column: "6" makes them even narrower.

![image](https://user-images.githubusercontent.

[2021-03-13 13:11] Fabeuss commented on #199
Hi, Ok, sorry I know what you mean, you're right, it's true that it would be a point to improve for UW screens owners.

[2021-03-16 10:40] Bobba-star opened #200 "[fr] specify default layout, list or column, in config file"
I have many applications on my homepage, and I find using the table list view to be better.
Would be great to be able to specify the default layout for the page using the config.yml file.

[2021-03-22 15:14] Bobba-star opened #201 "Footer overlaps bottom row of links"
footer bar overlaps bottom row of links, when the dashboard has a lot of apps (and the scroll bar is enabled).
This also affects the mobile view too.

see screeshot.
![Capture](https://user-images.githubusercontent.com/66843165/112012366-0e98ab00-8b21-11eb-886f-5c7a5b306032.PNG)

[2021-03-25 09:09] Razva commented on #187
Is there any way to at least add a simple password, even without a username and even if it's plain text or with basic encryption?

[2021-03-25 12:20] mguaylam commented on #187
@Razva the login was addressed in another issue. There will be none. It's meant to be reversed proxied by NGINX or Træfik. Then, you can put a login front end like Authelia (I love it)

[2021-03-25 12:36] Razva commented on #187
Ok so basically we can't add a simple password "login" option and we have to do it via the HTTP daemon. Still, would it be "impossible" to do it, or does it break any of Homer's principles?

[2021-03-25 14:41] MrKhalidJ opened #202 "[Feature] Get item's logo automatically from favicon"
Is it possible to add an option to get the service items logos automatically from the links' favicon?
It would simplify the process of adding new items instead of looking up logo images to add manually.
Thanks for all the work you do.

[2021-03-26 03:50] mguaylam commented on #187
@Razva I mean, i don’t even think that Homer supports TLS so any login would be insecure.

[2021-03-26 15:45] Razva commented on #187
I totally agree, but at least it'll be more than nothing?

[2021-03-26 15:54] DerpgonCz commented on #202
Favicons are usually 16x16 px. That would look _absolutely horrible_.
However, showing only big favicons (192x192 and bigger) would be pretty benefical.

https://mobiforge.com/design-development/adding-favicons-in-a-multi-browser-multi-platform-world

[2021-03-26 17:05] MrKhalidJ commented on #202
A lot of favicons are now at least 192x192 because of mobile devices, mainly iPhone and ipads. So I think that would not be that big of an issue. But adding a rule for only getting favicons from 192px and larger is a great idea.

[2021-03-26 17:57] S474N opened #203 "Samba URL format on local network"
Is possible to define samba URL on local network?

Tested `smb://`, `samba://`, `file://`, or only `//`, but nothing :(

[2021-03-26 18:14] pdevq commented on #187
Homer is just a static website not a webserver (nginx, apache) and won't even function without the latter as modern browser don't play well with `js` and `file://` (CORS). TLS is done by the webserver you are connecting to. Homer is (are) just the static website files that you receive (via TLS if the webserver does it).

For prober auth you need a backend (e.g. the webserver) to handle the auth pr

[2021-03-27 06:34] jeremymeyers opened #204 "Feature Request: Use FA code instead of logo image"
It would be great to be able to use a fontawesome icon instead of a custom image, if needed.

[2021-03-27 06:52] #204 closed

[2021-03-29 08:56] #187 closed

[2021-03-29 08:57] Razva commented on #187
For reasons described above this seems to be the best solution for this use case, plus login via nginx/apache.

[2021-03-29 13:46] DerpgonCz commented on #203
Browsers do not typically support `samba` protocol. What exactly are you trying to achieve?

[2021-03-29 15:42] S474N commented on #203
To open shared network folder.

Abych se dostal do sdilene sitove slozky :)

[2021-03-29 20:31] fbartels commented on #203
Relevant link: https://stackoverflow.com/questions/37804/link-to-samba-shares-in-html

[2021-03-30 07:23] S474N commented on #203
@fbartels if I use: `\\IP\folder\` there is error:
`YAMLException: unknown escape sequence (125:29) `

[2021-03-30 07:31] fbartels commented on #203
@S474N it probably needs to be quoted.

But the whole point of the link I posted was to say that your endeavor will not work out, since browsers out of the box do not support these file handlers.

[2021-03-30 08:00] S474N commented on #203
Double quoted? Standard in YML is:
`url: "\\IP\folder\"`

[2021-03-30 08:12] fbartels commented on #203
Single quotes. But again: I don't think this will work.

[2021-03-30 08:32] S474N commented on #203
Tested:
`url: "'\\IP\folder\'"`

`YAMLException: unknown escape sequence (125:30) `

[2021-03-31 02:14] willsmi1256 commented on #199
Just realized this is covered under #106

[2021-03-31 02:14] #199 closed

[2021-03-31 07:58] S474N commented on #203
In which program?

Neither Firefox, nor Opera and nor Chrome

[2021-03-31 09:24] fbartels commented on #203
Chome 89

[2021-04-01 10:07] S474N commented on #203
Same version on Windows 7, but doesn't work.

[2021-04-07 09:14] nodecentral opened #205 "darkhttpd: bind(port 8080): Address in use"
Hi

I’m trying to install Homer as a Container on my QNAP (via Virtualisation Station, which is its own front end to Docker). I’m assuming I get the ‘ darkhttpd: bind(port 8080): Address in use’ error because QNAP itself uses 8080 as it’s default but, I’ve updated the Docker compose to a new host and container port,  but I still get the same message ?

[code]

Any ideas ?

[2021-04-07 22:25] Darathor17 commented on #205
Hello, your command is wrong. Try `3380:8080` to edit container ports.

[2021-04-07 23:43] hashes4merkle opened #206 "Raspberry pi install fails on dependency error"
Raspbian 10 Operating System

I attempted to install Homer from source today.  Error log pasted  below. I was able to bypass dependency conflict using --legacy-peer-deps.  Is there a recommended fix here?

Steps taken:

1. Clone repo
2. npm install
3. 👎

Successful Install required installing deprecated libraries.

Steps taken:

1. Clone repo
2. npm install --legacy-peer-deps
3. npm run build
4. 👍

[2021-04-08 10:12] nodecentral commented on #205
Hi, I still get the same error with that too, is there a way to change the container port so it’s not 8080 ?

[2021-04-08 10:26] Darathor17 commented on #205
Well changing the port will be breaking for everyone so probably not the best course of action ;)

When mapping 3380:8080 it means that the container port 8080 will be map to the host port 3380. So it should not conflict with any existing application using port 8080.

Assuming your config is:
[code]
You should not have any issue. I suggest you verify that previous container was deleted and rerun t

[2021-04-08 10:26] nodecentral commented on #205
sorry I should have been clearer I’m using host mode
[code]

[2021-04-08 10:29] Darathor17 commented on #205
OK I see!

Could you try without just to confirm it's working? Also may I ask why you want to run in host mode? (for a static app like homer there is no value IMO)

[2021-04-08 14:32] nodecentral commented on #205
Hi, i can confirm it does work without host mode.

As to why I use host, I mainly do it to reduce the number of IP addresses I have to issue on my network.

[2021-04-08 15:12] Darathor17 commented on #205
OK good to know. If you want to use host-mode I see indeed only two options:

- Like you mention, ask @bastienwirtz to change the port to something different than 8080 in its project (not likely to happen)
- You could change port in the dockerfile and build the image yourself, that's probably the easiest

[2021-04-08 16:15] nodecentral commented on #205
Thanks for that, I’ve never done the second one before - built my own image, where the best place to learn that ?

[2021-04-08 17:25] Darathor17 commented on #205
A very simple approach should be along those lines
[code]

Going further I could suggest is to research (a) docker-compose (it will ease running containers) and (b) how to create a dockerfile (in this case, it already [exists](https://github.com/bastienwirtz/homer/blob/main/Dockerfile)). A good starting point could be [here](https://medium.com/@zhao.li/how-to-understand-building-images-with-docker

[2021-04-09 16:18] fbartels commented on #200
Similar to https://github.com/bastienwirtz/homer/pull/147

[2021-04-10 14:53] RixzZ commented on #205
It might be a good addition adding a non-required ENV variable to override the port.

Seeing the code seems like you already use a ENV variable on build time to do it, so checking the existence of other variable on the entrypoint.sh should be enough.

[2021-04-10 16:44] fbartels commented on #205
That is actually already the case. The port in the entrypoint comes from an environment variable, which only needs to be overridden at container start.

https://github.com/bastienwirtz/homer/blob/64f189c9dcfddb67261bec305b7fe4c85b9963b7/entrypoint.sh#L15

[2021-04-11 08:20] Darathor17 commented on #205
Thx for this! I should have read the `entrypoint.sh`!

Just for the sake of completion the correct answer is then:
[code]

[2021-04-11 08:27] nodecentral commented on #205
Hi - just to confirm - with the above I can add ‘net=host’ ?

[2021-04-11 08:37] Darathor17 commented on #205
Tested on my installation, I'd say yes :) You can remove the `-p 3380:3380` directive since docker ignore it in host mode.

[code]

[2021-04-11 15:45] nodecentral commented on #194
Just adding my name to the list, as I don’t see any pi-hole stats either..

FYI - I have homer running via Docker, and Pi-hole running on a VM, both are on the same network/subnet.

[2021-04-11 16:41] tupcakes opened #207 "json to get external IP in message section failing"
I'm trying to get the external IP address to show in the messages section using json. however for some reason it's not getting it. I wasn't sure if this was a bug or by design (or that I just don't know what I'm doing)?

I'm using the service to get the "ip" property.
http://ifconfig.co/json

which returns:
[code]

![7PfbUFFasH](https://user-images.githubusercontent.com/6422631/114312665-08ab3f80-

[2021-04-12 02:42] aaronmweiss commented on #162
I deleted my cookies and the Homer worked as expected.

[2021-04-13 15:40] ostgardh opened #208 "include in yaml"
Is it possible to have include in yaml?
Eg.

message: !include message.yaml

Then is Nice to have same message on all pages..

[2021-04-15 04:28] crwallace2 commented on #194
I was able to resolve this by adding my host for Homer to the list of authorized hosts on the pihole in the below file

/var/www/html/admin/scripts/pi-hole/php/auth.php

in that file is an array called $AUTHORIZED_HOSTNAMES and is prefilled with pi.hole and localhost. I added my custom domain there.

[2021-04-18 12:29] RixzZ opened #209 "Avoid adding example configs (and other files) after every start"
I have Homer with a docker volume mounted on '/www/assets' (which seems to be the recommended way to add custom configs).

After I added my config and a folder structure for the images I use, I deleted the rest of the example information that was on that directory. That would be:

- *dist* files
- *sample* files
- *tools* folder

Currently, after every container recreation from the image, that exa

[2021-04-18 14:52] tdehaeze opened #210 "can't access property "refreshInterval", this.item is null"
Hi,
Each time I open my homer page, my browser (qutebrowser) has a segmentation fault.
When I look at the console, here is what I get:
[code]

And my config.yml is very typical I suppose:

[code]
Cheers

[2021-04-19 06:25] fbartels commented on #210
Hi @tdehaeze,

`refreshInterval` is an element of `message`, but according to your sample config file you don't have a message defined.

[2021-04-19 06:52] tdehaeze commented on #210
Hi @fbartels ,
Indeed, I don't have a message defined.

[2021-04-19 19:54] ostgardh commented on #207
Try with https instead for http.........

[2021-04-19 23:16] sspencer10 commented on #201
@Bobba-star My workaround was to edit the app.67ab7717.css file. In that file search for:  **body #main-section{**
and remove  **margin-bottom:2rem;**  and   **padding:0**
Replace with  **padding-top:0;**  and  **padding-bottom:5**

<img width="1407" alt="Screen Shot 2021-04-19 at 6 12 45 PM" src="https://user-images.githubusercontent.com/5463769/115314460-dcd42d80-a13a-11eb-9e28-7576eb746bf3.png"

[2021-04-20 17:26] ostgardh commented on #207
I try with http and is not working.
But same site with https is ok..
🤨🤨

[2021-04-21 00:50] tupcakes commented on #207
it's working for you? ok I must be doing something wrong. what does your message declaration look like?

[2021-04-21 06:51] ostgardh commented on #207
Hmm.
This is strange.

**NOK**
  url: https://ifconfig.co/json
  mapping:
    content: 'ip'
  title: "TEST"
  content: "Message could not be loaded"

**NOK**
  url: http://ifconfig.co/json
  mapping:
    content: 'ip'
  title: "TEST"
  content: "Message could not be loaded"

**NOK**
  url: http://mysite.se/TEST_JSON/api.php?name=test
  mapping:
    content: 'value'
  title: "TEST"
  content: "Mess

[2021-04-21 07:39] nodecentral commented on #207
Hi, slight variation on this, but is it possible to have the IP shown as part of one of the tiles, rather than as a message (in a similar way you can show pi-hole data, could you show IP information for the related tile device/application ?)

[2021-04-21 08:14] nodecentral commented on #194
Thanks @crwallace2

ok, I’m in there, and found the file and section you were referring to and added my iP.

[code]

[2021-04-21 08:29] eltiel commented on #194
It works! Thanks!

[2021-04-21 09:01] nodecentral commented on #194
I found out that by entering ‘su root’, it allowed me the permissions to change the auth.php file.

So I now have a green dot on the pi-hole tile, but no stats being reported ?

Please could someone share their yaml entry for pi-hole ?

[2021-04-21 09:27] nodecentral opened #211 "Question : homer/src/components/services/ - scope for home automation ?"
Having very recently enabled the pi-hole service on my Homer dashboard and now seeing the blocking stats come up, it made me wonder where will facility go ?

So far there looks to only be 3 service in the homer/src/components/services/ directory- (AdGuard, Pi-Hole & Generic) but I can see others are being worked on such as ‘open weather’ etc.

Has anyone created anything that supports aspects of h

[2021-04-21 10:24] nodecentral opened #212 "Automatic (scheduled) refresh of Homer Dashboard - refeshInterval"
I saw it mentioned in this issue ( https://github.com/bastienwirtz/homer/issues/210 ) that there’s a `refeshInterval` related to messages ..

However I can’t seem to see that option myself in my yaml, I always have to refresh the browser manually ? Where should that go ?

Also, if I don’t want to use messages, can I use the `refeshInterval`on its own so I can refresh elements like my pi-hole stats

[2021-04-21 14:58] tupcakes commented on #207
I haven't looked into that much yet, but from what I can tell that'd require writing a custom service handler. It might be possible, but I was hoping to do it with a simple json message.

[2021-04-21 15:01] tupcakes commented on #207
I wonder if it has something to do with the "user_agent" having sub elements. I can't see how that would cause a problem, especially if a mapping is declared, but it's the only thing I can think of.

[2021-04-22 01:40] crwallace2 commented on #194
I think I found a way that will survive an update to pihole.  In the auth.php script on the pihole side it checks for an environment variable called VIRTUAL_HOST and adds it to the $AUTHORIZED_HOSTNAMES array.  I discovered (through lots of trial and error) that in the pihole webserver (lighttpd is the default pihole webserver) there is a external.conf file that you can modify to add your own cust

[2021-04-22 02:34] eltiel commented on #194
@crwallace2
Can confirm that the method above works, but the same as in your case am unable to test whether it will survive an update as I currently have no pending updates.

[2021-04-22 05:11] #206 closed

[2021-04-22 05:11] #210 closed

[2021-04-22 05:14] bastienwirtz commented on #212
Hi @nodecentral,

`refeshInterval` is only related to the message system. Usage is described in the [sample config](https://github.com/bastienwirtz/homer/blob/main/docs/configuration.md#configuration) :
[code]

`refeshInterval` is not compatible with services like pi-hole for the moment.

Let me know is you have other questions.

[2021-04-22 05:18] bastienwirtz commented on #210
Hi there!

@tdehaeze, thanks for reporting this! good catch, there was an issue in the message component related to `refreshInterval` ... It should be fixed now on `main` branch and `:latest` docker tag, I will create a release tag soon.
Sorry for that!

Thanks for contributing!

[2021-04-22 05:19] bastienwirtz commented on #206
Hi @hashes4merkle!

Thanks for reporting this. dependencies got messed up, but it should be fixed now!
Let me know if that work for you!

[2021-04-22 05:27] bastienwirtz commented on #211
Hi @nodecentral!

There is not much services for now, but it's definitely an open field!
An important thing is to keep Homer light & fast, so service should be simple.

I plan to take time to review & merge the service being worked on soon and add more documentation about creating new services to make it easier for people to contribute, and hopefully more services will be created.

[2021-04-22 06:06] hashes4merkle commented on #206
Awesome. I'll pull it down now and test.

Just a heads up, this will get some attention from the bitcoin community.  I've add your Homer as an optional feature to the raspiblitz project.

[Raspiblitz PR #2162](https://github.com/rootzoll/raspiblitz/issues/2162)

[2021-04-22 17:47] bastienwirtz commented on #206
Thanks for the heads up! I don't know about raspiblitz, I'll check it out!

[2021-04-23 20:02] crwallace2 commented on #209
If you only want to store the config file externally so you can edit it, you could just mount the config.yml file to the container location for the config.yml, instead of mounting the whole folder. something like the below

`docker run -d \
  --name=homer \
  --restart unless-stopped \
  -p 8080:8080 \
  -e UID=1000 \
  -e GID=1000 \
  -v /vault/homer/config.yml/:/www/assets/config.yml \
  b4bz/ho

[2021-04-23 20:26] crwallace2 commented on #207
When I try that with the source url of "https://ifconfig.co/json" it fails due to a CORS error (I don't really understand this stuff, but I ran into a similar issue with pihole stats).  I tried it using a different source url that provides the public ip and it works with no other changes.

url: https://api64.ipify.org/?format=json
mapping:
    content: 'ip'
refreshInterval: 600000
title: "Public I

[2021-04-23 22:22] tupcakes commented on #207
That's interesting. I guess I'll just use the other one for now.

I'm only vaguely familiar with cors policy. I'll see what I can find out about that.

Thanks.

[2021-04-23 23:09] nodecentral commented on #212
Many thanks @bastienwirtz

Auto refresh for pi-hole would be a nice touch..

[2021-04-23 23:09] #212 closed

[2021-04-23 23:12] nodecentral commented on #211
Thanks for considering it @bastienwirtz

Having a catalogue of services and ‘tile’ style templates would be a couple of amazing features..

[2021-04-27 16:02] whittick88 opened #215 "Issues adding link to app running on alternate port"
my url is configured as such: `url: '192.168.0.100:7878'` However when clicking the associated icon it takes me to `192.168.0.100:8080/192.168.0.100:7878` I'm sure this is me doing something wrong, but can't figure out what. Any pointers would be appreciated.

[2021-04-28 07:22] Simon-the-Sorcerer commented on #215
Have you tried to include the protocol?

pls try `url:  'http://192.168.0.100:7878'`

[2021-04-28 08:22] whittick88 commented on #215
This did the trick, and honestly I should have thought of this myself! Thanks @Simon-the-Sorcerer

[2021-04-28 08:22] #215 closed

[2021-04-28 10:32] mightywomble opened #216 "http not listening"
Having run
`docker run -d -p 8080:8080 -v /opt/docker/homer:/www/assets --restart=always b4bz/homer:latest`

the container starts

`CONTAINER ID   IMAGE               COMMAND                  CREATED         STATUS         PORTS                                       NAMES
e4c28c22e8a0   b4bz/homer:latest   "/bin/sh /entrypoint…"   7 seconds ago   Up 5 seconds   0.0.0.0:8080->8080/tcp, :::8080->808

[2021-05-02 08:54] Lennart97 commented on #95
Hey are there any updates on this?
I just recently discovered this project and love it!
I host it on a VPS with pomerium as my reverse proxy and google oauth.
After my session expires I'm getting the offline message instead of a redirect to googles login.
On desktop that's not a big deal because I can hard reload with Control + Shift + R and will get the login I  expected.
But that's not possible

[2021-05-02 11:49] quotengrote commented on #194
Works for me, and survived a pihole update. thx

[2021-05-02 12:05] tupcakes commented on #207
So I ended up running an instance of ifconfig.co locally (they have a docker image). I had the same issue. It define you seems to be something with that service. See as there are plenty of options that work for showing the external ip, I'm going to close this.

[2021-05-02 12:05] #207 closed

[2021-05-03 17:29] Slinky-Wrangle-Punch commented on #95
I think the redirecting based on CORS headers isn't really the best solution.

I would prefer an env variable or a docker flag to disable the serviceworker entirely. The dashboard is so small that I do not care about the additional loading time. However, that it's not loading with an expired auth token is a real deal breaker.

[2021-05-04 02:31] jeff-h commented on #162
Same here — in my case I'm running Netdata on a subdomain of the same base domain as Homer, meaning they have the potential to share cookies:

    homer.mydomain.com
    netdata.mydomain.com

Netdata it is setting a huge cookie (~3KB), which causes Homer to throw a 413 error. Deleting the Netdata cookie instantly fixes Homer. Unfortunately it's not this simple though; I tried adding a huge cookie

[2021-05-06 09:25] auanasgheps opened #217 "PWA Icon - how to change it?"
Hi,
I am happily using Homer.
However, when I add the app to my Android homescreen it shows the stock Homer icon. How do I customize it?

[2021-05-08 05:59] MetallicAchu opened #218 "Help with installation, can't configure ports successfully (ERR_CONNECTION_REFUSED)"
Hi,

I've been trying to docker install homer using this configuration:
`docker run -d \
  -p 6620:80 \
  -v /my/path/here:/www/assets \
  --restart=always \
  b4bz/homer:latest`

nginx is listing to port 80 on my server:

`# sudo lsof -i -P -n | grep LISTEN | grep nginx`

(I replaced my IP with xxxxxxxxxxxx)
nginx      50005            root   13u  IPv4  141509      0t0  TCP xxxxxxxxxxxx:80 (LISTE

[2021-05-13 04:44] bastienwirtz commented on #218
Hi @MetallicAchu !

The server inside the container listen on 8080, and you can't change it to 6620 without rebuilding the image. If you set it back to `-p 8080:80` it should work!

Everything needed in the mounted folder is automatically installed. You just have to edit the `config.yml` to get started !

[2021-05-14 18:27] crwallace2 commented on #218
I think you reversed it here, the container port is on the right, and the host port is on the left.  they could do the below to forward the host port 6620 to container port 8080

-p 6020:8080

[2021-05-14 23:34] nodecentral commented on #205
Hi

I finally found time to work on this again and I added the new port environment variable but it didn’t work - I now get the following error.. :(

[code]

Any ideas ?

[2021-05-15 08:53] nodecentral commented on #205
Fixed, tried a different port and it works, I can only assume that port was reserved by something, as it was not showing up as in use..

[2021-05-16 04:22] haltdev commented on #172
Would love the ability to autofocus the search bar and be able to not only search homer items, but search the web with a search engine of our choosing, as the OP added with his search bar.

In the meantime, I added something similar to OP.  I use whoogle, and was able to do something similar with the following in the message section:
`content: '<form action="https://whooglesearch.net/search" metho

[2021-05-17 02:43] yojoshb opened #220 "bug: background-image: "" setting in config.yml using different path"
EDIT: Oops  just saw that this was brought up before in a closed issue regarding the background-image setting. My bad for not reading thoroughly, feel free to delete this or leave it up for visibility.

Hi, I just started using Homer and loving it so far! I'm not sure if it's intended or not but the `background-image:` theme setting may be looking into the wrong path; or I just misunderstood where

[2021-05-17 10:12] luixal commented on #172
Maybe a good choice would be to captura key presses for search without giving focus to the search bar (i think it would open tje virtual keyboard on mobiles devices just when the page is loaded).

Or use some key shorcuts so you can press, for example `ctrl + /` to use a search engine or just type something to search in homer items.

[2021-05-18 14:08] peterge1998 opened #221 "Insert a mailto: link"
Hello, I am trying to insert a mailto: link into the message.
My yaml look like this:
[code]
The result looks like this:
![image](https://user-images.githubusercontent.com/47355238/118666043-21fb8600-b7f3-11eb-8160-b71494cde50d.png)
If i leave the mailto away and only write:
`<a>Send email</a>`
Its giving me a underlined link nowhere.

[2021-05-19 10:08] peterge1998 commented on #221
[code]
Leaving both " works!

[2021-05-19 10:08] #221 closed

[2021-05-19 15:17] trinsic commented on #211
There is definite potential. Grabbing wanted/missing, series count stats for *arr, and download/upload stats from download clients was my goal.

I currently have Sonarr/Radarr/Bazarr showing missing content as well as Pi-Hole showing me actual blocked ads and dns queries since I run a DNS server from there. Whenever it reaches 0 for something it defaults back to the subtitle of the tile.

![Screen

[2021-05-19 15:24] rtzra commented on #125
@taigrr Can you resolve conflict in RP? 🙏

[2021-05-19 15:28] taigrr commented on #125
I'll take a look today

[2021-05-20 10:50] auanasgheps commented on #217
#122

[2021-05-20 10:50] #217 closed

[2021-05-20 10:55] auanasgheps commented on #122
Hello, I've got trouble in changing the PWA icon/.
I have used https://realfavicongenerator.net/, which successfullu changes the standard icon/favicon of the website.

However, when I want to add the website as shortcut, therefore a PWA, it shows the stock Homer icon. This happens on all platforms I tested: iOS, Android, Windows.

Apparently these tools don't make the following icons present in Ho

[2021-05-21 17:08] BOZG commented on #162
I had the same issue with Keycloak Gatekeeper. In the process of playing around with OAuth2 Proxy to see if that solve the issue (same error initially), I tested using Redis as a cookie store and so far I've had no issues. I have tried using it with Gatekeeper but might be worth a try.

[2021-05-21 19:30] taigrr commented on #125
Looked into it. Got hit by a mountain of merge conflicts. I've never been a node guy, and I don't even have npm/yarn installed. I've been building and testing in docker at every small change.

If someone else wants to take this PR over, be my guest. I'm worried that by re-submitting my PRs after the merge I'll break a bunch of other features that weren't here before.

[2021-05-22 20:50] funkyfisch commented on #95
I think it is related to my case as well:
I just setup authelia (SSO authenticator) with swag (an nginx + certbot convenience image).
If not logged in, my domain redirects me to authelia for authentication and after a successful login, I am redirected to the /assets/config.yml file. Which triggers a download of the actual config file. Not sure how to tackle the problem here yet.

[2021-05-23 21:05] epicylon opened #222 "Getting flashed when I open Homer"
Hey, quite similarly to issue #132 there's a brief, painfully white flash before the dashboard loads.

I'm on v21.03.2, and use Vivaldi 3.8.

Everything's in dark mode, Homer is the only page that flashes me.

[2021-05-25 18:29] jimmybrancaccio commented on #201
You can also do this in a `custom.css` which might be better:

[code]

[2021-05-28 00:51] crwallace2 commented on #220
I did a little experimentation and it looks like you can still use the assets folder if you use a relative path in the config.

`background-image: "../assets/tools/background.png"`

This might be something that should be updated in the instructions for the config.

[2021-06-03 16:32] bodycount28 opened #226 "Not redirecting to Authelia after timeout"
I just started using Homer and liking so far, thanks for the great work.  I have it sitting behind a Traefik proxy, being protected by Authelia 2FA and set to timeout after 10 min of browser inactivity.  Upon expiration and refreshing the page, instead of automatically redirecting back to the Authelia authentication page Homer throws an offline message:

![image](https://user-images.githubusercont

[2021-06-03 17:48] rucknapucknavitz commented on #226
I came here for the same issue, to see it was posted just an hour ago.
I'm using Authelia behing Traefik2, and all my authentication labels for Homer are configured exactly the same as other containers - which do properly re-route after a timeout. After a timeout, I need to access one of those containers first or straight to authelia.mydomain.com to become authenticated, otherwise I get the same e

[2021-06-04 06:27] nodecentral opened #227 "Question : Run terminal commands / scripts (Command Line Tasks)"
Hi

is there a way to create a button/tile on the Homer Dashboard that could run a predefined terminal command or script ?

[2021-06-04 18:50] JenswBE commented on #216
I just hit the same issue with the official docker-compose file. Seems a tty should be assigned when running.
E.g. `-t` or `--tty` when running with `docker` or `tty: true` when running with Docker Compose.

I'll create a PR to update the official examples.

[2021-06-04 19:02] JenswBE commented on #216
While implementing the fixes, I actually noticed the tty assignment only impacts printing of the line `listening on: http://0.0.0.0:8080/`. Not being able to reach Homer was due to a missing network assignment to my reverse proxy.

For your specific issue I might recommend trying to reproduce with another container like Nginx or Apache. This way you can at least check if it's Homer or your general

[2021-06-07 08:44] adyanth commented on #194
Changing the AUTHORIZED_HOSTNAMES does work, but I believe when pihole is updated, those changes do not stay. I guess this should be an issue with Pi Hole rather than homer, since CORS is handled by the browser and there is nothing homer can do.

[2021-06-07 08:52] adyanth opened #229 "Handle how service workers/front end operates"
I have a public instance of homer running behind cloudflare access, which redirects the user to a sign in page before the user can access the resource behind a domain.

Now the issue is that, since the service worker handles the home page, the redirect happens for the `/config,yml` URL which causes the redirection, and once signed in, I end up getting a download for the `config.yml` rather than be

[2021-06-07 08:54] adyanth commented on #226
Check #229 similar issue for a different use case.
For your this, I guess if the connectivity check status code is 3xx or 401/403, a page reload with `location.href = location.href` should be done to correctly redirect after timeout.

[2021-06-07 10:56] adyanth commented on #194
https://github.com/pi-hole/docker-pi-hole/pull/867 and https://github.com/pi-hole/AdminLTE/pull/1822 should provide a way to add homer domain to CORS_HOSTS environment variable as so:

[code]

[2021-06-07 10:59] quotengrote commented on #194
Solved it this way, stays after Updates.

https://git.mgrote.net/mg/ansible/src/branch/master/playbooks/service/pihole.yml

[2021-06-07 11:00] adyanth commented on #194
Ah, a selfhosted git + CI/CD with ansible is always a solution. Nice!

[2021-06-07 11:02] quotengrote commented on #194
Probably not, but could bind-mount the files.

[2021-06-07 11:02] adyanth commented on #194
Yeah, gotcha.

[2021-06-08 07:31] Starker3 commented on #122
I'm having a similar issue as @auanasgheps
I've replaced the favicon and all other icon files in the /icons folder.
When loading homer in a new browser tab, the original homer favicon is originally loaded. Ctrl+F5 reloading the page causes the correct favicon to load.

However, this cannot be done on mobile, so adding the homer dashboard link as a bookmark on a mobile homescreen doesn't use the fa

[2021-06-08 07:45] fbartels commented on #122
this is because these files get cached by the service worker

[2021-06-09 02:47] damomato opened #230 "Error: : [object ReadableStream]"
Hi, this error is popping up. I installed using Docker on DSM 6.2.4 and haven't made any changes to the config file.

Docker-compose
[code]

![image](https://user-images.githubusercontent.com/85538685/121284427-69b39000-c90f-11eb-810f-cf2780bbb87d.png)

Anyone have any suggestions to fix?

Thanks

[2021-06-09 22:56] jeff-h commented on #152
This is a little broken for me; when I load my second page, the group headings change correctly, and the number of items change correctly, but the service items themselves carry over from the previous page.

In other words, the second page displays the correct group headings, and the correct number of items, but the items themselves are all from the first page.

[2021-06-09 23:12] jeff-h commented on #152
Whilst experimenting with the bug I did notice that the second page displays perfectly if I copy all its items into the first page.

[2021-06-13 12:09] CCCoderDE commented on #230
Double check that the config.yml exists in the correct location. If that is the case, check that your browser is targeting the right path (using dev console in browser)

[2021-06-13 19:05] Aidan-B commented on #161
Hey @bastienwirtz! I would love to tackle this. I have been playing around and have some ideas.
Just so we are on the same page here:

- Each group would have its own collapsible panel
- Clicking the group heading would hide/show the list of services for that group. It would not have an effect on the other groups.
- There is some indicator (eg. fa-chevron-down/up) to show if a group is collapsed
-

[2021-06-13 21:35] 0ghj04hjyg9045 opened #231 "Dashboard not showing after reboot"
I rebooted my Pi, did `npx serve` again in the homer folder and it now doesn't show the Homer page but a file index (?)
![2021-06-13_23-34-44](https://user-images.githubusercontent.com/77126235/121822558-37978a80-cc8f-11eb-94de-2e2ebe3a9d9d.png)

[2021-06-13 21:36] 0ghj04hjyg9045 commented on #231
I forgot it was running in the subfolder homer...

[2021-06-13 21:36] #231 closed

[2021-06-14 00:56] rgriffogoes commented on #230
I've just installed the docker version of homer and the automatic example was giving me that error when clicking the "another page!" link on menu.

As CCCoderDE suggested, I looked at dev console in browser and was able to see that Homer was looking for the `additionnal-page.yml` file which was not there - once I renamed the `additionnal-page.yml.dist` file, it worked fine!

[2021-06-14 01:27] bhistoricalservices commented on #230
Can confirm this just worked for me as well.

[2021-06-14 05:17] poldim opened #232 "Authelia/Nginx redirects to download the /assets/config.yml file rather than display the page"
I have Nginx with Authelia 2FA.  When I goto homer.TLD.com, I'm prompted for auth through Authelia.  After successful login, I get a download prompt for my yml config file at
https://homer.TLD.com/authelia/?rd=https://homer.TLD.com/assets/config.yml

From what I understand, Authelia just redirects back to the requesting site which nginx is just proxying to `proxy_pass          http://<LAN IP>:80;`

[2021-06-14 07:35] damomato commented on #230
What exactly do you change? I'm not great with dev console and can't seem to find where this is. I may need step by step instructions.

[2021-06-16 17:57] AustinSaintAubin commented on #207
Same issue with other external sites.

[code]

[2021-06-18 19:38] dbrennand commented on #194
Just ran into this issue.

After adding the header `Access-Control-Allow-Origin: http://dash.net.domain.tld` I'm getting the following error:

`SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data`

Any suggestions on troubleshooting this?

[2021-06-18 23:10] Red-Hide opened #234 "Can't use custom images for links of the navbar"
Can't use local files for the icons of the links of the navbar

[2021-06-19 22:41] kkoshelev opened #236 "Homer shows - You're offline friend - error"
I use vouch proxy for authentication and when credentials expire instead of redirect to auth page Homer shows "You're offline friend" error.

Nginx reverse proxy config:

[code]

The same config works with any other app but Homer. I suspect that has something to do with caching.

[2021-06-21 03:56] jeff-h commented on #152
I realised it happens only on horizontal layout mode.

I am getting the following in the console, when I click on my header link to the second page, and then also when I click back to the front page:

[code]

[At this line](https://github.com/bastienwirtz/homer/blob/main/src/App.vue#L76) I tried replacing:

[code]

with

[code]

and the problem went away entirely. Unfortunately it's been years sin

[2021-06-21 08:44] chris-si commented on #236
The same behavior occurs with Traefik as reverse proxy and Authelia as auth server. There is no redirect happening after session/token expiration or a manual logout.

[2021-06-21 11:33] whiskywaffel commented on #207
none of these work:
[code]
`https://xkcd.com/info.0.json` isn't working either.

Inside the container i can curl to the addresses and am getting the correct resposes
![image](https://user-images.githubusercontent.com/37911718/122754794-65cf2880-d294-11eb-9d64-13137191bff2.png)
![image](https://user-images.githubusercontent.com/37911718/122754451-f8bb9300-d293-11eb-80bc-2c4b7b02c7d2.png)

Only url

[2021-06-21 17:39] luixal commented on #152
Umm... quite curious.

**DISCLAIMER: ** this is just an idea of what can be happening, haven't really dug into it.

If the problem went away when you used the `item` object as key instead of the `index` it should point that there are kind of _"duplicates"_, this is, two elements using the same `key` which is used by Vue to handle this kind of stuff.

I guess the problem is somehow related to [this

[2021-06-21 23:41] Zutart commented on #236
I can confirm the same behavior behind Aurelia

[2021-06-22 01:15] jeff-h commented on #152
I reckon the two attached config files will hopefully replicate this pretty easily. I'll also put up a repo with the compiled `/dist` directory in case that's easier.

Really appreciate your time looking at this!

[infra-page.yml.txt](https://github.com/bastienwirtz/homer/files/6690280/infra-page.yml.txt)
[config.yml.txt](https://github.com/bastienwirtz/homer/files/6690281/config.yml.txt)

(Sorry,

[2021-06-22 14:57] hydrian commented on #161
I would also say have each service group has a default collapse state setting in the YAML config.

I have a few service groups that are just for administration for my family's home network dashboard. They really don't need them showing expanded by default.

[2021-06-24 15:38] mguaylam commented on #236
I have the same issue with Authelia. I read there was some work on it but ultimately, I think it’s a caching issue as well.

[2021-06-24 15:44] Zutart commented on #236
Yeah @mguaylam looks like this is the same as issue #226 (apologies for not seeing that first initially). I finally figured out that a hard reload (Cntl+Shift+R in Chrome) gets me back to the authentication window properly. Unfortunately unable to do the same yet on mobile, so the only workaround I've found is to either go to the Authelia domain directly to authenticate or just load into another s

[2021-06-24 16:05] mguaylam commented on #236
Yeah that’s what i’m forced to as well. To go manually to the /auth/ page of Authelia. Only issue, I can’t do that on iOS. The web app won’t allow that.

[2021-06-26 16:13] luixal commented on #152
Hi  @jeff-h , I had some time today to try your config files and... no bug on my side, they work like a charm (items showed accordingly, no warn/error messages on the console... nothing weird).

I try then with a fresh clone of the master branch and then with a built version using just the dist folder (I used `npx serve` to serve it).

No idea why it isn't working on your side, I didn't change a c

[2021-06-26 22:31] jeff-h commented on #152
Hey, thanks for trying it. You definitely put it into horizontal layout mode then changed between the two pages ("Main" & "Infrastructure" in my demo)?

[2021-07-04 09:17] luixal commented on #152
Hi!

That was it, I didn't try the horizontal view! The problem is easy to see (even Vue extension for vscode marks it), but it's not so straight forward to solve.

Vertical and horizontal views are coded quite differently. In the case of the vertical layout, this error does not happen because elements are wrapped in a `div` element and it has the `:key="group.name"` attribute so Vue can handle th

[2021-07-04 10:02] luixal commented on #152
I finally put together a possible solution, @jeff-h you can try it out in the [PR linked above](https://github.com/bastienwirtz/homer/pull/241) :)

[2021-07-04 22:22] jeff-h commented on #152
PR works flawlessly for me. Thanks so much for your work on this!

[2021-07-05 11:15] luixal commented on #152
Great to hear that!

Let's wait for @bastienwirtz to review the PR and merge it if he finds the solution is ok along the rest of the project :)

[2021-07-08 04:10] eburgueno opened #242 "Google Analytics?"
Hello! I came across this project from the Awesome Self-Hosted list, and I really like it.

Is there any way to integrate Google Analytics? I saw you have `workbox-google-analytics` in your yarn.lock, but I'm not sure if that's relevant, nor how to add the gtag to the site.

Thank you!

[2021-07-13 17:09] adyanth commented on #162
Same issue with organizr setting a domain wide cookie. Causes the http server to trip. Until I delete the cookie, it won't allow me in.

[2021-07-14 06:19] hulmgulm commented on #242
The idea behind HOMER is to allow you to create your personal home page. Why would you want to include Google Analytics in your personal home page?

[2021-07-14 06:53] shaftspanner commented on #232
I started getting the same issue yesterday. Authelia authentication succeeded but it downloads the yml rather than displaying the page. If the Url is re-enter Ed, the page loads correctly.

[2021-07-14 08:38] shaftspanner commented on #232
It looks like Authelia is redirecting to the wrong place.  The URL that triggers the download for me is:
https://homer.myurl.com/authelia/2fa/one-time-password?rd=https%3A%2F%2Fhomer.myurl.com%2Fassets%2Fconfig.yml

The URL entered that triggered the authelia authentication for me is https://homer.myurl.com

[2021-07-14 09:42] eburgueno commented on #242
Because it could be used for more than a personal homepage? How about a simple launcher of internal apps in a SME? Or perhaps you want to make a public "my favorites" site and want to track its usage? Maybe you're just playing with GA and want to understand how you can visualise user behaviour flows? Plenty of possible reasons.

[2021-07-14 13:38] nh-matti opened #247 "Ability to show content of file"
It would be great not only have the option to parse the jokes of Chuck Norris through the API. Is it possible to show an content of an text file?

`content: $(cat textfile.txt)`

[2021-07-14 14:00] bastienwirtz commented on #247
Hi @nh-matti !
We can't do that because it's client side web application only. So we can't directly read files from the filesystem. But you can workaround this as it doesn't have to be a real API. You can just add  a `json` file with your content (`{ content: "blablabla" }`) in the asset folder and set the path to this file instead of the Chuck Norris API url.
Files in the asset folder are served

[2021-07-14 14:19] bastienwirtz commented on #227
Hi @nodecentral!

It's not possible to run command or script because Homer is just static HTML/CSS. There is no server side, so all we can do is ajax request to some endpoint. If you have some sort of server / endpoint allowing you to run commands, we could add a tile for that.
Maybe something like https://jacobsalmela.com/2020/09/15/introducing-sampo-a-bash-api-server-that-runs-your-shell-scripts

[2021-07-14 14:48] nh-matti commented on #247
you're my hero, this works as it should be

[2021-07-14 14:53] bastienwirtz commented on #247
I'm glad it worked!

[2021-07-14 14:53] #247 closed

[2021-07-14 17:53] danielshughes opened #248 "Custom services in Docker"
How can i use the cutsom services e.g. Radarr, Sonarr etc. in Docker?

I can't see the src/components/ folder in the mounted www/assets/ folder and when adding type"Sonarr" to my Sonarr entry it makes it disappear

[2021-07-14 19:28] fbartels commented on #227
Although rather designed for non-human interaction, maybe https://github.com/adnanh/webhook could be interesting as well.

Maybe a service for Homer could be developed that can call could make a predefined call (incl. headers) instead of opening a link

[2021-07-14 19:30] fbartels commented on #248
Yes, that file is indeed not present in the compiled version, you can only see it in the source. Maybe your container is too old and does not yet have the Sonarr plugin?

[2021-07-14 19:31] fbartels commented on #236
I think its worth checking out if https://github.com/bastienwirtz/homer/pull/186 fixes this issue for the other posters.

[2021-07-14 19:32] fbartels commented on #226
I think its worth checking out if https://github.com/bastienwirtz/homer/pull/186 fixes this issue for the other posters.

[2021-07-14 19:32] fbartels commented on #205
Issue could be closed I would say

[2021-07-14 19:42] adyanth commented on #229
I think #186 fixes this too.
Can confirm with better clarity soon.

[2021-07-14 21:01] crwallace2 commented on #248
I updated to the newest docker container today, and you have to add 2 lines to the config.
[code]

I am running behind a reverse proxy also so I had to add some headers in the nginx proxy conf file as well to deal with CORS issues.

[code]

[2021-07-15 00:24] xconverge opened #249 "Documentation for ping service is wrong"
https://github.com/bastienwirtz/homer/blob/main/docs/customservices.md#ping

I just went to check to see what the ping service was all about and theres a copy paste error here. I would open a PR but I dont know what to put there instead, oops!

[2021-07-15 04:20] poldim commented on #232
yea, I thought I was slick and tried to have nginx redirect me back to the original URL...but then that created a massive loop that would just crash the chrome window

[2021-07-15 06:59] bastienwirtz commented on #227
Nice find @fbartels. That looks exactly what @nodecentral is looking for :)

[2021-07-15 07:16] Toneti10 commented on #248
I am experiencing problems when configuring Sonarr. I am using Docker on DSM 7 (Synology) and homer returns the [following message](https://imgur.com/a/hKDpxEM):

[code]

My config.yml looks like:

[code]

Maybe I need to enter a suffix in the URL? Something additional in Sonarr config? My port number is `ZZZZ` and my Sonarr -> Settings -> General -> Security config is:

[code]

I created the home

[2021-07-15 07:40] beastboxio opened #250 "New Sonarr service CORS error"
The Sonarr service isn't working for me and gives the below error in browser (MS Edge).

`Access to fetch at 'http://192.168.1.2:8002/api/queue' from origin 'http://192.168.1.2:8001' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's c

[2021-07-15 10:48] waschinski commented on #248
Please open the developer tools in your browser and check the console/network tab for more details on the problem you are facing.

[2021-07-15 11:04] waschinski commented on #250
First off, I wonder why credentials mode is set to `include` in the Sonarr service when `apikey` is being used. My understanding of that credentials mode setting is that it will send the cookie for the requested domain/IP. Are you logged in to Sonarr so you do have a valid cookie?

I don't know if or how you can change it in Sonarr, but the error message basically tells you to change the `Access-C

[2021-07-15 12:34] Toneti10 commented on #248
Thanks! I got the same error as #250 so I'm going to follow up on that issue.

[2021-07-15 13:00] Toneti10 commented on #250
Same issue here.

After @waschinski comment I have investigated and I think it is related to the Sonarr's `Bind address` parameter (`Settings -> General -> Host -> Bind address` or `<BindAddress>` in the `config.xml`). The default value is `*` but if I change to the Synology IP, I am unable to start the Sonarr docker.

I am trying to figure out what is going on, but possible not a homer's issue.

[2021-07-16 07:15] grasshide commented on #250
Wouldn't it be easier to just add the internal path to the container in the config?
- name: "Sonarr"
  url: "http://sonarr.example.com" # this is the external url that humans access
  internal_url: "http://sonarr:8989" # internal url that is not exposed to the world. It can only be accessed within the local/docker network
  type: "Sonarr"
  apikey: "<MyAPIKey>"

This way it wouldn't be necessary t

[2021-07-16 07:21] fbartels commented on #250
@grasshide the problem is that there is no server side component that could make this request, but its the webbrowser that needs to do it. The proper way to get around cors would be to have homer and sonarr running on the same domain, just on different paths.

[2021-07-16 07:41] waschinski commented on #250
Yes, same domain but different path is a way to get around the whole CORS problematic at all.

In order to get it running on different subdomains or ports on the same IP though, response headers need to be set correctly which can be quite a pain in the neck.

For my homer services (AdguardHome, Mealie, Speedtest Tracker and PaperlessNG) I use a reverse proxy setup via traefik, running them all on

[2021-07-16 09:33] nodecentral commented on #227
Hi all, many thanks for giving me some ideas, and @fbartels I like the webhook s route, I just need to know how to do it all. Seeing as I’m running the Docker instance of Homer, does the following approach seem right ?

1) Access Homer via the Docker command line and install webhook
[code]
2) Create the shell/bash script you want to use/execute, and use a text editor to add your required script/co

[2021-07-16 17:27] fbartels commented on #227
No, that is unnecessarily complicated. The way with less maintenance would be to have both homer and webhook in a docker compose file and just speak over the network with it. :8888 for homer and :9000 for webhook for example. Bonus points for strapping a reverse proxy infront to not have to remember ports.

[2021-07-16 21:59] nodecentral commented on #227
Hi @fbartels

How exactly would having the two together look within a Docker compose, the Docker run command I had was as follows?.
[code]

[2021-07-17 20:02] fbartels commented on #227
There is a handy tool at https://www.composerize.com/ that can convert docker run commands into composer definitions (which you would then still need to merge into a single file. With your command above it could be:

[code]

Although the network_mode and the port definition kind of cancel themselves out. You should use one or the other.

Below that you could add the following:

[code]

[2021-07-18 22:18] k4j8 commented on #122
@Starker3 I got custom icons working on mobile by copying `android-chrome-512x512.png` to `icon-any.png`.

[code]

[2021-07-18 22:57] Starker3 commented on #122
Thanks for the tip. I already had all of the correct fav icons setup using a fav icon generator that correctly generates fav icons for all platforms)

The issue I had was that the service worker on the browser had the previously set fav icons cached. Clearing the service workers cache fixed the issue.

[2021-07-19 16:21] auanasgheps commented on #122
How have you fixed this on mobile?

[2021-07-19 18:53] Zutart commented on #226
Hey @fbartels,

Unfortunately, it doesn't appear as if the issue is resolved. I pulled down the latest docker image from b4bz/homer and recreated the container. I still get the error message from the original post and I'm unable to get back to the Authelia authorization screen even if I do a hard refresh (doing this in Chrome, Win 10).

[2021-07-20 03:39] adyanth commented on #229
It does not. Just had the config.yml downloaded after auth.

[2021-07-22 03:01] Na0mir opened #251 "Sonarr service return nothing"
Hello !
I wanted to use your new Sonarr service but does not return any value for me :(
After figuring out and fix the CORS issues with this configuration in my Nginx Proxy Manager config:

I still have nothing on the tile, except this error message in the console:
![image](https://user-images.githubusercontent.com/6453724/126584080-2244cb35-3a4d-417f-ae0d-daa5adb72715.png)

I tried to request the

[2021-07-24 05:51] crwallace2 commented on #251
It shows a count of queued downloads (if there are any) in the top right corner of the Sonarr item.  If there is no activity in the queue then it just shows up like normal.

[2021-07-27 15:48] rpoovey commented on #250
I had to use the following "option pass-through" on each backend using HAProxy plugin in OPNSense. Field can be found under the backend pool advanced settings. Hope this helps others.

`# BEGIN CORS
    http-response set-header Access-Control-Allow-Origin "https://homer.yourdomain.com"
    http-response set-header Access-Control-Allow-Headers "x-api-key, Origin, X-Requested-With, Content-Type, Acc

[2021-07-29 02:35] jeryd commented on #162
Fresh install. Same thing happened to me. I have no idea how to fix it.

[2021-08-01 00:25] flyingfishflash opened #252 "Category List Mode / Exception"
Having the following configuration results in an exception being thrown in the Javascript.

The exception is only triggered in 'Category List Mode' where the service names are in a vertical list and the items flow from left to right. (Not the default column grouping).

There also must be two pages.

The exception is triggered when you return to the '#' route from the second ('additional-page').

U

[2021-08-01 10:40] jboesh commented on #236
I still have the same problem.
could the message You're offline friend, not disappear completely? I don't need to know through Homer whether I'm offline, I notice that in a different way.
Every time I look at Homer, sit on another tab for 2 seconds and back again, I get that message.
Starting to get pretty annoying

thanks in advance

[2021-08-02 06:16] Na0mir commented on #251
I still have the same with 1 item in the queue:

![image](https://user-images.githubusercontent.com/6453724/127812693-0f44f425-b20d-40c5-b38f-ca03835d10e8.png)
![image](https://user-images.githubusercontent.com/6453724/127812733-5d92d14c-a1b3-4032-b461-14de4b1d55d2.png)
![image](https://user-images.githubusercontent.com/6453724/127812778-2cca4a5d-e13b-4e56-9a4f-23664da0f5c5.png)

[2021-08-02 11:10] mnul opened #253 "Nginx deployment doesn't honor config.yml"
Hi all,
I have deployed homer using nginx in `/var/www/` on Debian Buster. But no matter how I change the configuration file (even delete it) it just shows the example dashboard.
My installation process was according to instructions. wget latest zip, unzip to `/var/www`, `chown -R www-data`. I've copied over the varoius example files.
Nginx version is `nginx/1.14.2`
My nginx config `/etc/nginx/con

[2021-08-02 11:16] #253 closed

[2021-08-09 19:59] grandmastermarco opened #256 "Server status icon"
I would love to see an option included to see if hosts / servers / services are offline / online.
E.g. There could be an option in the config.yml to activate status indicator in front of the service.
An idea would be a simple indicator similar to this one: [https://community.spiceworks.com/how_to/2254-how-to-show-server-status-on-your-portal](url)
Sadly i do not understand enough of coding to cont

[2021-08-11 12:50] MoryCorp opened #257 "[API] Message with multiple objects in json"
Hey,

I'm trying to display the result of this request in my dashboard :

https://api.coingecko.com/api/v3/simple/price?ids=leash%2Cshiba-inu%2Cbone-shibaswap&vs_currencies=usd

Example :

[code]

This is the code I am using in the config :

[code]

So is there a way to display the 3 objects ?
I am only able to select on in the content by using the name (leash) for example

Cheers !

[2021-08-15 03:28] ThomasDeNoobNL commented on #249
Hey @stubbfel, any chance you could help a bit here? Some people, including myself, have a lot of trouble with figuring out how to use your ping service. Thanks for making it btw, it has been on my wishlist for quite a while!

[2021-08-15 07:24] stubbfel commented on #249
@ThomasDeNoobNL  sure , i hope i can help.
Add `type = "Ping"` to the service item inside the config yml file, like:
[code]
The thr ping service is enable.
Be aware of the CORS issue, whe you try to ping a url which has another domain name as domain name of your homer service (see
https://github.com/bastienwirtz/homer/pull/240#issuecomment-880156674 ).

In that case may pr #255 can help you.

[2021-08-15 17:28] #250 closed

[2021-08-16 07:01] ThomasDeNoobNL commented on #249
@stubbfel Thank you! Turns out I was doing it correctly, and it is indeed the CORS issue. I hope your pull request gets merged quickly so that it becomes usable!

[2021-08-20 13:18] justsomebody42 opened #261 "Update docker image to be able to run as non-root user"
Hi,

I'm running 21.07.1 in a Kubernetes cluster.
It works super smooth and I'm very happy with the application itself.

I would like to run the image as non-root user.
Are there plans to improve the security of the docker image?

My current Deployment looks like this and I'd be happy, if I could turn on runAsNonRoot and enable runAsUser instead of relying on the endpoint script to finally run the

[2021-08-22 17:45] Compizfox commented on #162
Same problem here. It indeed seems to be causes by cookies set by other websites/webapps hosted on the same domain.

For now, I've worked around it by letting Apache (which I'm using as a reverse proxy) remove the cookie header from the request, like this:

[code]

I'm sure you can do something similar in other webservers.

[2021-08-23 17:50] PartTimeDataScientist commented on #157
My setup with Traefik and Authelia works in principle but I have an issue that I think has to to with Homer being an SPA with caching. Everything works as expected on the 1st accees. If however I have accessed Homer once (e.g. from my internal lan which does not require authelia login) the 302 redirect to the authelia is not followed but the "You're offline friend" message is shown.

Did you exper

[2021-08-27 20:20] pvklink opened #264 "Error starting another page"
Hi when i start the default link "another page", i get an error. (#additionnal-page)
The rest of the dashboard works GREAT !

Error: Not Found: [object ReadableStream]

this is my docker compose file
dashboard:
    image: b4bz/homer:latest
    container_name: dashboard
    restart: unless-stopped
    ports:
    - "5000:8080"
    volumes:
    - "/home/pi/pvkmenu/volumes/dashboard:/www/assets"
    e

[2021-08-29 12:58] samcro1967 opened #265 "Question - Spacing between rows"
Is there any way to add spacing between the rows so they are not touching?

[2021-08-30 06:45] #218 closed

[2021-08-30 14:30] nodecentral opened #266 "Custom Services - Generic template to get live information / status via a http get request?"
Hi,

Is there a generic template or something I can use as a custom service for a number of my Homer tiles ?

https://github.com/bastienwirtz/homer/blob/3a8fa151f46c28274a418aa284c12fe71a827e95/docs/customservices.md

For example, within my home automation system, I have the ability to use a http request  to find out the status of specific power sockets that systems are plugged into. Some will ret